{% extends "base.html" %} {% block extra-header %}

{% endblock extra-header %} {% block content %}
<h2>Fluorescent Protein BLAST</h2>
<p>
  Use this tool to search for fluorescent protein sequences in the database that
  are similar to one or more query sequences. <br /><span
    class="small text-muted"
    ><strong>Note:</strong> Many sequences have been contributed by the
    community and not all sequences in the database are guaranteed to be correct
    or "official". Additionally, there may be variants of a given FP with
    "silent" (inconsequential) mutations that result in a slight mismatch
    between your plasmid and the sequence in FPbase.</span
  >
</p>

<div id="blast_app" class="mt-3"></div>

{% endblock content %} {% block javascript %}
<script>
  $(function() {
    FPblast.init('blast_app');
  });
</script>
{% endblock javascript %}
