{% extends "base.html" %}
{% load static i18n compress %}

{% block title %}{{ microscope.name }} on FPbase{% endblock %}
{% block meta-description %}A collection of spectra representing the microscope {{microscope.name}} on FPbase. {% endblock %}

{% block vendorcss %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.css" integrity="sha256-2K003H0jZA9S0f2CtcQ0zIYD65lfKdAA00qtDCPIMV0=" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock vendorcss %}


{% block container-class %}container-fluid spectrumpage microscopepage{% endblock %}

{% block content %}

<h2 class='text-center'>{{microscope}}</h2>

{% include 'proteins/_microscope_include.html' with embeddable=True %}

{% endblock content %}

{% block extrafooter %}
    {% if request.user.is_staff %}
      {% load admin_urls %}
      <a href="{% url 'admin:proteins_microscope_change' microscope.id %}">{{ microscope.name }} on admin</a><br>
    {% endif %}
{% endblock extrafooter %}


{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.js" integrity="sha256-R9uiXmQekNb8r352uyt9EW3yRd3VZL3NyU8N0Z5fMo0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script type="text/javascript">var scopespectra = {{ scopespectra|safe }};</script>

{% compress js %}
<script src="{% static 'js/microscope.js' %}"></script>
{% endcompress %}

{% endblock javascript %}
