<!DOCTYPE html>
{% load webpack_static from webpack_loader %}
{% load custom_static from protein_tags %}

<html lang="en">
  <head>
    {% block ga %}
      {% if not debug %}
        {% include "_ga.html" with ga_tracking_id=ga_tracking_id %}
      {% endif %}
    {% endblock ga %}
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ microscope.name }} - An FPbase Microscope</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A collection of spectra representing the microscope {{microscope.name}} on FPbase. ">
  <meta name="author" content="Talley Lambert">
  <meta name="copyright" content="Talley Lambert" />

  {% custom_static 'vendor' 'css' %}
  {% custom_static 'main' 'css' %}
  <link href="{% webpack_static 'css/style.min.css' %}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.css" integrity="sha256-2K003H0jZA9S0f2CtcQ0zIYD65lfKdAA00qtDCPIMV0=" crossorigin="anonymous" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/css/select2.min.css" rel="stylesheet" />

  <style>#logolink {opacity: 0.6;width: 160px;}#logolink:hover {opacity: 1;}#logolink a:hover {text-decoration: none;}</style>
</head>
<body>
  <div class="container spectrumpage microscopepage">
    <div id="logolink" class='mx-auto mt-2'><a href="{{ request.scheme }}://{{ request.get_host }}" target="_blank">{% include "_logo_prestyled.html" %}</a><br></div>
    <h4 class='text-center' style="font-weight: 500;">{{microscope}}</h4>
    {% include 'proteins/_microscope_include.html' with embeddable=False %}
  </div>

  {% custom_static 'vendor' 'js' %}
  {% custom_static 'embedscope' 'js' %}

</body>
</html>
