{% extends "base.html" %}
{% load static i18n compress favit_tags %}

{% block title %}{{ microscope.name }} on FPbase{% endblock %}
{% block meta-description %}A collection of spectra representing the microscope {{microscope.name}} on FPbase. {% endblock %}

{% block vendorcss %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.css" integrity="sha256-2K003H0jZA9S0f2CtcQ0zIYD65lfKdAA00qtDCPIMV0=" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock vendorcss %}


{% block container-class %}container-fluid spectrumpage microscopepage{% endblock %}

{% block content %}

<h2 class='text-center'>{{microscope}}</h2>

{% if object.description %}
    <div class="container font-italic text-muted text-center">
        {{object.description}}
    </div>
{% endif %}

<div class="spectra-wrapper">
  <div class="spectra container clearfix mb-3">
    <div id="spectra">
      <div class="svg-container">
        <div id="y-zoom-slider"></div>
        <svg id="spectrasvg"></svg>
      </div>

      <div class="focusnote">click and drag to zoom</div>

      <div class='float-left' style='font-size:1.55rem'>
        <a href="#" class='text-info' data-toggle="tooltip" data-placement="right" title="Settings" style="margin-left: 1.2rem; position:relative; top: -4px"><i class="fa fa-cog float" data-toggle="modal" data-target="#settingsModal"></i></a>
      </div>

      <div class="btn-group btn-group-xs btn-group-toggle scale-btns" data-toggle="buttons">
        <label class="btn btn-info active">
          <input type="radio" id="setLinearScale" autocomplete="off" checked value='linear'> linear
        </label>
        <label class="btn btn-info">
          <input type="radio" id="setLogScale" autocomplete="off" value='log'> log
        </label>
      </div>
      <div class="float-right mr-2"><button class='btn btn-xs btn-info resetXdomain'>Reset Zoom</button></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="input-group mb-3 col-12 col-md-6">
      <div class="input-group-prepend">
        <label class="input-group-text text-white bg-info" for="inputGroupSelect01">Fluor<span class="d-none d-lg-inline">ophore</span></label>
      </div>
      <select class="custom-select data-selector fluor-selector" id="fluor-select" tabindex="-1" aria-hidden="true">
        <option value="">-----</option>
        {% for probe in probeslugs %}
        <option value="{{ probe.slug }}">{{ probe.name }}</option>
        {% endfor %}
      </select>
      <div class="input-group-append">
        <div class="input-group-text">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input 2pcheck" id="2pcheck" value="2p">
            <label class="custom-control-label" for="2pcheck">2<span class="d-none d-sm-inline">p</span></label>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-6'>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Brightness:</span>
        </div>
        <input type="text" disabled class="form-control" id="efficiency-text" placeholder="Select a fluor and config..." aria-label="Efficiency Info" aria-describedby="efficiency-text">
        <div class="input-group-append">
          <a href="#" data-toggle="modal" data-target="#infoModal"><button class="btn btn-outline-info" type="button"><i class="fas fa-info"></i></button></a>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text text-white bg-info" for="inputGroupSelect01"><i class="fas fa-list mr-1 mr-sm-2 mr-md-3"></i>Config<span class="d-none d-md-inline">urations</span></label>
        </div>
        <select class="custom-select" id="config-select">
          <option value="">-----</option>
          {% for config in microscope.optical_configs.all %}
          <option value='{{config.id}}' data-filters='[{% for fp in config.filterplacement_set.all %}[{{fp.filter.id}}, "{{fp.path}}", {{fp.reflects|lower}}]{% if not forloop.last %},{% endif %}{% endfor %}]' data-laser='{{config.laser|default_if_none:''}}' data-light='{{config.light.id}}' data-camera='{{config.camera.id}}'>{{config}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text text-white bg-info" for="inputGroupSelect01"><i class="fas fa-lightbulb"></i><span class="d-none d-lg-inline ml-2">Light Source</span></label>
        </div>
        <select class="custom-select data-selector" id="light-select">
          <option value="">-----</option>
          {% for laser in microscope.lasers %}
            <option value='laser-{{laser}}' data-type='laser'>{{laser}} laser</option>
          {% endfor %}

          {% if lights %}
              {% for light in lights %}
              <option value='{{light.slug}}' data-type='light' data-id='{{light.id}}'>{{light}}</option>
              {% endfor %}
          {% else %}
              {% for light in microscope.lights.all %}
              <option value='{{light.slug}}' data-type='light' data-id='{{light.id}}'>{{light}}</option>
              {% endfor %}
          {% endif %}

          {% if not microscope.lasers %}
              <option value='' disabled>No lasers added to this config</option>
          {% endif %}
        </select>
        <div class="input-group-append">
          <div class="input-group-text" data-toggle="tooltip" data-placement="top" title="Merge light source and excitation filter spectra">
            <div class="custom-checkbox">
              <input type="checkbox" id="merge-light-exfilter" checked>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text text-white bg-info" for="inputGroupSelect01"><i class="fas fa-camera"></i><span class="d-none d-lg-inline ml-2">Detector</span></label>
        </div>
        <select class="custom-select data-selector" id="camera-select">
          <option value="">-----</option>
          {% if cameras %}
              {% for camera in cameras %}
              <option value='{{camera.slug}}' data-id='{{camera.id}}'>{{camera}}</option>
              {% endfor %}
          {% else %}
              {% for camera in microscope.cameras.all %}
              <option value='{{camera.slug}}' data-id='{{camera.id}}'>{{camera}}</option>
              {% endfor %}
          {% endif %}
        </select>
        <div class="input-group-append">
          <div class="input-group-text" data-toggle="tooltip" data-placement="top" title="Include detector in efficiency calculation">
            <div class="custom-checkbox">
              <input type="checkbox" id="scale-camera" checked>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row filters">
    <div class="col-12 col-sm-6 col-md-4 order-sm-2 order-md-1 mb-3">
      <div class="card">
        <div class="card-header text-white bg-info">
          Ex<span class="d-inline d-sm-none d-md-inline">citation</span> Filters
        </div>
        <div class="list-group list-group-flush">
          {% for filt in microscope.ex_filters.all %}
          <li class="list-group-item">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input filter-selector ex-filter" id="listfilter-{{filt.id}}" value="{{filt.slug}}">
              <label class="custom-control-label filter-label" for="listfilter-{{filt.id}}"><span class="d-inline d-sm-none d-lg-inline">{{ filt.manufacturer }} </span>{{ filt.part }}<a href="{{ filt.get_absolute_url }}" class='external-link' target="_blank"><i class="fas fa-external-link-alt"></i></a></label>
            </div>
          </li>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 order-sm-1 order-md-2 mb-3">
      <div class="card">
        <div class="card-header text-white bg-info">
          Dichroic<span class="d-inline d-md-none d-lg-inline"> Mirror</span>s
          <span class='float-right'><small>invert</small></span>
        </div>
        <div class="list-group list-group-flush">
          {% for filt in microscope.bs_filters.all %}
          <li class="list-group-item">

            <div class="row dichroic-row">
              <div class="col-10">
                <div class="custom-control custom-checkbox mr-sm-3">
                  <input type="checkbox" class="custom-control-input filter-selector bs-filter" id="listfilter-{{filt.id}}" value="{{filt.slug}}">
                  <label class="custom-control-label filter-label" for="listfilter-{{filt.id}}"><span class="d-none d-sm-inline d-md-none d-xl-inline ">{{ filt.manufacturer }} </span>{{ filt.part }}<a href="{{ filt.get_absolute_url }}" class='external-link' target="_blank"><i class="fas fa-external-link-alt"></i></a></label>
                </div>
              </div>
              <div class="col-2">
                <span class="switch">
                  <input type="checkbox" class="switch-sm invswitch" id="invswitch-filter-{{filt.id}}" value="{{filt.slug}}">
                  <label for="invswitch-filter-{{filt.id}}"></label>
                </span>
              </div>
            </div>

          </li>

          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 order-sm-3 order-md-3 mb-2">
      <div class="card">
        <div class="card-header text-white bg-info">
          Em<span class="d-inline d-sm-none d-md-inline">mission</span> Filters
        </div>
        <div class="list-group list-group-flush">
          {% for filt in microscope.em_filters.all %}
          <li class="list-group-item">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input filter-selector em-filter" id="listfilter-{{filt.id}}" value="{{filt.slug}}">
              <label class="custom-control-label filter-label" for="listfilter-{{filt.id}}"><span class="d-inline d-sm-none d-lg-inline">{{ filt.manufacturer }} </span>{{ filt.part }}<a href="{{ filt.get_absolute_url }}" class='external-link' target="_blank"><i class="fas fa-external-link-alt"></i></a></label>
            </div>
          </li>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <a href="#" class='text-muted small'><span data-toggle="modal" data-target="#embedModal">Embed this page on your website</span></a>
</div>


<div class="hidden" id='eyeSVG'><i class="fas fa-eye"></i></div>
<div class="hidden" id='linkSVG'><i class="fas fa-external-link-alt"></i></div>
<svg height="8" width="8" xmlns="http://www.w3.org/2000/svg" version="1.1"> <defs> <pattern id="crosshatch" patternUnits="userSpaceOnUse" width="8" height="8"> <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPgogIDxyZWN0IHdpZHRoPSc4JyBoZWlnaHQ9JzgnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDggOFpNOCAwTDAgOFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg==" x="0" y="0" width="8" height="8"> </image> </pattern> </defs> </svg>
<svg height="5" width="5" xmlns="http://www.w3.org/2000/svg" version="1.1"> <defs> <pattern id="lightstripe" patternUnits="userSpaceOnUse" width="5" height="5"> <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==" x="0" y="0" width="5" height="5"> </image> </pattern> </defs> </svg>
<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1"> <defs> <pattern id="diagonal-stripe-r" patternUnits="userSpaceOnUse" width="10" height="10"> <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSdibGFjaycvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J3doaXRlJyBzdHJva2Utd2lkdGg9JzMnLz4KPC9zdmc+" x="0" y="0" width="10" height="10"> </image> </pattern> </defs> </svg>

<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1"> <defs> <pattern id="diagonal-stripe-l" patternUnits="userSpaceOnUse" width="10" height="10" patternTransform="rotate(90)"> <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSdibGFjaycvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J3doaXRlJyBzdHJva2Utd2lkdGg9JzMnLz4KPC9zdmc+" x="0" y="0" width="10" height="10"> </image> </pattern> </defs> </svg>


<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingsModalLongTitle"><strong>Settings</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="optionstab">
        <div id='options-form'>
        </div>
        <p class="text-muted small"><em>Note: When scaling to EC or QY, dyes/probes lacking EC/QY values in the database will disappear on the graph!</em></p>
        <a href="" class='text-secondary font-weight-bold small switchmodal'>Embed this page in your website!</a>
      </div>
      <div class="modal-footer">
        {% if object.owner.id == request.user.id %}
            <a href="{% url 'proteins:updatemicroscope' object.id %}"><button class='btn btn-info btn-sm'>Edit Configurations</button></a>
            <a href="{% url 'proteins:deletemicroscope' object.id %}"><button class='btn btn-danger btn-sm'>DELETE MICROSCOPE</button></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLongTitle"><strong>Efficiency Calculations</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="optionstab">
        <p>notes: excitation efficiency doesn't take illumination power into account (so an excitation filter doesn't reduce the efficiency of a laser).  brightness doesn't care about expression, bleaching, environment...</p>
      </div>
    </div>
  </div>>
</div>

<!-- Modal -->
<div class="modal" id="embedModal" tabindex="-1" role="dialog" aria-labelledby="embedModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="embedModalLongTitle"><strong>Embed this microscope</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center" id="optionstab">
        <p>Include this page in your website by pasting the following code wherever you'd like the page to appear:
          <div class="card mb-3">
          <code style="font-size: large; padding: 5px 15px;"><xmp style="white-space: pre-wrap"><iframe src="{{ request.scheme }}://{{ request.get_host }}{% url 'proteins:microscope-embed' object.id %}" frameborder="0" style="position: relative; height: 100%; width: 100%;"></iframe></xmp></code>
          </div>
        <p class='mr-2 ml-2'><small><em>Note: pay attention to the height/width of the parent element.  In some cases, the iframe may appear truncated if inserted into a div with smaller height. You may need to adjust the height parameter to match the content of the microscope page (i.e. increase height until the iframe scroll bar disappears)</em></small></p>
        </p>
      </div>
    </div>
  </div>
</div>




{% endblock content %}

{% block extrafooter %}
    {% if request.user.is_staff %}
      {% load admin_urls %}
      <a href="{% url 'admin:proteins_microscope_change' microscope.id %}">{{ microscope.name }} on admin</a><br>
    {% endif %}
{% endblock extrafooter %}


{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.js" integrity="sha256-R9uiXmQekNb8r352uyt9EW3yRd3VZL3NyU8N0Z5fMo0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

{% compress js %}
<script src="{% static 'js/microscope.js' %}"></script>
{% endcompress %}

<script type="text/javascript">var scopespectra = {{ scopespectra|safe }};</script>

<script type="text/javascript">
  d3.selection.prototype.moveToFront = function() {
      return this.each(function() {
          this.parentNode.appendChild(this);
      });
  };

  d3.selection.prototype.moveToBack = function() {
      return this.each(function() {
          var firstChild = this.parentNode.firstChild;
          if (firstChild) {
              this.parentNode.insertBefore(this, firstChild);
          }
      });
  };
  Array.prototype.clean = function(deleteValue) {
    for (var i = 0; i < this.length; i++) {
      if (this[i] == deleteValue) {
        this.splice(i, 1);
        i--;
      }
    }
    return this;
  };

  function autoSizeText() {
    var el, elements, _i, _len, _results;
    elements = $('.filter-label');
    if (elements.length < 0) {
      return;
    }
    _results = [];
    for (_i = 0, _len = elements.length; _i < _len; _i++) {
      el = elements[_i];
      _results.push((function(el) {
        var resizeText, _results1;
        resizeText = function() {
          var elNewFontSize;
          elNewFontSize = (parseInt($(el).css('font-size').slice(0, -2)) - 0.5) + 'px';
          return $(el).css('font-size', elNewFontSize);
        };
        _results1 = [];
        var _c = 0;
        while (el.scrollHeight > el.offsetHeight & (_c < 20)) {
          _results1.push(resizeText());
          _c += 1;
        }
        return _results1;
      })(el));
    }
    return _results;
  };

  function selectedSlugs(){
    var selected = $(".filter-selector:checked, .data-selector :selected");
    var list;
    if ($("#merge-light-exfilter").prop('checked') && $('#light-select :selected').val() !== '') {
      list = selected.not('#light-select :selected, .ex-filter:checked').map(function(){ return $(this).val(); });
      var _concat = "merged/"
      _concat += $('#light-select :selected, .ex-filter:checked')
                    .map(function(i, o){ return o.value})
                    .get()
                    .reduce(function(a,b){ return a + "/" + b })
      if (options.normMergedEx){
        _concat += '/normed';
      }
      list.push(_concat)
    } else {
      list = selected.map(function(){ return $(this).val(); });
    }
    return list.get().clean("");
  }

  function updateData(){
    var selected = selectedSlugs();
    // remove old data that isnt still in the array
    for (var i = data.length - 1; i >= 0; i--){
      if ($.inArray(data[i].slug, selected) == -1){
        data.splice(i, 1);
      };
    };
    // add new items
    deferreds = [];
    for (var n = 0; n < selected.length; n++){
      if (selected[n] && !dataHasSlug(selected[n])){
        if (selected[n].startsWith("laser")){
          updateCustomLaser(selected[n].replace("laser-", ""));
        } else if (selected[n].startsWith("merged")) {
          deferreds.push(addMerged(selected[n]));
        }
        else {
          deferreds.push(addItem(selected[n]));
        }
      }
    }
    return deferreds
  }


  function invertInverted(){
    var inverted = $(".invswitch:checked").map(function(){ return $(this).val(); }).get();
    for (var n = 0; n < data.length; n++){
      if (data[n].inverted & ($.inArray(data[n].slug, inverted) == -1)){
        data[n].values = invertData(data[n].values);
        data[n].inverted = false;
      } else if ((data[n].inverted === undefined || !data[n].inverted) & $.inArray(data[n].slug, inverted) > -1 ){
        data[n].values = invertData(data[n].values);
        data[n].inverted = true;
      }
    }
  }

  function updateChart(){
    var deferreds = updateData()
    if (deferreds){
      $.when.apply($, deferreds).then(function(){
        invertInverted();
        updateEfficiency();
        refreshChart();
        d3.selectAll(".subtype-pd").moveToBack();
        d3.selectAll(".subtype-qe").moveToBack();
        d3.selectAll(".subtype-eff").moveToFront();
      });
    } else {
      updateEfficiency();
    }

  }

  function updateEfficiency(){
    var a = calcExEmPaths();
    removeSubtypes('eff')
    var fluorslug = $("#fluor-select :selected").val();
    if (a.emvalues)
      var emeff = efficiency(a.emvalues, {slug: fluorslug, type: 'em'});
    if (a.exvalues)
      var exeff = efficiency(a.exvalues, {slug: fluorslug, type: 'ex'});
    var info = '';
    if (exeff){
      if (options.normMergedEx)
        exeff.values = normalizeSpectrum(exeff.values, options.normMergedScalar)[0]
      data.push(exeff);
      if (exeff.efficiency)
        info += 'Ex: ' + String(Math.round(exeff.efficiency * 1000) / 10) + '%'
    }
    if (emeff){
      data.push(emeff);
      if (emeff.efficiency){
        if (info)
          info +=', '
        info += 'Em: ' + String(Math.round(emeff.efficiency * 1000) / 10) + '%'
      }
    }

    if (emeff != undefined & exeff !=undefined){
      var b = exeff.efficiency * exeff.scalar * emeff.efficiency * emeff.scalar;
      if (b)
        info = String(Math.round(b/10) / 100) + ' (' + info + ')'
    }

    if (info != ''){
      $("#efficiency-text").attr('placeholder', info)
    }
    else{
      $("#efficiency-text").attr('placeholder', 'Select a fluor and config...')
    }

  }


  $(function() {

    $("#scale-camera").change(function(){
      updateEfficiency();
      refreshChart();
    });

    $(".invswitch, .filter-selector, .fluor-selector, #light-select, #camera-select, scaleToEC_input, scaleToQY_input, #merge-light-exfilter").change(function(){
      updateChart();
    });

    $('#config-select').change(function(){

      $('.filter-selector:checked').each(function(){
          $(this).prop("checked", false )
        });

      var selected = $(this).find(":selected")
      $.each(selected.data('filters'), function(i ,d){
        $("#invswitch-filter-" + d[0]).prop("checked", d[2] );
        $("#listfilter-" + d[0]).prop("checked", true );

      })
      var wave = selected.data('laser');
      var light = selected.data('light');
      var camera = selected.data('camera');
      if (wave) {
        $("#light-select option[value='laser-" + wave + "']").prop('selected', true)
      }
      else if (light) {
        $("#light-select option[data-id='" + light + "']").prop('selected', true)
      }
      else {
        //$("#light-select option[value='']").prop('selected', true)
      }
      if (camera) {
        $("#camera-select option[data-id='" + camera + "']").prop('selected', true)
      }
      updateChart();
    });

    $(".switchmodal").click(function(e) {
      e.preventDefault();
      $("#settingsModal").modal('hide');
      $("#embedModal").modal('show');
    });

  });

  $(window).on('load', function() {
    setTimeout(function(){
        autoSizeText();
        chart.update();
        if ($(document).width() < 576){
            chart.legend.maxKeyLength(15);
        }
    }, 50);
  });


  var topofDiv = $(".spectra-wrapper").offset().top;
  $(window).scroll(function(){
      if($(window).scrollTop() > (topofDiv)){
        $(".spectra-wrapper").css('box-shadow', '0 12px 8px -8px rgba(0,0,0,.2)');
      }
      else{
        $(".spectra-wrapper").css('box-shadow', 'none');
      }
  });


  $("#fluor-select").select2({ theme: "bootstrap", width: 100});
  $(".card input").not('.invswitch').click(function(){
    if (options.oneAtaTime)
      $(this).closest('.card').find('input').not(this).prop('checked', false)
  });

  $(function() {
    for (var i=0; i < scopespectra.length; i++){
      localData[scopespectra[i].slug] = [scopespectra[i]];
    }
  });


</script>

{% endblock javascript %}
