{% extends "base.html" %}
{% load static i18n favit_tags %}

{% block title %}Parental Organisms in the Fluorescent Protein Database {% endblock %}
{% block meta-description %}A list of all organisms from which proteins cataloged at FPbase have been derived{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/fc-3.2.5/datatables.min.css"/>
{% endblock extrahead %}

{% block content %}

			<h1 class="name text-center mb-4">FPbase Organisms</h1>


      <table class="table table-striped" id="org-table" style="width: 100%;">
        <thead>
          <tr class="table-header">
            <th class="text-nowrap">NCBI ID</th>
            <th>Name</th>
            <th>Division</th>
            <th>#Proteins<span class="d-none d-md-block"> in FPbase</span></th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list  %}
          <tr>
          <td><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{object.id}}" target="_blank" rel="noopener" class='text-info'>{{object.id}}</a></td>
          <td><a href="{{ object.get_absolute_url }}">{{ object.scientific_name }}</a></td>
          <td>{{ object.division }}</td>
          <td>{{ object.num_prot }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


{% endblock content %}

{% block javascript %}

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/fc-3.2.5/datatables.min.js"></script>

<script type="text/javascript">


///////////DATA TABLE

$(function() {
  $('#org-table').DataTable({
    "scrollX": true,
    "pageLength": 50,
    "iDisplayLength": -1,
    "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100,"All"] ],
    "order": [[ 3, 'desc' ]],
  });

});
</script>
{% endblock javascript %}
