{% extends "base.html" %}
{% load static i18n favit_tags %}

{% block title %}{{ object }} in the Fluorescent Protein Database {% endblock %}
{% block meta-description %}Fluorescent proteins derived from {{ object.scientific_name }} at FPbase{% endblock %}

{% block content %}

			<h1 class="name text-center mb-4">{{ object }}</h1>

			<a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{object.id}}" target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i> View on Pubmed Taxonomy Browser</a>

			<div class="row mt-2">
				<dt class="col-sm-3">scientific_name</dt>
				<dd class="col-sm-9"><em>{{ object.scientific_name }}</em></dd>
				<dt class="col-sm-3">division</dt>
				<dd class="col-sm-9"><em>{{ object.division }}</em></dd>
				{% if object.common_name %}
				    <dt class="col-sm-3">common_name</dt>
				    <dd class="col-sm-9"><em>{{ object.common_name | default:''}}</em></dd>
				{% endif %}
			</div>

      <a href="{% url 'proteins:organism-list' %}" class='text-info'>See other organisms in the database</a>

			<h5 class='pt-3'><strong>Proteins derived from this organism</strong></h5>
			{% with proteins=object.proteins.all removebutton=False %}
        <div class="table-responsive">
			    {% include '_proteintable.html' %}
        </div>
			{% endwith %}

{% endblock content %}



