{% extends 'base.html' %}
{% load crispy_forms_tags compress static %}

{% block content %}
	{% if object %}
	    <h1>Update {{ object.name }}</h1>
	{% else %}
	    <h1>Submit a new protein</h1>
	{% endif %}

	{% if states.non_form_errors %}
		<h5>There were errors in the form...</h5>
		<div class="alert alert-danger" role="alert">
		  {{ states.non_form_errors }}
		</div>
	{% endif %}

	<div class="container">
	    <form action="" method="post">
	    	{% csrf_token %}
	        <div class='row'>
	        	<div class='col'>
	        		{% crispy form %}
				</div>
			</div>

			{% if not 'update' in request.get_full_path %}
				<div class="alert alert-info alert-dismissible fade show" role="alert">
				  <div class='h3 text-info'><i class="fas fa-info-circle mr-2 "></i> <strong>States</strong></div>
				  FPbase uses <strong>states</strong> to define the various fluorescence characteristics that a protein can have.  Even a constitutively active "basic" protein is given a (single) state.  Rather than directly specifying the "type" of protein, FPbase uses the number of states and transitions between them to determine the type of fluorescent protein.
				  <ul class='pt-3 pb-1'>
				  	<li><strong>Basic</strong> <i class="fas fa-long-arrow-alt-right"></i> <em>Single state</em></li>
				  	<li><strong>Photoactivatable</strong> <i class="fas fa-long-arrow-alt-right"></i><em> One transition betwen dark and fluorescent states</em></li>
				  	<li><strong>Photoconvertible</strong> <i class="fas fa-long-arrow-alt-right"></i><em> One transition betwen two fluorescent states</em></li>
				  	<li><strong>Photoswitchable</strong> <i class="fas fa-long-arrow-alt-right"></i> <em>Multiple transitions between multiple states</em></li>
				  </ul>
				  More info available on the <a href="#" class="alert-link">database model</a> info page.
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				      <span aria-hidden="true">&times;</span>
				    </button>
				</div>
			{% endif %}

	        {{ states.management_form|crispy }}
	        {% for stateform in states.forms %}
		        {% for hidden in stateform.hidden_fields %}
	                {{ hidden }}
	            {% endfor %}
				<div class="row formset_div">
					<div class='col state-col'>
						{% if stateform.instance.pk %}{{ stateform.DELETE }}{% endif %}
						{% crispy stateform stateform.helper %}
					</div>
		        </div>
	        {% endfor %}  <!-- end formset loop  -->

	        {% if object %}
	            <input type="submit" class='btn btn-primary mb-4' value="Update {{ object.name }}" />
	        {% else %}
	            <input type="submit" class='btn btn-primary mb-4' value="Save Protein"/>
	        {% endif %}
	    </form>
	</div>

{% endblock %}


{% block js-onpage %}

{% compress js %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
{% endcompress %}

<script type="text/javascript">

	$(function () {

		$('[data-toggle="tooltip"]').tooltip()

		var deleteclass = 'state-delete-button'

		$('.formset_div').formset({
			addText: 'Add State',
			addCssClass: 'btn btn-info mb-4',
			deleteCssClass: deleteclass + ' btn btn-danger align-middle',
			deleteText: 'Remove',
			prefix: 'states' 	 // it's important that this match the string used for the
								 // related_name attribute in the "protein" foreign key field
								 // in the State model
		});

		if ($("#id_ipg_id").val()){
			$("#id_seq").prop('disabled', true);
			$("#hint_id_seq").html('Sequence input disabled when IPG ID provided');
		}

		// if this is an update view without post data, remove the last (empty) state
		{% if object %}
			{% if not request.POST %}
			$('.dynamic-form').last().find('.' + deleteclass).click()
			{% endif %}
		{% endif %}


	})

</script>

{% endblock %}

