{% extends "base.html" %}
{% load static i18n compress favit_tags %}

{% block title %}{{ protein.name  }} :: Fluorescent Protein Database {% endblock %}
{% block meta-description %}{{ protein.description }}{% endblock %}

{% block vendorcss %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" rel="stylesheet">
{% endblock vendorcss %}
{% block container-class %}container protein{% endblock %}

{% block bodyopen %}
    {% include '_comparetab.html' %}
{% endblock bodyopen %}

{% block extrahead %}
{% include 'proteins/_structured_data.html' with protein=protein %}
{% endblock extrahead %}

{% block content %}
			<h1 class="name display-4 {% if protein.aliases %}pb-0{%endif%}">{{ protein.name | safe }}</h1>

			{% if protein.aliases %}
				<p class='text-center aliases pb-2'>
					a.k.a.
				{% for alias in protein.aliases  %}
					{{alias}}{% if not forloop.last %},{% endif %}
				{% endfor %}
				</p>
			{% endif %}

			{% if similar.exists %}
				<p class='text-center text-muted'>
					similar:
				{% for p in similar.all  %}
					<a href="{{p.get_absolute_url}}">{{p}}</a>{% if not forloop.last %},{% endif %}
				{% endfor %}
				</p>
			{% endif %}


			{% if version %}
				<div class="alert alert-warning clearfix" role="alert">
					<strong><i class="fas fa-exclamation-circle mr-2" aria-hidden="true"></i></strong>You are viewing an older revision of this protein, from {{ version.revision.date_created|date:"M j, Y H:i:s"}}.  <a href="{{ protein.get_absolute_url }}" class="alert-link">Click here</a> to view the current version.

				    {% if request.user.is_staff %}
					<form id="adminRevert" class='float-sm-right' data-action-url="{% url 'proteins:admin_revert_version' ver=version.id %}" data-success="{{ protein.get_absolute_url }}">
					{% csrf_token %}
				    <button type="submit" class="btn btn-danger btn-sm btn-block-xs">Revert</button>
					</form>
				    {% endif %}
				</div>
			{% endif %}

			{% if not protein.status == 'approved' %}
				<div class="alert alert-info clearfix" role="alert">
				    <div class="d-inline-block align-middle">
				    	<strong><i class="fas fa-info-circle mr-2" aria-hidden="true"></i></strong>This protein has unmoderated changes.
					    {% if last_approved %}
					       <a href="{% url 'proteins:protein-detail' slug=protein.slug ver=last_approved.id %}" class="alert-link">Click here</a> to view the last moderated version of this protein from {{ last_approved.revision.date_created|date:"M j, Y H:i:s" }}.
					    {% endif %}
				    </div>
				    {% if request.user.is_staff %}
					 	<form id="adminApprove" class='float-sm-right' data-action-url="{% url 'proteins:admin_approve_protein' slug=protein.slug %}" data-success="{{ protein.get_absolute_url }}">{% csrf_token %}
						    <button type="submit" class="btn btn-info btn-sm btn-block-xs">Approve</button>
					 	</form>
				    {% endif %}
				</div>
			{% endif %}

		<div class="clearfix">
			<div class="like_buttons float-sm-right">
				<div class="container-button" data-toggle="tooltip" data-placement="top" title="Add to collection">
					<a class="btn collection-add-button" href="#" data-action-url="{% url 'proteins:add_to_collection' %}?id={{ protein.id }}" data-toggle="modal" data-target="#collectionModal">
					  <i class="fas fa-book d-none d-sm-inline"></i>
					  	<a class='collection-add-button d-block d-sm-none' href="#" data-action-url="{% url 'proteins:add_to_collection' %}?id={{ protein.id }}" data-toggle="modal" data-target="#collectionModal" style="text-decoration: none;"><button type="button" class="btn btn-info btn-block"><i class="fas fa-book mr-2"></i>Add to collection</button>
					  	</a>
					</a>
				</div>
				{% favorite_button protein %}
			</div>

			<div class='protein-blurb'>{{ protein.description | safe }}</div>

		</div>

		<div class="spectra">
			{% if protein.has_spectra %}
      <div id="spectra">
       <a href="#" class='text-secondary spectra-overlay-link' data-toggle="modal" data-target="#spectraURLModal"><i class="fas fa-link mr-2"></i></a>
       <a href="{% url 'proteins:spectra_csv' %}?q={{spectra_ids}}" class='text-secondary spectra-overlay-link ml-4'><i class="fas fa-download mr-2 ml-1"></i></a>
      </div>
      {% else %}
      <p class='mt-4'>No spectrum has been submitted ... <a href="{% url 'proteins:submit-spectra' slug=protein.slug %}" class='text-secondary'>add a spectrum!</a></p>
      {% endif %}
		</div>

    <div class="table mt-3">
      <table class="table mobile" id='flip-scroll'>
        <thead>
          <tr class="table-header ">
            <th>Aggregation</th>
            <th>Organism</th>
            <th>Molecular Weight</th>
            <th>Cofactor</th>
          </tr>
        </thead>
        <tbody>

          <tr >
            <td {% if not protein.agg %}class='text-muted'{% endif %}>{{protein.get_agg_display|default:'?'}}</td>
            <td>
              {% if protein.parent_organism %}
              <a href="{{protein.parent_organism.get_absolute_url}}">{{protein.parent_organism}}</a>
              {% else %}
              <a href="{% url 'proteins:update' slug=protein.slug %}" class='text-secondary'>&lt;add one&gt;</a>
              {% endif %}</td>
            <td>{{ protein.seq.weight|floatformat:"1" }} kDa</td>
            <td>{{protein.get_cofactor_display|default:'-' }}</td>
          </tr>

        </tbody>
      </table>
    </div>


		<div class="attributes">
			<h3>Attributes</h3>
			{% include '_states_table.html' %}
		</div>

		{% if protein.transitions.count > 0 %}
		<div class="attributes mt-2">
			<h3>Transitions</h3>
			<div class="table">
				<table class="table table-striped mobile">
					<thead>
						<tr class="table-header">
							<th>From</th>
				  			<th>To</th>
				  			<th>Switch &lambda;</th>
						</tr>
					</thead>
					<tbody>
					{% for t in protein.transitions.all|dictsort:"trans_wave" %}
						<tr >
							<td data-title="From State">{{ t.from_state.name | default:"&nbsp;"}}</td>
							<td data-title="To State">{{ t.to_state.name | default:"&nbsp;"}}</td>
							<td data-title="Switch &lambda;">{{ t.trans_wave | default:"&nbsp;" }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="align-self-end text-sm-right mt-1">
				<div class="align-self-end text-sm-right mt-1">
					<a href="#" class='text-info' data-toggle="modal" id='show_transition_modal' data-action-url="{% url 'proteins:update_transitions' slug=protein.slug %}">
						<small class="d-none d-sm-inline">Edit state transitions</small>
						<button type="button" class="btn btn-secondary btn-block mt-3 d-block d-sm-none"><i class="fas fa-exchange-alt mr-2"></i>Edit state transitions</button>
					</a>
				</div>
			</div>
		</div>
		{% endif %}



	    <div class="attributes mt-1">
	    	<h3>Photostability</h3>
	    	{% if protein.has_bleach_measurements %}
	    	    {% include '_bleach_table.html' %}
	    	{% else %}
	    		<p>no photostability measurements available ... <a href="{% url 'proteins:protein-bleach-form' slug=protein.slug %}" class='text-secondary'>add one!</a></p>
	    	{% endif %}
	    </div>


		<div class="sequence mt-3">
			<div class="row">
			  	<div class="col">
				  <h3 class='d-inline'>{{ protein.name | safe }} Sequence</h3>
            {% if protein.seq %}
              {% if protein.seq_validated %}
                <span id='seq-badge' data-toggle="tooltip" data-placement="right" title="This sequence has been moderated, and matches the original publication"><i class="fas fa-check" title='sequence validated'></i></span>
              {% else %}
                <a tabindex="0" data-toggle="popover" data-trigger="focus" title="Warning" data-placement="right" data-content="Note: We cannot guarantee that all sequences are 100% accurate.  Please validate externally before cloning, and consider <a href='{% url 'proteins:update' slug=protein.slug %}' class='text-secondary'>updating this page</a> if you find an error."><i class="fas fa-exclamation-triangle ml-2 text-muted" style='font-size: 0.75rem; position: relative; top: -2px; cursor: pointer;'></i></a>
              {% endif %}
            {% endif %}
				</div>
			</div>

			{% if protein.seq %}
  				<div class='aminosequence container mt-2'>{{ protein.seq }}</div>
			{% else %}
			    <p>no sequence available ... <a href="{% url 'proteins:update' slug=protein.slug %}" class='text-secondary'>add one!</a></p>
			{% endif %}

			{% if protein.genbank or protein.uniprot or protein.ipg_id or protein.pdb %}
			<div class="row text-right justify-content-end">
					{% if protein.genbank %}
					<div class="col-md-3 col-sm-6">
					<small>GenBank: <a href="https://www.ncbi.nlm.nih.gov/protein/{{ protein.genbank }}" target="_blank">{{ protein.genbank | default:''}}</a></small>
					</div>
					{% endif %}

					{% if protein.uniprot %}
					<div class="col-md-3 col-sm-6">
					<small>UniProtKB: <a href="https://www.uniprot.org/uniprot/{{ protein.uniprot }}" target="_blank">{{ protein.uniprot | default:''}}</a></small>
					</div>
					{% endif %}

					{% if protein.ipg_id %}
					<div class="col-md-3 col-sm-6">
					<small>IPG ID: <a href="https://www.ncbi.nlm.nih.gov/ipg/?term={{ protein.ipg_id }}[uid]" target="_blank">{{ protein.ipg_id | default:''}}</a></small>
					</div>
					{% endif %}

					{% if protein.pdb %}
					<div class="col-md-3 col-sm-6">
					<small>PDB ID:
						{% for pdbid in protein.pdb %}
							<a href="https://www.rcsb.org/structure/{{pdbid}}" target="_blank">{{ pdbid | default:''}}{% if not forloop.last %}, {% endif %}</a>
						{% endfor %}
					</small>
					</div>
					{% endif %}
			</div>
			{% endif %}

		</div>

		<div class="primary-ref references">
			<h3>Primary Reference</h3>
			{% if protein.primary_reference %}
				{% include "_reference.html" with ref=protein.primary_reference %}
			{% endif %}
		</div>

		<div class="additional-ref references">
			<h3>Additional References</h3>
			<ol>
				{% if protein.additional_references %}
				{% for ref in protein.additional_references %}
					<li>{% include "_reference.html" %}</li>
				{% endfor %}
				{% else %}
				    <p style='color: #888;'>No additional references yet...<p>
				{% endif %}
				<a href="#" class='text-info' data-toggle="modal" data-target="#referenceModal"><button class='btn btn-sm btn-secondary mt-1'><i class="fas fa-book mr-2"></i>Add a reference</button></a>
			</ol>
		</div>

		<div class="external-resources">
			<h3>External Resources</h3>
			<ul>
				<li>Search <a href="http://bionumbers.hms.harvard.edu/search.aspx?task=searchbytrmorg&trm={{ protein.name | urlencode }}" target="_blank">BioNumbers</a> for {{ protein.name }}</li>
				<li>Search <a href="https://www.addgene.org/search/advanced/?q={{ protein.name | urlencode }}" target="_blank">Addgene</a> for {{ protein.name }}</li>
			</ul>
		</div>

		<div class="container" style='text-align:right; margin-top: 2rem;'>
			<p>Something missing or incorrect? <a href="{% url 'proteins:update' slug=protein.slug %}" class='text-secondary'>Submit a change</a></p>
		</div>

<!--
		<h3>Comments</h3>
		<p class='small text-muted'><em>We welcome relevant and respectful comments. Off-topic comments may be removed.</em></p>
		<div id="disqus_thread"></div>
-->
	</div>


{# {% include '_disqus.html' %} #}


{% endblock content %}

{% block modal %}

<!-- Modals -->
{% include 'proteins/modals/_reference_modal.html' with user=user protein=protein %}
{% include 'proteins/modals/_add_to_collection_modal.html' with user=user protein=protein %}
{% include 'proteins/modals/_spectra_url_modal.html' with protein=protein %}

{% if protein.states.count > 1 %}
  {% include 'proteins/modals/_state_transition_modal.html' with transition_form=transition_form %}
{% endif %}

{% endblock modal %}


{% block extrafooter %}
    {% if request.user.is_staff %}
      {% load admin_urls %}
      <a href="{% url 'admin:proteins_protein_change' protein.id %}">{{ protein.name}} on admin</a><br>
    {% endif %}
{% endblock extrafooter %}

{% block javascript %}

  <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"> </script>
  {% compress js %}
  <script src="{% static 'favit/js/favorite.js' %}"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static "js/nvd3spectra.js" %}"> </script>
  {% endcompress %}


    {% if protein.has_spectra %}
    <script>var myData = {{ protein.d3_spectra|safe }};</script>
    {% endif %}

    <script type="text/javascript">
	    $(function () {
	      $('[data-toggle="popover"]').popover({html: true});

        var snaptemplate = 'http://www.snapgene.com/resources/plasmid_files/fluorescent_protein_genes_and_plasmids/*/'
        $.ajax({
            type: "get",
            url: "https://www.snapgene.com/resources/plasmid_files/fluorescent_protein_genes_and_plasmids/plasmids.xml",
            dataType: "xml",
            success: function(data) {
                /* handle data here */
                var hits = [];
                $(data).find('[name*="{{ protein.name  }}"]').each(function(){
                  var name = $(this).attr('name');
                  while(name.charAt(0) === 'p') { name = name.substr(1); }
                  $.each(['-N2', '-N1', '-N', '-C2', '-C1', '-C', '-1', '-B', '-S1', '-PRL'],
                    function(index, val) {
                      name = name.replace(val, '');
                    }
                  );
                  if ((name == "{{ protein.name  }}") || (name == "{{ protein.name  }}1")){
                    hits.push([$(this).attr('name'), $(this).attr('url')])
                  }
                })

                if (hits.length){
                  var t = 'SnapGene links: '
                  if (hits.length == 1){t = 'SnapGene link: ' }
                  var $li = $('<li>').text(t).appendTo($('.external-resources ul'))
                  $.each(hits, function(index, val) {
                    $li.append($('<a>', { 'href': snaptemplate.replace('*', val[1]) }).text(val[0]))
                    if (index != hits.length-1){
                      $li.append(', ')
                    }
                  });
                }

            },
            error: function(xhr, status) {
                /* handle error here */
            }
        });

	    })

      $('.popover-dismiss').popover({
	      trigger: 'focus'
	    })

      {% if protein.has_spectra %}
      // disable 2p by default
      for (n = 0; n < myData.length; n++){
      	if (myData[n].key.indexOf("2p") >= 0 && myData.length > 1) {
      		myData[n].disabled = true;
      	}
      };

      var interactive = true;
      if (typeof window.mobilecheck === 'function') {
          interactive = !window.mobilecheck();
      }
      var chart = nv.models.lineChart();
      chart.yDomain([0,1.04])
      svg = d3.select('#spectra').append('svg').attr('role', 'img').attr('aria-labelledby', "svgDesc svgTitle");
      $("#spectra svg").prepend($('<desc>', {id: 'svgDesc'}).text('Fluorescent protein {{ protein.name | safe}} excitation and emission spectra'))
      $("#spectra svg").prepend($('<title>', {id: 'svgTitle'}).text('{{ protein.name | safe}} Spectrum'))

      chart.options({
          margin: {left:20, bottom: 30},
          noData: "Unable to load data...",
          transitionDuration: 200,
          showLegend: myData.length > 2 || myData.some(function(a){return a.type=='2p'}),
          showXAxis: true,
          showYAxis: false,
          useInteractiveGuideline: interactive,
          forceY: [0,1.04],
          forceX: [350, 750],
      });

      /*These lines are all chart setup.  Pick and choose which chart features you want to utilize. */
      nv.addGraph(function() {
          chart.xAxis     //Chart x-axis settings
          //.axisLabel('Wavelength (nm)')
          .tickFormat(d3.format(',r'));

          // chart.yAxis     //Chart y-axis settings
          //   .axisLabel('Normalized Ex/Em')
          //   .tickFormat(d3.format('1%'));

          svg.datum(myData)         //Populate the <svg> element with chart data...
          .call(chart);	       //Finally, render the chart!

          //Update the chart when window resizes.
          nv.utils.windowResize(function() { chart.update() });
          return chart;
      });
      {% endif %}

    </script>
{% endblock %}



