{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ protein.name  }} :: Fluorescent Protein Database {% endblock %}

{% block vendorcss %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" rel="stylesheet">
{% endblock vendorcss %}
{% block container-class %}container protein{% endblock %}

{% block content %}

		<div class="container">
			<h1 class="name display-4">{{ protein.name }}</h1>

			{% include "_protein_blurb.html" %}

		</div>

		<div class="spectra">
			{% if protein.has_spectra %}<div id="spectra"></div>{% endif %}
		</div>

		<div class="attributes">
			<h3>Attributes</h3>
			<div class="table-bordered">
				<table class="table table-striped mobile">
					<thead>
						<tr class="table-header">
							{% if protein.states.count > 1 %}
							<th>State</th>
							{% endif %}
							<th>Ex &lambda;</th>
				  			<th>Em &lambda;</th>
				  			<th>EC</th>
				  			<th>QY</th>
				  			<th>Brightness</th>
				  			<th>pKa</th>
						</tr>
					</thead>
					<tbody>
					{% for state in protein.states.all %}
						<tr >
							{% if protein.states.count > 1 %}
							<td data-title="State">{{ state.name }}</td>
							{% endif %}
							<td data-title="Ex &lambda;">{{ state.ex_max | default:"&nbsp;" }}</td>
				  			<td data-title="Em &lambda;">{{ state.em_max | default:"&nbsp;"}}</td>
				  			<td data-title="EC">{{ state.ext_coeff | default:"&nbsp;"}}</td>
				  			<td data-title="QY">{{ state.qy | default:"&nbsp;"}}</td>
				  			<td data-title="Brightness">{{ state.brightness | default:"&nbsp;"}}</td>
				  			<td data-title="pKa">{{ state.pka | default:"&nbsp;"}}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		{% if protein.transitions.count > 0 %}
		<div class="attributes">
			<h3>Transitions</h3>
			<div class="table-bordered">
				<table class="table table-striped mobile">
					<thead>
						<tr class="table-header">
							<th>From</th>
				  			<th>To</th>
				  			<th>Switch &lambda;</th>
						</tr>
					</thead>
					<tbody>
					{% for t in protein.transitions.all|dictsort:"trans_wave" %}
						<tr >
							<td data-title="From State">{{ t.from_state.name | default:"&nbsp;"}}</td>
							<td data-title="To State">{{ t.to_state.name | default:"&nbsp;"}}</td>
							<td data-title="Switch &lambda;">{{ t.trans_wave | default:"&nbsp;" }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% endif %}

		<div class="sequence">
			<h3>Amino Acid Sequence</h3>
			{% if protein.ipg_id %}
			<p>Identical Protein Group ID: <a href="https://www.ncbi.nlm.nih.gov/ipg/?term={{ protein.ipg_id }}[uid]">{{ protein.ipg_id }}</a></p>
			{% endif %}
			{% if protein.seq %}
				<div class='aminosequence container'>{{ protein.seq }}</div>
			{% else %}
			    <p>no sequence available ... <a href='#'>add one!</a></p>
			{% endif %}
		</div>

		<div class="primary-ref references">
			<h3>Primary Reference</h3>
			{% if protein.primary_reference %}
				{% include "_reference.html" with ref=protein.primary_reference %}
			{% endif %}
		</div>

		<div class="additional-ref references">
			<h3>Additional References</h3>
			<ol>
				{% if protein.additional_references %}
				{% for ref in protein.additional_references %}
					<li>{% include "_reference.html" %}</li>
				{% endfor %}
				{% else %}
				    <p style='color: #888;'>No additional references yet...<p>
				{% endif %}
			</ol>
			<a href="#" class='text-info' data-toggle="modal" data-target="#referenceModal">Add a reference</a>
		</div>

		<div class="additional-ref references">
			<h3>External Resources</h3>
			<ul>
				<li>Search <a href="http://bionumbers.hms.harvard.edu/search.aspx?task=searchbytrmorg&trm={{ protein.name | urlencode }}">BioNumbers</a> for {{ protein.name }}</li>
				<li>Search <a href="https://www.addgene.org/search/advanced/?q={{ protein.name | urlencode }}">Addgene</a> for {{ protein.name }}</li>
			</ul>
		</div>


		<div class="container" style='text-align:right; margin-top: 2rem;'>
			<p>Something missing or incorrect? <a href="{% url 'proteins:update' slug=protein.slug %}" class='text-secondary'>Suggest a change</a></p>
		</div>


	</div>



<!-- Modal -->
<div class="modal modal-center fade" id="referenceModal" tabindex="-1" role="dialog" aria-labelledby="referenceModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="referenceModalLongTitle"><strong>Add a reference</strong></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% if user.is_authenticated %}
	      <form id="refModalForm">
	      {% csrf_token %}
	      <div class="modal-body">
	      	<p>Add a publication that references {{ protein.name }}.  It does not need to be the paper that introduced the protein.</p>
		        <div id="div_id_reference_doi" class="form-group">
		        	<label for="id_reference_doi" class="form-control-label">Reference DOI</label>
		        	<div class="">
		        		<input type="text" name="reference_doi" maxlength="100" class="textinput textInput form-control" required="" id="id_reference_doi" pattern="10.\d{4,9}/[-._;()/:a-zA-Z0-9]+" oninvalid="setCustomValidity('Not a valid DOI string')" oninput="setCustomValidity('')" >
		        	</div>
		        	<small id="hint_id_reference_doi" class="text-muted">e.g. 10.1038/nmeth.2413</small>
		        </div>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Add reference</button>
	      </div>
	      </form>
	  {% else %}
  	      <div class="modal-body">
  	      	<div>
  	      		<p>You must be logged in to add references to FPbase</p>
  	      		<a id="log-in-link" class="nav-link" href="{% url 'account_login' %}?next={% firstof request.path '/' %}"><button type="submit" class="btn btn-primary">{% trans "sign in" %}</button></a>
  	      	</div>
  	      </div>
  	      <div class="modal-footer">
  	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  	      </div>

	  {% endif %}
    </div>
  </div>
</div>


{% endblock content %}



{% block js-onpage %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"> </script>
    <script src="{% static "js/nvd3spectra.js" %}"> </script>

    <script type="text/javascript">
    $("#refModalForm").submit(function(e) {

        var url = "{% url 'proteins:add_protein_reference' %}"; // the script where you handle the form input.

        var data = $('#refModalForm').serializeArray();
        data.push({name: 'protein', value: '{{ protein.slug }}'});

        $.ajax({
               type: "POST",
               url: url,
               data: data,
               dataType: 'json',
               success: function(data)
               {
                   window.location=data.url
               }
             });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
    </script>


    {% if protein.has_spectra %}
        <script type="text/javascript">
            var myData = {{ protein.spectra|safe }};
            var chart = nv.models.lineChart();
            svg = d3.select('#spectra').append('svg');
            chart.options({
                margin: {left:20},
                noData: "Unable to load data...",
                transitionDuration: 200,
                showLegend: false,
                showXAxis: true,
                showYAxis: false,
                useInteractiveGuideline: true,
                forceY: [0,1.04],
                forceX: [350, 750],
            });

            /*These lines are all chart setup.  Pick and choose which chart features you want to utilize. */
            nv.addGraph(function() {
                chart.xAxis     //Chart x-axis settings
                //.axisLabel('Wavelength (nm)')
                .tickFormat(d3.format(',r'));

                // chart.yAxis     //Chart y-axis settings
                //   .axisLabel('Normalized Ex/Em')
                //   .tickFormat(d3.format('1%'));

                svg.datum(myData)         //Populate the <svg> element with chart data...
                .call(chart);	       //Finally, render the chart!

                //Update the chart when window resizes.
                nv.utils.windowResize(function() { chart.update() });
                return chart;
            });
        </script>
    {% endif %}
{% endblock %}



