{% extends "base.html" %}

{% block title %}FPbase Collection :: {{ object.name }}{% endblock %}
{% block meta-description %}A user-created fluorescent protein collection: {{object.description}}{% endblock %}

{% block vendorcss %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
{% endblock %}

{% block content %}

<div class="container clearfix">
<h1>{{ object.name }}</h1>

<a href="{% url 'proteins:updatecollection' object.id%}"><button class='btn btn-primary btn-sm'>Edit Details</button></a>
<p>{{ object.proteins.count }} proteins <br><em>Created by: </em>{% if object.owner.id == request.user.id %}You{% else %}{{ object.owner }}{% endif %}<br><em>Last Modified: </em>{{ object.modified|date:"M j, Y" }}<br>
{% if object.private %}Private{% else %}Public{% endif %} Collection</p>
{% if object.description %}
    <div class="alert alert-info" role="alert">
        {{object.description}}
    </div>
{% endif %}

{% if object.proteins.count %}
<div class="btn-group float-right displaybuttons" data-toggle="buttons" >
  <label class="btn btn-info btn-sm form-group">
    <input type="radio" name="display" id="lbutton" autocomplete="off" checked value='l'><i class="fas fa-th"></i> display lozenges
  </label>
  <label class="btn btn-info btn-sm active form-group">
    <input type="radio" name="display" id="tbutton" autocomplete="off" value='t'><i class="fas fa-table"></i> display table
  </label>
</div>
</div>
{% endif %}

    <div class="container protein_results pl-0 pr-0">
        {% if object.proteins.count %}
            <div id="ldisplay" class="{% if request.GET.display == 't' or not request.GET.display %}hidden{% endif %}">
            {% with proteins=object.proteins.all %}
                {% include '_proteinlozenges.html' %}
            {% endwith %}
            </div>
            <div id="tdisplay" {% if request.GET.display == 'l' %}class="hidden"{% endif %}>
            {% with proteins=object.proteins.all removebutton=isowner %}
                {% include '_proteintable.html' %}
            {% endwith %}
            </div>
        {% else %}
            <p>There are no proteins in this collection yet.{% if object.owner.id == request.user.id %}You can add proteins to a collection by clicking the "book" icon at the top right of any protein page.  Search for proteins <a href="{% url 'proteins:search' %}">here</a> or browse the <a href="{% url 'proteins:table' %}">table</a>{% endif %}</p>
        {% endif %}
    </div>
    {{proteins}}




{% endblock content %}

{% block javascript %}
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/b-print-1.4.2/cr-1.4.1/fc-3.2.3/fh-3.1.3/r-2.2.0/datatables.min.js"></script>


<script type="text/javascript">
    $(function(){

        $('.displaybuttons input').change(function(){
            var display_type = $(this).val()
            $("#" +  display_type + "display").show()
            $("#" +  display_type + "display").siblings('div').hide()
        })
    });

</script>

{% endblock javascript %}

