{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}FPbase: Advanced Fluorescent Protein Search{% endblock %}
{% block meta-description %}Build complex queries to search for fluorescent proteins in FPbase using multiple filters.{% endblock %}

{% block content %}

<h2>Advanced Protein Search</h2>

<p>Add additional rows to refine your search.  Each row is considered as an 'AND' clause in the search.<br>
<em>Note:</em> If a given search parameter is unknown for a protein in the database, it will count as a negative query.
If you find that you are not getting results, relax your query.</p>

<div class="hidden" id="crispy-form">
 {{ filter.form |crispy }}
</div>

<form action="" method="get">
    <div id="query_builder">Building query form...</div>
    <div class='clearfix button-row'>
    <button type="submit" class="btn btn-sm btn-primary form-group"><i class="fas fa-search"></i> Search</button>
    <button type="button" class="btn btn-sm btn-info form-group" id="add-row-btn"><i class="fas fa-filter"></i> Add Filter</button>

    <div class="btn-group float-right displaybuttons btn-group-toggle" data-toggle="buttons" >
      <label class="btn btn-info btn-sm btn-secondary active">
        <input type="radio" name="display" id="lbutton" autocomplete="off" checked value='l'><i class="fas fa-th"></i> display lozenges
      </label>
      <label class="btn btn-info btn-sm btn-secondary">
        <input type="radio" name="display" id="tbutton" autocomplete="off" value='t'><i class="fas fa-table"></i> display table
      </label>
    </div>
    </div>
</form>


    {% if request.GET %}
        <div class="row mt-2 mb-2">
            <div class="col">
                <h2>Search Results</h2>
            </div>
            <div class="col">
                <form action='{% url 'proteins:newcollection' %}' method='post' class='float-right'>
                    {% csrf_token %}
                    {%for p in filter.qs %}
                        <input type="hidden" name="protein" value="{{ p.pk }}">
                    {%endfor%}
                    <button class='btn btn-info btn-sm' type='submit'>Create collection from results</button>
                </form>
            </div>
        </div>

        <div class="container protein_results pl-0 pr-0">
            {% if filter.qs %}
                <div id="ldisplay" {% if request.GET.display == 't' %}class="hidden"{% endif %}>
                {% with proteins=filter.qs %}
                    {% include '_proteinlozenges.html' %}
                {% endwith %}
                </div>
                <div id="tdisplay" class="{% if request.GET.display == 'l' or not request.GET.display %}hidden{% endif %}">
                {% with proteins=filter.qs %}
                    {% include '_proteintable.html' %}
                {% endwith %}
                </div>
            {% else %}
                {% if filter.recs %}
                    <p>There were no exact results, but the following proteins were similar to your query:</p>

                    <div id="ldisplay" {% if request.GET.display == 't' %}class="hidden"{% endif %}>
                    {% with proteins=filter.recs %}
                        {% include '_proteinlozenges.html' %}
                    {% endwith %}
                    </div>
                    <div id="tdisplay" class="{% if request.GET.display == 'l' or not request.GET.display %}hidden{% endif %}">
                    {% with proteins=filter.recs %}
                        {% include '_proteintable.html' %}
                    {% endwith %}
                    </div>

                {% else %}
                <p>No results found.</p>
                {% endif %}
            {% endif %}
        </div>
        {{proteins}}
    {% endif %}





{% endblock %}

{% block javascript %}

    <script>

    var formfields = {
        {% for key, val in filter.form.fields.items %}

            {{ key | safe }}: {
                type: '{{ val.widget.input_type }}',
                attrs:  {{ val.widget.attrs | safe }},
                {% if val.widget.input_type == 'select' %}
                choices: {
                    {% for choice in val.widget.choices.choices %}
                        '{{ choice.1 }}': '{{ choice.0}}',
                    {% endfor %}
                }
                {% endif %}
            },

        {% endfor %}
        };
    var fields = {
        {% for key, val in filter.Meta.fields.items %}
            {{ key | safe }}: new Set({{ val | safe }}),
        {% endfor %}
    }
    var operatorLookup = {{ filter.Meta.operators | safe }};
    var labelLookup = {{ filter.Meta.labels | safe }};
    var available_fields = new Set(Object.keys(fields));
    var i = 0;
    var prevName;
    var prevOperator

    function toTitleCase(str)
    {
        str = str.split('__').join('_');
        str = str.split('_').join(' ');
        return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    }

    function name_options(){
        out = '';
        for (let n of available_fields){
            if (n in labelLookup){
                name = labelLookup[n];
            } else{
                name = toTitleCase(n);
            }
            out += '<option value='+ n +'>' + name + "</option>";
        }
        return out
    }

    function input_choices(name){
        choices = formfields[name].choices
        out = '<div class="form-group"><select name="' + name + '" class="form-control input-select" id="id_' + name + '">'
        for (var c in choices){
            out += '<option value="' + choices[c] + '">' + c + '</option>'
        }
        out += '</select></div>'
        return out
    }

    function operator_options(ops){
        console.log('generating operator options with: ' + Array.from(ops).join(' '))
        var out = ''
        for (let o of ops){
            if (o in operatorLookup){
                op = operatorLookup[o];
            } else{
                op = toTitleCase(ops[o]);
            }
            out += '<option value='+ o +'>' + op + "</option>";
        }
        return out
    }

    $.fn.exists = function () {
        return this.length !== 0;
    }

    function updateInputField(row, keepValue){
        // figure out filter name and operator
        filter_name = row.find('.filter-select').val()
        operation = row.find('.operator-select').val()
        if (operation == 'exact'){
            name = filter_name
        } else {
            name = filter_name + '__' + operation
        }

        // hide the current input field by putting it in the hidden #crispy-form
        // FIXME: change this to a variable selector
        inputcol = row.find('.input-col');
        if (keepValue){
            value = inputcol.find('input').val();
        }
        inputcol.find('.form-group').appendTo('#crispy-form');

        // grab the form div that we want to put here
        formdiv = $("#div_id_"+name)
        formdiv.appendTo(inputcol);

        // for some reason range input is losing this class
        formdiv.find('input').addClass('form-control')
        //formdiv.find('input').prop('required',true);
        if (keepValue){
            formdiv.find('input').val(value);
        }

    }

    function queryRow(id) {
        var out = '\
        <div class="form-row query-row" id="query-row-' + id + '">\
            <div class="col-sm-4 names-col d-flex justify-content-between align-items-start">\
            <button type="button" class="btn btn-danger remove-row-btn form-group mr-2" ><strong>&times;</strong></button>\
                    <div class="form-group" style="width:100%;"><select class="form-control filter-select" id="filter-select-' + id + '">'
                    + name_options() +
                    '</select>\
                </div>\
            </div>\
            <div class="col-sm-4 operator-col">\
                <div class="form-group"><select class="form-control operator-select">\
                </select></div>\
            </div>\
            <div class="col-sm-4">\
                    <div class="form-group input-col"></div>\
            </div>\
        </div>'
      return out;
    }

    function addRow(target, filter, operator){
        console.log('>>>Row added')
        newrow = $(queryRow(i)).appendTo(target);

        if (filter) {
            newrow.find('.filter-select').val(filter)
        }

        filterSelector = newrow.find('.filter-select')
        filterName = filterSelector.val()

        operatorSelect = newrow.find('.operator-select')
        operatorSelect.html(operator_options(fields[filterName]))
        operatorSelect.removeClass()
        operatorSelect.addClass('form-control operator-select ' + filterName + '_operator' )

        if (operator) {
            operatorSelect.val(operator);
        } else {
            operator = operatorSelect.val()
        }

        disableOperator(filterName, operator);
        updateOperators(filterName, operatorSelect);
        updateInputField(newrow);

        //updateOperators(row.find('.filter-select').val());
        i += 1;
    }

    function disableOperator(name, op){
        fields[name].delete(op);
        console.log('Disabling: ' + name + " " + op)
        if (fields[name].size == 0){
            available_fields.delete(name);
            console.log('Field now unavailable: ' + name);
        }
    }

    function enableOperator(name, op){
        fields[name].add(op);
        available_fields.add(name);
        console.log('Enabled: ' + name + " " + op)
    }

    function updateOperators(filterName, sender){
        // where sender is the operatorSelect that sent the update command
        selector = $('.' + filterName + '_operator').not(sender)
        if(selector.length > 0){
            console.log('updating operators for filter: ' + filterName);
            selector.find('option').not(':selected').remove();
            selector.append(operator_options(fields[filterName]));
        }
    }

    $("body").on('focus', '.filter-select', function (event) {
        // Store the current value on focus and on change
        prevName = this.value;
        prevOperator = $(this).closest('.query-row').find('.operator-select').val();
        console.log('Focused on: ' + prevName + " " + prevOperator)

    })
    $("body").on('focus', '.operator-select', function (event) {
        // Store the current value on focus and on change
        prevOperator = this.value;
    })

    $('#add-row-btn').on('click', function(){
        addRow('#query_builder');
    })

    $("body").on("click", ".remove-row-btn", function(){
        console.log(">>>Row removed")
        thisrow = $(this).closest('.query-row')
        filterName = thisrow.find('.filter-select').val()
        operatorSelect = thisrow.find('.operator-select')
        enableOperator(filterName, operatorSelect.val());
        updateOperators(filterName, operatorSelect);

        inputfield = thisrow.find('.input-col').find('.form-group');
        inputfield.appendTo('#crispy-form');

        thisrow.remove();
        i -= 1;
    });


    $("body").on("change", ".filter-select", function(){
        console.log(">>>Filter selector changed")
        //when the filter name selector gets changed (or added)
        dropdownSelect = $(this)
        filterName = dropdownSelect.val()

        thisrow = $(this).closest('.query-row')

        // remove the old operator dropdown and add the new one
        operatorSelect = thisrow.find('.operator-select')
        operatorSelect.empty()
        operatorSelect.html(operator_options(fields[filterName]))
        operatorSelect.removeClass()
        operatorSelect.addClass('form-control operator-select ' + filterName + '_operator' )

        if (prevName && prevOperator){
            enableOperator(prevName, prevOperator)
        }
        disableOperator(filterName, operatorSelect.val())
        updateOperators(prevName);
        updateOperators(filterName, operatorSelect);
        updateInputField(thisrow);

        prevName = this.value;
        prevOperator = $(this).closest('.query-row').find('.operator-select').val();
    })

    $("body").on("change", ".operator-select", function(){
        console.log(">>>Operator selector changed")
        thisrow = $(this).closest('.query-row')
        filterName = thisrow.find('.filter-select').val()
        enableOperator(filterName, prevOperator);
        disableOperator(filterName, this.value);
        updateOperators(filterName);
        updateInputField(thisrow, true);

        prevOperator = this.value;
    })


    function loadState(state){
        for (key in state){
            value = state[key]
            if (key === 'display') {
                $("#" + value + "button").click()
                continue;
            }
            if (key in fields){
                filter = key;
                operator = 'exact';
            } else {
                splits = key.split('__')
                filter = splits.slice(0, splits.length-1).join('__')
                operator = splits[splits.length-1];
            }
            addRow('#query_builder', filter, operator)
        }
    }

    $(function(){

        $('#crispy-form label').remove();

        var search = location.search.substring(1);
        if(search!=""){
            var URLobj = search?JSON.parse('{"' + search.replace(/&/g, '","').replace(/=/g,'":"') + '"}',
            function(key, value) {
                return key===""?value:decodeURIComponent(value);
            }):{};
            $('#query_builder').empty();
            loadState(URLobj)
        }else{
            $('#query_builder').empty();
            addRow('#query_builder');
        }

        $('.displaybuttons input').change(function(){
            var display_type = $(this).val()
            $("#" +  display_type + "display").show()
            $("#" +  display_type + "display").siblings('div').hide()
        })
    });

</script>

{% endblock javascript %}

