{% extends "base.html" %}
{% load static i18n compress favit_tags %}

{% block title %}{{ protein.name  }} :: Fluorescent Protein Database {% endblock %}

{% block vendorcss %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" rel="stylesheet">
{% endblock vendorcss %}
{% block container-class %}container protein{% endblock %}

{% block content %}

		<div class="container">
			<h1 class="name display-4">{{ protein.name }}</h1>

			{% if protein.aliases %}
			<div class='text-center'>
				aka
			{% for alias in protein.aliases  %}
				{{alias}}
			{% endfor %}
			</div>
			{% endif %}

			{% if version %}
				<div class="alert alert-warning clearfix" role="alert">
					<strong><i class="fas fa-exclamation-circle mr-2" aria-hidden="true"></i></strong>You are viewing an older revision of this protein, from {{ version.revision.date_created|date:"M j, Y H:i:s"}}.  <a href="{{ protein.get_absolute_url }}" class="alert-link">Click here</a> to view the current version.

				    {% if request.user.is_staff %}
					<form id="adminRevert" class='float-sm-right' data-action-url="{% url 'proteins:admin_revert_version' ver=version.id %}">
					{% csrf_token %}
				    <button type="submit" class="btn btn-danger btn-sm btn-block-xs">Revert</button>
					</form>
				    {% endif %}
				</div>
			{% endif %}

			{% if not protein.status == 'approved' %}
				<div class="alert alert-info clearfix" role="alert">
				    <div class="d-inline-block align-middle">
				    	<strong><i class="fas fa-info-circle mr-2" aria-hidden="true"></i></strong>This protein has unmoderated changes.
					    {% if last_approved %}
					       <a href="{% url 'proteins:protein-detail' slug=protein.slug ver=last_approved.id %}" class="alert-link">Click here</a> to view the last moderated version of this protein from {{ last_approved.revision.date_created|date:"M j, Y H:i:s" }}.
					    {% endif %}
				    </div>
				    {% if request.user.is_staff %}
					 	<form id="adminApprove" class='float-sm-right' data-action-url="{% url 'proteins:admin_approve_protein' slug=protein.slug %}">{% csrf_token %}
						    <button type="submit" class="btn btn-info btn-sm btn-block-xs">Approve</button>
					 	</form>
				    {% endif %}
				</div>
			{% endif %}

		</div>
		<div class="container clearfix">
			<div class="like_buttons float-right">
				<div class="container-button" data-toggle="tooltip" data-placement="top" title="Add to collection">
					<a class="btn collection-add-button" href="#" data-action-url="{% url 'proteins:add_to_collection' %}?id={{ protein.id }}" data-toggle="modal" data-target="#collectionModal">
					  <i class="fas fa-book"></i>
					</a>
				</div>
				{% favorite_button protein %}
			</div>

			{% include "_protein_blurb.html" %}
		</div>

		<div class="spectra">
			{% if protein.has_spectra %}<div id="spectra"></div>{% endif %}
		</div>

		<div class="attributes">
			<h3>Attributes</h3>
			{% include '_states_table.html' with protein=protein %}
		</div>

		{% if protein.transitions.count > 0 %}
		<div class="attributes">
			<h3>Transitions</h3>
			<div class="table">
				<table class="table table-striped mobile">
					<thead>
						<tr class="table-header">
							<th>From</th>
				  			<th>To</th>
				  			<th>Switch &lambda;</th>
						</tr>
					</thead>
					<tbody>
					{% for t in protein.transitions.all|dictsort:"trans_wave" %}
						<tr >
							<td data-title="From State">{{ t.from_state.name | default:"&nbsp;"}}</td>
							<td data-title="To State">{{ t.to_state.name | default:"&nbsp;"}}</td>
							<td data-title="Switch &lambda;">{{ t.trans_wave | default:"&nbsp;" }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="align-self-end text-sm-right mt-1">
				<small><a href="#" class='text-info' data-toggle="modal" id='show_transition_modal' data-action-url="{% url 'proteins:update_transitions' slug=protein.slug %}">Edit transitions</a></small>
			</div>
		</div>
		{% endif %}

		<div class="sequence">
			<div class="row justify-content-between">
			  	<div class="col-md-4">
				  <h3>Amino Acid Sequence</h3>
				</div>

				<div class="col-md-8 align-self-end">
					<div class="row text-sm-right justify-content-end">

					<div class="col-sm-4 pr-0">
					<small>GenBank: <a href="https://www.ncbi.nlm.nih.gov/protein/{{ protein.genbank }}" onclick="trackOutboundLink('https://www.ncbi.nlm.nih.gov/protein/{{ protein.genbank }}'); return false;" target="_blank">{{ protein.genbank | default:''}}</a></small>
					</div>

					<div class="col-sm-4 pr-0">
					<small>UniProtKB: <a href="https://www.uniprot.org/uniprot/{{ protein.uniprot }}" onclick="trackOutboundLink('https://www.uniprot.org/uniprot/{{ protein.uniprot }}'); return false;" target="_blank">{{ protein.uniprot | default:''}}</a></small>
					</div>

					<div class="col-sm-4">
					<small>IPG ID: <a href="https://www.ncbi.nlm.nih.gov/ipg/?term={{ protein.ipg_id }}[uid]" onclick="trackOutboundLink('https://www.ncbi.nlm.nih.gov/ipg/?term={{ protein.ipg_id }}[uid]'); return false;" target="_blank">{{ protein.ipg_id | default:''}}</a></small>
					</div>

					</div>
				</div>

			</div>

			{% if protein.seq %}
				<div class='aminosequence container'>{{ protein.seq }}</div>
			{% else %}
			    <p>no sequence available ... <a href="{% url 'proteins:update' slug=protein.slug %}" class='text-secondary'>add one!</a></p>
			{% endif %}
		</div>

		<div class="primary-ref references">
			<h3>Primary Reference</h3>
			{% if protein.primary_reference %}
				{% include "_reference.html" with ref=protein.primary_reference %}
			{% endif %}
		</div>

		<div class="additional-ref references">
			<h3>Additional References</h3>
			<ol>
				{% if protein.additional_references %}
				{% for ref in protein.additional_references %}
					<li>{% include "_reference.html" %}</li>
				{% endfor %}
				{% else %}
				    <p style='color: #888;'>No additional references yet...<p>
				{% endif %}
				<a href="#" class='text-info' data-toggle="modal" data-target="#referenceModal"><button class='btn btn-sm btn-secondary mt-1'><i class="fas fa-book mr-2"></i>Add a reference</button></a>
			</ol>
		</div>

		<div class="external-resources">
			<h3>External Resources</h3>
			<ul>
				<li>Search <a href="http://bionumbers.hms.harvard.edu/search.aspx?task=searchbytrmorg&trm={{ protein.name | urlencode }}" onclick="trackOutboundLink('http://bionumbers.hms.harvard.edu/search.aspx?task=searchbytrmorg&trm={{ protein.name | urlencode }}'); return false;" target="_blank">BioNumbers</a> for {{ protein.name }}</li>
				<li>Search <a href="https://www.addgene.org/search/advanced/?q={{ protein.name | urlencode }}" onclick="trackOutboundLink('https://www.addgene.org/search/advanced/?q={{ protein.name | urlencode }}'); return false;" target="_blank">Addgene</a> for {{ protein.name }}</li>
			</ul>
		</div>

		<div class="container" style='text-align:right; margin-top: 2rem;'>
			<p>Something missing or incorrect? <a href="{% url 'proteins:update' slug=protein.slug %}" class='text-secondary'>Submit a change</a></p>
		</div>


	</div>


<!-- Modals -->
{% include 'proteins/modals/_reference_modal.html' with user=user protein=protein %}
{% include 'proteins/modals/_add_to_collection_modal.html' with user=user protein=protein %}

{% if protein.states.count > 1 %}
	{% include 'proteins/modals/_state_transition_modal.html' with transition_form=transition_form %}
{% endif %}

{% endblock content %}


{% block extrafooter %}
    {% if request.user.is_staff %}
      {% load admin_urls %}
      <a href="{% url 'admin:proteins_protein_change' protein.id %}">{{ protein.name}} on admin</a><br>
    {% endif %}
{% endblock extrafooter %}

{% block javascript %}

  <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"> </script>
  {% compress js %}
  <script src="{% static 'favit/js/favorite.js' %}"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static "js/nvd3spectra.js" %}"> </script>
  {% endcompress %}



    <script type="text/javascript">

      $(function () {
        $('[data-toggle="tooltip"]').tooltip({
        	trigger : 'hover',
        	delay: { "show": 400 },
        });

      });

      {% if protein.has_spectra %}
      var myData = {{ protein.spectra|safe }};
      var chart = nv.models.lineChart();
      svg = d3.select('#spectra').append('svg');
      chart.options({
          margin: {left:20},
          noData: "Unable to load data...",
          transitionDuration: 200,
          showLegend: myData.length > 2,
          showXAxis: true,
          showYAxis: false,
          useInteractiveGuideline: !window.mobilecheck(),
          forceY: [0,1.04],
          forceX: [350, 750],
      });

      /*These lines are all chart setup.  Pick and choose which chart features you want to utilize. */
      nv.addGraph(function() {
          chart.xAxis     //Chart x-axis settings
          //.axisLabel('Wavelength (nm)')
          .tickFormat(d3.format(',r'));

          // chart.yAxis     //Chart y-axis settings
          //   .axisLabel('Normalized Ex/Em')
          //   .tickFormat(d3.format('1%'));

          svg.datum(myData)         //Populate the <svg> element with chart data...
          .call(chart);	       //Finally, render the chart!

          //Update the chart when window resizes.
          nv.utils.windowResize(function() { chart.update() });
          return chart;
      });
      {% endif %}
    </script>

{% endblock %}



