{% extends 'base.html' %}
{% load crispy_forms_tags compress static %}


{% block title %}{% if object %}Update {{ object.name }}{% else %}Submit a protein to FPbase{% endif %}{% endblock %}

{% block meta-description %}{% if object %}This page allows users with an account at FPbase to update information relating to the protein {{ object.name}}{% else %}This page allows users with an account at FPbase to add a new protein to the database{% endif %}{% endblock %}


{% block content %}
	{% if object %} {% comment %} object means this is an update form {% endcomment %}
	    <h1>Update {{ object.name }}</h1>
	{% else %}
	    <h1>Submit a new protein</h1>
	{% endif %}

	{% if states.non_form_errors %}
		<h5>There were errors in the form...</h5>
		<div class="alert alert-danger" role="alert">
		  {{ states.non_form_errors }}
		</div>
	{% endif %}

	<div class="container">
	    <form id="proteinform" action="" method="post" data-validate-proteinname-url="{% url 'proteins:validate_proteinname' %}">
	    	{% csrf_token %}
	    	<input type="hidden" name="slug" id="id_slug" value='{{ protein.slug }}'>
	        <div class='row'>
	        	<div class='col'>
	        		{% crispy form %}
				</div>
			</div>


			<div class="small alert alert-info alert-dismissible fade show" role="alert">
			  <div class='h5 text-info'><i class="fas fa-info-circle mr-2 "></i> <strong>States</strong></div>
			  FPbase uses <strong>states</strong> to encapsulate the various fluorescence characteristics that a protein can have.  Even a constitutively active "basic" protein is given a (single) state.  Rather than directly specifying the "type" of protein, FPbase uses the number of states and transitions between them to determine the type of fluorescent protein.<br><br>

			  For <span style='color: green'>photo</span><span style='color: red'>chromic</span> proteins, first declare all states on this form (including dark states), then add state transitions on the main protein page.<br>More info available on the <a href="{% url 'schema' %}" class="alert-link">database model</a> info page.
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			      <span aria-hidden="true">&times;</span>
			    </button>
			</div>


	        {{ states.management_form|crispy }}
	        {% for stateform in states.forms %}
		        {% for hidden in stateform.hidden_fields %}
	                {{ hidden }}
	            {% endfor %}
				<div class="row formset_div">
					<div class='col state-col'>
						{% if stateform.instance.pk %}{{ stateform.DELETE }}{% endif %}
						{% crispy stateform stateform.helper %}
					</div>
		        </div>
	        {% endfor %}  <!-- end formset loop  -->

	        {% if object %}
	            <input type="submit" class='btn btn-primary mb-4' value="Submit" />
	            <a href="{{ protein.get_absolute_url }}"><input type="button" class='btn btn-danger mb-4' value="Cancel" /></a>
	        {% else %}
	            <input type="submit" class='btn btn-primary mb-4' value="Save Protein"/>
	        {% endif %}
	        <p style='color: gray; font-size: 0.8rem;' class='hidden transition-note'><em><i class='fas fa-exchange-alt mr-2'></i>For <span style='color: green'>photo</span><span style='color: red'>chromic</span> proteins, first declare all states on this form (including dark states), then add state transitions on the main protein page.</em></p>
	    </form>
	</div>

{% include 'proteins/modals/_organism_modal.html'  %}

{% endblock %}


{% block javascript %}

	{% compress js %}
	<script src="{% static 'js/jquery.formset.js' %}"></script>
	{% endcompress %}

	<script type="text/javascript">

		$(function () {

			$('[data-toggle="tooltip"]').tooltip()

			var deleteclass = 'state-delete-button'

			$('.formset_div').formset({
				addText: 'Add State',
				addCssClass: 'btn btn-info mb-4',
				deleteCssClass: deleteclass,
				deleteText: '&times;',
				processHidden: true,
				prefix: 'states' 	 // it's important that this match the string used for the
									 // related_name attribute in the "protein" foreign key field
									 // in the State model

			});

			if ($("#id_ipg_id").val()){
				$("#id_seq").prop('disabled', true);
				$("#hint_id_seq").html('Sequence input disabled when IPG ID provided');
			}

			// if this is an update view without post data, remove the last (empty) state
			{% if object %}
				{% if not request.POST %}
				$('.dynamic-form').last().find('.' + deleteclass).click()
				{% endif %}
			{% endif %}


			$('#id_states-TOTAL_FORMS').change(function(){
				if (this.value > 1){
					$('.transition-note').show()
				} else {
					$('.transition-note').hide()
				}
			});

			$("form").submit(function (e) {
			   if ($("#id_name").hasClass('is-invalid')) {
			      e.preventDefault();
			      $("html, body").animate({ scrollTop: 0 }, "slow");
			      return false;
			   }
			});

		})

	</script>

{% endblock javascript%}

