{% extends "base.html" %}
{% load static %}
{% load webpack_static from webpack_loader %}


{% block extrahead %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/fc-3.2.5/datatables.min.css"/>
{% endblock extrahead %}

{% block container-class %}
container-fluid
{% endblock container-class %}


{% block content %}
<div class="container">
  <h3 style="font-weight:200">Microscope efficiency report for {{object}}</h3>
  <p>This page calculates excitation efficiency and collection efficiency for every probe in the database with each optical configuration saved on this microscope. This info is combined with probe brightness to calculate a "predicted" brightness metric for each fluorophore/optical configuration pair (indicated by the size of the points on the chart).  The table below the chart can be used to explore the data more selectively.<br>
    <span class="text-muted small">Note: only probes for which spectra are available will appear in this report. Effective brightess is only calculated for probes whose extinction coefficients and quantum yields are known. On this page: "brightess" refers to the product of excitation efficiency, collection efficiency, extinction coefficient, and quantum yield. </span></p>
  {% if needs_update or request.user.is_staff %}
  <div class="alert alert-info " role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="alert-heading" style="font-weight:400">{% if not needs_update%}(NO) {%endif%}Updates Available!</h4>
    {% if outdated|length %}
    <p>There are {{outdated | length}} outdated items in this chart. Click the "update" button below to update the report.</p>
    {% else %}
    <p>Click the "update" button below to generate an efficiency report for all fluorophores in the database, matched to each optical configuration on this microscope. The initial calculation may be a minute or longer, but subsequent updates (e.g. if you change an optical config, or an FP is updated) will be faster.</p>
    {% endif %}
    <div class="row px-3">
      <div style="width: 80px">
        <form>
          <input id="request-report" class="btn btn-info" type="submit" value="Update">
        </form>
      </div>
      <div id="update-progress" class="float-left"></div>
    </div>
  </div>
  {% endif %}
  <div id="report_chart" class="mb-4">
    <p id="status">loading scope report... <img src="{% webpack_static 'images/GFP_spinner.gif' %}"></p>
    <svg></svg>
  </div>
</div>

<div class='px-5'>
  <form class='mb-3'>
    <div class="form-row"><span class="text-muted font-weight-bold">Select Configs: </span><span id='oc-toggles' class="form-row"></span></div>
    <div class="form-row"><span class="text-muted font-weight-bold mt-2">Select Measurement: </span>
      <div class="form-row">
        <div class="custom-control custom-checkbox ml-3 mt-2">
          <input type="checkbox" class="custom-control-input meas-vis" value="ext_coeff" id="ec_checkbox">
          <label class="custom-control-label" for="ec_checkbox">EC</label>
        </div>
        <div class="custom-control custom-checkbox ml-3 mt-2">
          <input type="checkbox" class="custom-control-input meas-vis" value="qy" id="qy_checkbox">
          <label class="custom-control-label" for="qy_checkbox">QY</label>
        </div>
        <div class="custom-control custom-checkbox ml-3 mt-2">
          <input type="checkbox" class="custom-control-input meas-vis" value="ex_eff" id="ex_eff_checkbox" checked>
          <label class="custom-control-label" for="ex_eff_checkbox">Ex Eff</label>
        </div>
        <div class="custom-control custom-checkbox ml-3 mt-2">
          <input type="checkbox" class="custom-control-input meas-vis" value="ex_eff_broad" id="ex_eff_broad_checkbox">
          <label class="custom-control-label" for="ex_eff_broad_checkbox">Ex Eff (Broadband)</label>
        </div>
        <div class="custom-control custom-checkbox ml-3 mt-2">
          <input type="checkbox" class="custom-control-input meas-vis" value="em_eff" id="em_eff_checkbox" checked>
          <label class="custom-control-label" for="em_eff_checkbox">Em Eff</label>
        </div>
        <div class="custom-control custom-checkbox ml-3 mt-2">
          <input type="checkbox" class="custom-control-input meas-vis" value="brightness" id="brightness_checkbox" checked>
          <label class="custom-control-label" for="brightness_checkbox">Brightness</label>
        </div>
      </div>
    </div>
  </form>

    <form class='form-inline mb-3'>
      <div class="form-group mt-1 mr-3">
        <label for="switch_filter" class='pr-2'>Switch Type: </label>
        <select class="form-control form-control-sm table-filter custom-select" id='switch_filter' data-col='switch_type'>
          <option value="">All</option>
          <option value="b">Basic</option>
          <option value="pa">Photoactivatable</option>
          <option value="ps">Photoswitchable</option>
          <option value="pc">Photoconvertible</option>
        </select>
      </div>
      <div class="form-group mt-1">
        <label for="agg_filter" class='pr-2'>Oligomerization Type: </label>
        <select class="form-control form-control-sm table-filter custom-select" id='agg_filter' data-col='agg'>
          <option value="">All</option>
          <option value="m">Monomers</option>
          <option value="d">Dimers</option>
          <option value="td">Tandem Dimers</option>
        </select>
      </div>
    </form>


  <table id="report_table" class="table table-striped table-sm" width="100%"></table>
</div>



{% endblock content %}

{% block javascript %}

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/fc-3.2.5/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/absolute.js"></script>

<script type="text/javascript">

  var CSRF_TOKEN = "{{ csrf_token }}";
  var SCOPE_ID = "{{ object.id }}";
  var JOB_ID = null;
  var interval = 3500;
  var FLUORS;
  var START_TIME;
  var chart;
  var chartData;
  var dt;

  function compare(a,b) {
    if (a.key < b.key)
      return 1;
    if (a.key > b.key)
      return -1;
    return 0;
  }

  Array.prototype.any = function(func) {
     return this.some(func || function(x) { return x });
  }

  function titleCase(str) {
    str = str.replace(/_/g, ' ').toLowerCase().split(' ');
    for (var i = 0; i < str.length; i++) {
      str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1);
    }
    return str.join(' ');
  }

  function slugify(text) {
    return text.toString().toLowerCase()
      .replace(/\s+/g, '-')           // Replace spaces with -
      .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
      .replace(/\-\-+/g, '-')         // Replace multiple - with single -
      .replace(/^-+/, '')             // Trim - from start of text
      .replace(/-+$/, '');            // Trim - from end of text
  }

  function updateData() {
    d3.json("{% url 'proteins:scope_report_json' object.id %}", function(d) {
      if (d.fluors){
        FLUORS = d.fluors;
      }
      if (d.report && d.report.length) {
        chartData
          .datum(d.report)
          .transition()
          .duration(300)
          .call(chart);
        $('#status').hide();
      } else {
        $('#status').html(
          '<p class="mt-5">No data yet.  Please update scope report.</p>'
        );
        $('#status').show();
      }

      var colHeaders = ['ex_eff', 'ex_eff_broad', 'em_eff', 'brightness'];
      var colTitles = [{'title': 'Fluor', class:'fluor'},
                       {'title': 'EC', class:'col_ext_coeff', visible: false},
                       {'title': 'QY', class:'col_qy', visible: false},
                       {'title': 'Ex Max', class:'col_ex_max', visible: false},
                       {'title': 'Em Max', class:'col_em_max', visible: false},
                       {'title': 'Agg', class:'col_agg', visible: false},
                       {'title': 'Switch Type', class:'col_switch_type', visible: false}]
      var ocNames = [];
      var fluorData = {};

      d.report.sort(compare);
      // d.report is an array, where each item is an object corresponding to a different OC
      for (var i = d.report.length - 1; i >= 0; i--) {
        var values = d.report[i].values; // the array of values for this OC
        var thisOC = d.report[i].key;  // the name of this thisOC
        ocNames.push(thisOC);

        for (var x = 0; x < colHeaders.length; x++) {
          var cls = slugify('col_' + thisOC) + ' ' + 'col_' + colHeaders[x];
          var vis = true;
          if (colHeaders[x].includes('_broad')) {
            vis = false;
          }
          colTitles.push({'title': thisOC + ' ' + titleCase(colHeaders[x]), 'class': cls, visible: vis});
        }

        for (var r = values.length - 1; r >= 0; r--) {
          //extract the values for this OC / Fluor combination
          var thisFluor = values[r].fluor_slug;
          if (fluorData[thisFluor] === undefined) {
            fluorData[thisFluor] = { 'name': values[r].fluor }
          }

          if (fluorData[thisFluor][thisOC] === undefined) {
            fluorData[thisFluor][thisOC] = [];
          }

          for (var h = 0; h < colHeaders.length; h++) {
            if (values[r][colHeaders[h]] !== null){
              fluorData[thisFluor][thisOC].push(values[r][colHeaders[h]]);
            } else {
              fluorData[thisFluor][thisOC].push('-');
            }
          }

        }
      }

      // change object into array for Datatables
      var dataRows = [];

      var empty = []
      for (var x = colHeaders.length - 1; x >= 0; x--) {
        empty.push('-');
      }


      for (var fluor in fluorData) {
        // skip loop if the property is from prototype
        if (!fluorData.hasOwnProperty(fluor)) continue;

        var fluorlink = fluorData[fluor].name;
        if (FLUORS[fluor].type === 'p') {
          var fluorlink = '<a href="/protein/'+ FLUORS[fluor].slug.split("_")[0] + '">' + fluorlink + '</a>'
        }
        var f = [
          fluorlink,
          FLUORS[fluor]['ext_coeff'] || '-',
          FLUORS[fluor]['qy'] || '-',
          FLUORS[fluor]['ex_max'],
          FLUORS[fluor]['em_max'],
          FLUORS[fluor]['agg'],
          FLUORS[fluor]['switch_type']
        ]
        for (var o = 0; o < ocNames.length; o++) {
          if (fluorData[fluor].hasOwnProperty(ocNames[o])){
            f = f.concat(fluorData[fluor][ocNames[o]] );
          } else {
            f = f.concat(empty);
          }
        }

        dataRows.push(f);
      }

      $("#oc-toggles").empty();
      for (var o = 0; o < ocNames.length; o++) {
        var el = $('<div>', {class: 'custom-control custom-checkbox ml-3'}).append(
            $('<input>', {class: 'custom-control-input toggle-vis', type: 'checkbox', id: slugify(ocNames[o]) + '_check', value: slugify(ocNames[o]), checked: true})
          ).append(
            $('<label>', {class: 'custom-control-label', for: slugify(ocNames[o]) + '_check'}).text(ocNames[o])
          )

        el.appendTo($("#oc-toggles"))

      }
      $('input.toggle-vis').on( 'click', function (e) {
          var columns = dt.columns('.col_' + $(this).val())[0];
          var excluded = $("input.meas-vis:checkbox:not(:checked)").map(function(x, d){return ".col_" + d.value}).toArray().join(', ');
          excluded = dt.columns(excluded)[0];
          columns = columns.filter(function(elem){ return !excluded.includes(elem)});
          dt.columns(columns).visible( $(this).prop('checked') );
      } );

      $('input.meas-vis').on( 'click', function (e) {
        if (['ext_coeff', 'qy'].includes($(this).val())){
          dt.columns('.col_' + $(this).val()).visible( $(this).prop('checked') );
          return
        }
        if ($(this).prop('checked')){
          // only reactivate columns whose OC toggles are active
          var columns = dt.columns('.col_' + $(this).val())[0];
          var included = $("input.toggle-vis:checkbox:checked").map(function(x, d){return ".col_" + d.value}).toArray().join(', ');
          included = dt.columns(included)[0];
          columns = columns.filter(function(elem){ return included.includes(elem)});
          dt.columns(columns).visible( $(this).prop('checked') );
        } else {
          dt.columns('.col_' + $(this).val()).visible( $(this).prop('checked') );
        }
      } );


      $('.table-filter').change(function(){
        var searchval = this.value;
        if (searchval != ''){
          searchval = '^' + this.value +'$';
        }
        searchcol = $(this).data('col');
        dt.column('.col_' + searchcol).search(searchval, true, false).draw();
      });


      dt = $('#report_table').DataTable({
        scrollX: '100%',
        fixedColumns: true,
        retrieve: true,
        data: dataRows,
        columns: colTitles,
      });
    });
  }

  if ($("#update-progress").length){
    var line = new ProgressBar.Line('#update-progress', {
      strokeWidth: 4,
      duration: interval,
      color: '#74779B',
      trailColor: '#ddd',
      trailWidth: 1,
      svgStyle: {width: '100%', height: '100%'},
    });
  }

  function reset_button(){
    clearInterval(window.CHECKER)
    $('#request-report').removeClass('cancel')
    $('#request-report').removeClass('btn-danger')
    $('#request-report').val('Update')
    updateData();
  }

  function check_status(next) {
    next = next || interval;
    if (JOB_ID !== null){
      $.ajax({
          method: 'POST',
          url: '{% url 'proteins:check_scope_report' %}',
          data: {
            "job_id": JOB_ID,
            'csrfmiddlewaretoken': CSRF_TOKEN,
          },
          dataType: 'json',
          success: function(data) {
            if(data.ready || data.info === undefined || data.info === null){
              line.animate(1, {duration: 200});
              reset_button();
            } else {
              var passed = (Date.now() - START_TIME);
              var predicted_total = passed / (data.info.current / data.info.total);
              var current_position = Math.min((next + passed) / predicted_total, 1);
              line.animate(Math.max(line.value(), current_position), {duration: interval});
              var predicted_left = predicted_total - passed;
              setTimeout(check_status, Math.min(next, predicted_left));
              //window.CHECKER = setInterval(check_status, interval);
            }
          }
      });
    }
  }


  $('#request-report').click(function(e) {
    e.preventDefault();
    var form = $(this).closest('form');
    if ($('#request-report').hasClass('cancel')){
      var url = '{% url 'proteins:cancel_scope_report' %}';
    } else {
      var url = '{% url 'proteins:request_scope_report' %}';
    }
    $.ajax({
        method: 'POST',
        url: url,
        data: {
          "scope_id": SCOPE_ID,
          'csrfmiddlewaretoken': CSRF_TOKEN,
          "job_id": JOB_ID,
          "outdated": JSON.stringify({{outdated|safe}}),
        },
        dataType: 'json',
        success: function(data) {
          if (data.canceled){
            line.animate(0, {duration: 200});
            JOB_ID = null;
            reset_button();
          } else {
            // start request
            line.animate(0, {duration: 10});
            START_TIME = Date.now();
            $('#request-report').val('Stop');
            $('#request-report').addClass('cancel');
            $('#request-report').addClass('btn-danger');
            JOB_ID = data.job;
            setTimeout(check_status, 250, (interval - 250));
          }
        }
    });
  });


  $( document ).ready(function() {
        // create the chart
        nv.addGraph(function() {
            chart = nv.models.scatterChart()
                .x(function (d) {
                    if (d.ex_eff && d.ex_eff !== null){
                      return d.ex_eff;
                    }
                    return 0;
                })
                .y(function (d) {
                  if (d.em_eff && d.em_eff !== null){
                    return d.em_eff;
                  }
                  return 0
                })
                .pointSize(function(d){
                  return Math.max(1, + d.brightness * 2);
                })
                .pointRange([10, 400])
                .pointDomain([1, 80])
                .showDistX(true)
                .showDistY(true)
                //.yDomain([0, 1])
                //.xDomain([0, 1])
                .useVoronoi(true)
                .noData('')
            ;

            chart.xAxis
                .tickFormat(d3.format('.02f'))
                .axisLabel('Excitation Efficiency')
            chart.yAxis
                .tickFormat(d3.format('.02f'))
                .axisLabel('Collection Efficiency')

            chartData = d3.select('#report_chart svg').datum([]);
            chartData.transition().duration(300).call(chart);
            nv.utils.windowResize(chart.update);

            chart.dispatch.on('stateChange', function(e) { ('New State:', JSON.stringify(e)); });
            chart.tooltip.contentGenerator(function (key, x, y, e, graph) {
                return ('<div class="report-tooltip" style="margin-top:' + window.scrollY + 'px;"><p><strong>' + key.point.fluor + '</strong></p>' +
                        '<p>Ex Eff: ' + Math.round(1000 * key.point.x) / 10 + ' %</p>' +
                        '<p>Em Eff: ' + Math.round(1000 * key.point.y) / 10 + ' %</p>' +
                        '<p>Brightness: ' + (key.point.brightness || '-') + '</p>' +
                        '<p>EC: ' + (FLUORS[key.point.fluor_slug]['ext_coeff'] || '-') + '</p>' +
                        '<p>QY: ' + (FLUORS[key.point.fluor_slug]['qy'] || '-') + '</p>' +
                        '</div>')  ;
                });
            chart.scatter.dispatch.on('elementClick', function(event) {
                //location.href = event.point.url;
                window.open(event.point.url);
            });
            return chart;
        });
        updateData();
  });

</script>
{% endblock javascript %}
