# sets up .pre-commit-ci.yaml to ensure pre-commit dependencies stay up to date
ci:
  autoupdate_schedule: weekly
  skip: []
  submodules: false

exclude: "^docs/|/migrations/"
default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-docstring-first
      - id: detect-private-key

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.6.0
    hooks:
      - id: uv-export

  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v3.0.0-alpha.9-for-vscode
  #   hooks:
  #     - id: prettier
  #       args: ['--tab-width', '2', '--single-quote']
  #       exclude: '.*/templates/ .*\.min\.js$'

  # - repo: https://github.com/Riverside-Healthcare/djLint
  #   rev: v1.27.2
  #   hooks:
  #     - id: djlint-django

  - repo: https://github.com/adamchainz/django-upgrade
    rev: "1.23.1"
    hooks:
      - id: django-upgrade
        args: ["--target-version", "4.2"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.9.6"
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
