# sets up .pre-commit-ci.yaml to ensure pre-commit dependencies stay up to date
ci:
  autoupdate_schedule: weekly
  skip: []
  submodules: false

exclude: '^docs/|/migrations/'
default_stages: [commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-docstring-first
      - id: detect-private-key

  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v3.0.0-alpha.9-for-vscode
  #   hooks:
  #     - id: prettier
  #       args: ['--tab-width', '2', '--single-quote']
  #       exclude: '.*/templates/ .*\.min\.js$'

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.27.2
    hooks:
      - id: djlint-django

  - repo: https://github.com/adamchainz/django-upgrade
    rev: '1.13.0'
    hooks:
      - id: django-upgrade
        args: ['--target-version', '4.2']

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.267'
    hooks:
      - id: ruff
        args: ['--fix']

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
