# sets up .pre-commit-ci.yaml to ensure pre-commit dependencies stay up to date
ci:
  autoupdate_schedule: weekly
  skip: []
  submodules: false

exclude: "^docs/|/migrations/"
default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: \.svg$
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-docstring-first
      - id: detect-private-key

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.29.1
    hooks:
      - id: django-upgrade
        args: ["--target-version", "4.2"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff-check
        args: ["--fix", "--unsafe-fixes"]
      - id: ruff-format

  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.7
    hooks:
      - id: biome-check

  - repo: https://github.com/DetachHead/basedpyright-prek-mirror
    rev: 1.34.0
    hooks:
      - id: basedpyright
        stages: [manual]

  - repo: local
    hooks:
      - id: typescript-check
        stages: [manual]
        name: TypeScript type check
        entry: pnpm typecheck
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$
