{% extends "base.html" %}

{% block title %}Fluorescent Protein References{% endblock %}
{% block meta-description %}A list of all publications reference by FPbase, the Fluorescent Protein Database{% endblock %}


{% block container-class %}container-fluid referencelist{% endblock %}

{% block content %}

<div class='reftable-wrapper'>
  <h2 class='text-center'>FPbase Reference List</h2>
  <table class="table table-striped mt-4" id="referenceTable">
    <thead>
      <tr class="table-header">
        <td>Link</td>
        <td>Year</td>
        <td>Journal</td>
        <td>Title</td>
        <td>Authors</td>
        <td>1˚ Proteins</td>
        <td>2˚ Proteins</td>
      </tr>
    </thead>
    <tbody>
      {% for ref in reference_list  %}
        <tr>
          <td class='text-center'><a href="https://doi.org/{{ ref.doi }}" target="_blank" rel="noopener"><i class="fas fa-external-link-alt text-secondary font-weight-bold"></i></a></td>
          <td class='text-center'>{{ref.year}}</td>
          <td>{{ ref.journal }}</td>
          <td><a href="{{ ref.get_absolute_url }}">{{ ref.title }}</a></td>
          <td class='authorlist'>
            {% for author in ref.authors.all %}
              <a href="{{ author.get_absolute_url }}">{{ author|title }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
          </td>
          <td>
            {% for protein in ref.primary_proteins.all %}
              <a href="{{ protein.get_absolute_url }}">{{ protein.name }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
          </td>
          <td>
            {% for protein in ref.proteins.all %}
              {% if protein not in ref.primary_proteins.all %}
                <a href="{{ protein.get_absolute_url }}">{{ protein.name }}</a>{% if not forloop.last %},{% endif %}
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock content %}


{% block javascript %}
<script>
  $(function() {
    $('#referenceTable').DataTable({
      "pageLength": 50,
      "autoWidth": false,
      "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100,"All"] ],
      'fixedHeader': {
          'header': false,
          'footer': true
      },
      "order": [[ 1, 'desc' ]],
      "columnDefs": [ {
        "targets": [0, -1],
        "orderable": false
      } ]
    });

    // $('.exmax').each(function(){
    //  $(this).closest('tr').css('background-color', get_color_group($(this).html()))
    // })

  });
</script>
{% endblock javascript %}
