{% load i18n %}
{% load static %}
{% load django_vite %}
{% load webp_picture from protein_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% vite_hmr_client %}
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://{{ algolia_app_id|lower }}-dsn.algolia.net" crossorigin>
    {% block ga %}
    {% if not debug %}
        <link rel="preconnect" href="https://www.googletagmanager.com">
        {% include "_ga.html" %}
      {% endif %}
    {% endblock ga %}

    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}FPbase :: The Fluorescent Protein Database{% endblock title %}</title>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.fpbase.org",
      "logo": "https://www.fpbase.org{% static 'images/circle_logo_full.png' %}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.fpbase.org/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    };
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <link rel="canonical" href="{% block canonical_url %}{{ CANONICAL_URL }}{{ request.get_full_path }}{% endblock %}">
    <meta name="author" content="Talley Lambert">
    <meta name="copyright" content="Talley Lambert" />


    {% block twitter_card %}
      <meta name="twitter:card" content="{% block twitter_card_type %}summary{% endblock twitter_card_type %}" />
      <meta name="twitter:site" content="@FPbase" />
      <meta property="og:site_name" content="FPbase">
      <meta property="og:url" content="{{ABSOLUTE_ROOT_URL}}{{ request.get_full_path }}">
      <meta property="og:title" content="{% block twitter_title %}FPbase: The Fluorescent Protein Database{% endblock twitter_title %}">
      <meta property="og:description" content="{% block twitter_description %}FPbase is a free and open-source, community-editable database for fluorescent proteins and their properties.{% endblock twitter_description %}">
      <meta property="og:image" content="{% block twitter_image %}https://www.fpbase.org{% static 'images/square_logo_white_on_green.gif' %}{% endblock twitter_image %}">
    {% endblock twitter_card %}

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- FontAwesome 7 Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- jQuery and plugins from CDN - must load before Vite bundles for legacy inline script compatibility -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.bundle.min.js" integrity="sha512-igl8WEUuas9k5dtnhKqyyld6TzzRjvMqLC79jkgT3z02FvJyHAuUtyemm/P/jYSne1xwFI06ezQxEwweaiV7VA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js" integrity="sha512-RtZU3AyMVArmHLiW0suEZ9McadTdegwbgtiQl5Qqo9kunkVg1ofwueXD8/8wv3Af8jkME3DDe3yLfR8HSJfT2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/autocomplete.js/0.38.1/autocomplete.jquery.min.js" integrity="sha512-HJ+lF1L08pRq/4okkWG+Rsskjy0p1FtkcYX0RhVaHq6J/pwflJumUbmiCBiXdu0UUevBJvMGb2QHfCzXV5TpfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% vite_asset 'src/index.js' defer='defer' %}

    <script>
      window.FPBASE = window.FPBASE || {};
      window.FPBASE.imageDir = "{% static 'images/' %}";
      window.FPBASE.ALGOLIA = {
        'appID': '{{ algolia_app_id }}',
        'publicKey': '{{ algolia_public_key }}',
        'proteinIndex': 'Protein_{{ algolia_suffix}}',
        'organismIndex': 'Organism_{{ algolia_suffix}}',
        'referenceIndex': 'Reference_{{ algolia_suffix}}',
      };
      {% if request.user.is_authenticated %}
      window.FPBASE.user = {
          email: "{{ request.user.email }}",
          id: "{{ request.user.id }}",
          name: "{{ request.user.username }}"
      };
      {% endif %}
    </script>

    {% block extrahead %}
    {% endblock extrahead %}
  </head>

  <body class="{% block body-class %}{% endblock %}">
    {% block bodyopen %}{% endblock bodyopen %}

    {% block body %}
    <div>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
          {% block navcontainer %}
              {% include "_nav.html" %}
          {% endblock navcontainer %}
        </nav>
    </div>
    <noscript>
        <div class="container-fluid text-center mt-0 bg-danger text-white pt-3 pb-3"><strong>Javascript is disabled!&nbsp;  Many pages and features of FPbase will not work properly</strong>
        </div>
    </noscript>

    <div class="{% block container-class %}container{% endblock %} mt-4">

      {% block messages %}
        {% if messages %}
          <div class="container">
            {% for message in messages %}
                <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% else %}info{% endif %}">{{ message|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endblock messages %}

      {% block content %}{% endblock content %}

    </div> <!-- /container -->

    {% block footer %}
    <footer class="footer container-fluid pl-0">
      <div class="container">
        <div class="row">
          <div class="col-12 text-right">

            <p>©FPbase, <span id='curyear'>2018</span>
              <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" id="licenselink">
                {% webp_picture 'images/by-sa.png' 'ml-2 mb-1 mt-1' 'BY-SA Creative Commons License' %}</a><br>
            <a href="{% url 'terms' %}">Terms</a> &amp; <a href="{% url 'privacy' %}">Privacy</a><br>

            {% block extrafooter %}{% endblock extrafooter %}</p>
          </div>
        </div>
      </div>
      <script type="text/javascript">document.getElementById("curyear").innerHTML = (new Date()).getFullYear();</script>
    </footer>
    {% endblock footer %}

    {% block modal %}{% endblock modal %}

    {% endblock body %}

    {% block javascript %}{% endblock %}

  </body>
</html>
