{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>

<h3 class='mt-3'>My Favorite Proteins</h3>
{% include "_favorite_proteins.html" with user=object %}

<h3 class='mt-3'>My Collections</h3>
<ul>
  {% for collection in object.collections.all %}
    <li><a href="{{ collection.get_absolute_url }}">{{ collection }}</a></li>
  {% empty %}
    <p>You have not created any collections.</p>
  {% endfor %}
</ul>

<p><em>Your public collections can be viewed and shared with others <a href="{% url 'proteins:collections' owner=object %}">here</a>.</p></em>

<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}


{% block javascript %}

  <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
  <script src="{% static 'favit/js/favorite.js' %}"></script>

{% endblock javascript%}
