{% extends "base.html" %}
{% load favit_tags %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}FPbase Fluorescence Spectra Viewer{% endblock %}
{% block meta-description %}An interactive fluorescence spectra viewer to evaluate the spectral properties of fluorescent proteins, organic dyes, filters, and detectors. Calculate collection efficiency or bleedthrough probabilities in your microscope and explore combinations of filters and dyes.{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
{% endblock extrahead %}
{% block twitter_card_type %}summary_large_image{% endblock twitter_card_type %}
{% block twitter_title %}FPbase Fluorescence Spectra Viewer{% endblock twitter_title %}
{% block twitter_description %}An interactive fluorescence spectra viewer to evaluate the spectral properties of fluorescent proteins, organic dyes, filters, and detectors.{% endblock twitter_description %}
{% block twitter_image %}{{ABSOLUTE_ROOT_URL}}{% static 'images/spectra_twitter_card.png' %}{% endblock twitter_image %}

{% block container-class %}container-fluid px-2 px-sm-3 px-lg-5{% endblock %}

{% block content %}
<h1 style="text-align: center; font-size: 1.3rem; font-weight: 600; color: #999; height: 0; visibility: hidden">FPbase Spectra Viewer</h1>
<div id="spectra-viewer">{% include "proteins/_loading_logo.html" %}</div>
{% render_bundle 'spectraViewer' %}
{% endblock content %}

{% block footer %}
{% endblock footer %}
