{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}FPbase :: Table of Fluorescent Protein Properties{% endblock %}
{% block meta-description %}A comprehensive, sortable, searchable table of all the fluorescent proteins in the fluorescent protein database.{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
{% endblock extrahead %}

{% block container-class %}tablecontainer container-fluid{% endblock %}

{% block bodyopen %}
    {% include '_comparetab.html' %}
{% endblock bodyopen %}

{% block content %}

<h2 class="text-center">Fluorescent Protein Table</h2>

<div class="mb-3">
  <p class="small mb-2 mt-3 container text-center">
    This is a comprehensive table of all proteins in the database. You may sort by clicking the column headers (shift-click for multi-sort), or search protein names by typing in the search field.
  </p>
  <p class="small text-muted mb-2 mt-3 container text-center">
  <em><strong>Tip:</strong> click the <i class="fas fa-plus-circle"></i> button to add a protein to the comparison tab on right.</em>
  </p>
</div>

<div id="protein-table"></div>

{% render_bundle 'proteinTable' %}

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
{% endblock javascript %}
