{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}FPbase :: Table of Fluorescent Protein Properties{% endblock %}
{% block meta-description %}A comprehensive, sortable, searchable table of all the fluorescent proteins in the fluorescent protein database.{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
{% endblock extrahead %}

{% block container-class %}container-fluid{% endblock %}

{% block content %}

<div id="protein-table">
  <div style="display: flex; justify-content: center; align-items: center; min-height: 400px;">
    <div style="text-align: center;">
      <div style="font-size: 1.5rem; color: #666; margin-bottom: 1rem;">Loading protein table...</div>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>

{% render_bundle 'proteinTable' %}

{% endblock %}

{% block javascript %}
{# React app handles all interactivity #}
{% endblock javascript %}
