{% load static i18n %}
<div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand" href="{% url 'home' %}">
    {% include "_logo.html" %}
    <span class='brand-FP'>FP</span><span class='brand-base'>base</span><span class='brand-version'>alpha</span>
    </a>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsingNavbar">
        <ul class="nav navbar-nav navbar-dark ml-auto w-100 justify-content-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">info</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'about' %}">about FPbase</a>
                    <a class="dropdown-item" href="{% url 'schema' %}">database design</a>
                    <a class="dropdown-item" href="{% url 'proteins:protein-api' %}">API</a>
                    <a class="dropdown-item" href="{% url 'contact' %}">contact</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">explore</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'proteins:submit' %}">submit a protein</a>
                    <a class="dropdown-item" href="{% url 'proteins:search' %}">advanced search</a>
                    <a class="dropdown-item" href="{% url 'proteins:ichart' %}">interactive chart</a>
                    <a class="dropdown-item" href="{% url 'proteins:table' %}">protein table</a>
                </div>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.get_username }}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a class="dropdown-item" href="{% url 'users:detail' request.user.username  %}">profile</a>
                    <a class="dropdown-item" href="{% url 'account_logout' %}?next={% firstof request.path '/' %}">{% trans "sign out" %}</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}?next={% firstof request.path '/' %}">{% trans "sign in" %}</a>
            </li>
            {% endif %}
            {% if not request.get_full_path == "/" %}
            <form class="form-inline nav-search" method="get" action="/search/">
                    <div class='input-group'>
                    <input class="form-control" type="search" placeholder="Search" name="name__icontains" aria-label="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-outline" type="submit"><i class="fas fa-search"></i></button>
                    </span>
                    </div>
                </span>
            </form>
            {% endif %}
        </ul>
    </div>
</div>
