<div class='twitter-share-wrapper' data-toggle="tooltip" data-placement="right" title="Spread the word!">
  <a class="twitter-share-button"
    href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Flocalhost%3A3000%2F&ref_src=twsrc%5Etfw&text=Check%20out%20%23FPbase%3A%20The%20Fluorescent%20Protein%20Database.%0AFollow%20@FPbase%20for%20updates%20on%20newly%20added%20FPs.%0A%0A&tw_p=tweetbutton&url=https%3A%2F%2Fwww.fpbase.org"
    data-size="large" hashtags="fluorescence,microscopy,proteins,FPbase" url='http://fpbase.org'>
  <i class="fab fa-twitter h4"></i></a>
</div>
