{% load i18n %}
{% load webpack_static from webpack_loader %}
{% load render_bundle from webpack_loader %}
{% load webp_picture from protein_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block ga %}
      {% if not debug %}
        {% include "_ga.html" with ga_tracking_id=ga_tracking_id %}
      {% endif %}
    {% endblock ga %}

    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}FPbase :: The Fluorescent Protein Database{% endblock title %}</title>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.fpbase.org",
      "logo": "https://www.fpbase.org{% webpack_static 'images/circle_logo_full.png' %}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.fpbase.org/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    };
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <link rel="canonical" href="{% block canonical_url %}{{ CANONICAL_URL }}{{ request.get_full_path }}{% endblock %}">
    <meta name="author" content="Talley Lambert">
    <meta name="copyright" content="Talley Lambert" />


    {% block twitter_card %}
      <meta name="twitter:card" content="{% block twitter_card_type %}summary{% endblock twitter_card_type %}" />
      <meta name="twitter:site" content="@FPbase" />
      <meta property="og:site_name" content="FPbase">
      <meta property="og:url" content="{{ABSOLUTE_ROOT_URL}}{{ request.get_full_path }}">
      <meta property="og:title" content="{% block twitter_title %}FPbase: The Fluorescent Protein Database{% endblock twitter_title %}">
      <meta property="og:description" content="{% block twitter_description %}FPbase is a free and open-source, community-editable database for fluorescent proteins and their properties.{% endblock twitter_description %}">
      <meta property="og:image" content="{% block twitter_image %}https://www.fpbase.org{% webpack_static 'images/square_logo_white_on_green.gif' %}{% endblock twitter_image %}">
    {% endblock twitter_card %}

    <link rel="shortcut icon" href="{% webpack_static 'images/favicon.ico' %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% render_bundle 'main' 'css' %}

      <script>
        window.FPBASE = window.FPBASE || {};
        window.FPBASE.imageDir = "{% webpack_static 'images/' %}";
        window.FPBASE.ALGOLIA = {
          'appID': '{{ algolia_app_id }}',
          'publicKey': '{{ algolia_public_key }}',
          'proteinIndex': 'Protein_{{ algolia_suffix}}',
          'organismIndex': 'Organism_{{ algolia_suffix}}',
          'referenceIndex': 'Reference_{{ algolia_suffix}}',
        };
        {% if request.user.is_authenticated %}
        window.FPBASE.user = {
            email: "{{ request.user.email }}",
            id: "{{ request.user.id }}",
            name: "{{ request.user.username }}"
        };
        {% endif %}
      </script>

    {% block extrahead %}
    {% endblock extrahead %}
  </head>

  <body class="{% block body-class %}{% endblock %}">
    {% block bodyopen %}
    {% endblock bodyopen %}

    {% block body %}
    <div>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
          {% block navcontainer %}
              {% include "_nav.html" %}
          {% endblock navcontainer %}
        </nav>
    </div>
    <noscript>
        <div class="container-fluid text-center mt-0 bg-danger text-white pt-3 pb-3"><strong>Javascript is disabled!&nbsp;  Many pages and features of FPbase will not work properly</strong>
        </div>
    </noscript>

    <div class="{% block container-class %}container{% endblock %} mt-4">


      {% block messages %}
        {% if messages %}
          <div class="container">
            {% for message in messages %}
                <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% else %}info{% endif %}">{{ message|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endblock messages %}

      {% block content %}
      {% endblock content %}

    </div> <!-- /container -->

    {% block footer %}
    <footer class="footer container-fluid pl-0">
      <div class="container">
        <div class="row">
          <div class="col-12 text-right">

            <p>©FPbase, <span id='curyear'>2018</span>
              <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" id="licenselink">
                {% webp_picture 'images/by-sa.png' 'ml-2 mb-1 mt-1' 'BY-SA Creative Commons License' %}</a><br>
            <a href="{% url 'terms' %}">Terms</a> &amp; <a href="{% url 'privacy' %}">Privacy</a><br>

            {% block extrafooter %}{% endblock extrafooter %}</p>
          </div>
        </div>
      </div>
      <script type="text/javascript">document.getElementById("curyear").innerHTML = (new Date()).getFullYear();</script>
    </footer>
    {% endblock footer %}

    {% block modal %}{% endblock modal %}

    {% endblock body %}

      <!-- place project specific Javascript -->
      {% render_bundle 'main' 'js' %}
      <script>
        FPBASE.initAutocomplete();
      </script>


      {% block javascript %}{% endblock %}

  </body>
</html>
