{% load static i18n compress%}<!DOCTYPE html>
<html lang="en">
  <head>
    {% block ga %}
      {% if not debug %}
        {% include "_ga.html" with ga_tracking_id=ga_tracking_id %}
      {% endif %}
    {% endblock ga %}

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}FPbase :: The Fluorescent Protein Database{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Talley Lambert">
    <meta name="copyright" content="Talley Lambert" />

    <meta name="description" content="{% block meta-description %}{% endblock %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}

    {% block vendorcss %}{% endblock vendorcss %}

    {% compress css %}

    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    {% endcompress %}
    {% endblock %}

    {% block extrahead %}
    {% endblock extrahead %}
  </head>

  <body class="{% block body-class %}{% endblock %}">
    {% block body %}

    <div class="mb-4">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
          {% block navcontainer %}
              {% include "_nav.html" %}
          {% endblock navcontainer %}
        </nav>
    </div>


    <div class="{% block container-class %}container{% endblock %}">

      {% block messages %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}info{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}
      {% endblock messages %}

      {% block content %}
      {% endblock content %}

    </div> <!-- /container -->

    <footer class="footer container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-4">
            {% include '_twittershare.html' %}<br>
          </div>
          <div class="col-8 text-right">

            <p>©FPbase, <span id='curyear'>2018</span>
              <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" id="licenselink"><img alt="Creative Commons License" style="border-width:0; margin-top:-3px; margin-left:6px;" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br>
            <a href="{% url 'terms' %}">Terms</a> &amp; <a href="{% url 'privacy' %}">Privacy</a><br>

            {% block extrafooter %}{% endblock extrafooter %}</p>
          </div>
        </div>
      </div>
    </footer>

    {% block modal %}{% endblock modal %}

    {% endblock body %}

      <!-- Required by Bootstrap v4 beta -->
      <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
      <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


      <!-- Third-party javascript libraries go here -->
      {% block vendorjs %}{% endblock vendorjs %}

      <!-- place project specific Javascript -->
      {% compress js %}
      <script src="{% static 'js/project.js' %}"></script>
      {% endcompress %}

      <script type="text/javascript">
      $("#curyear").html((new Date()).getFullYear());
      $(function () {
        $('[data-toggle="tooltip"]').tooltip({
          trigger : 'hover',
          delay: { "show": 300 },
        });
      });
      </script>


      {% block javascript %}{% endblock %}

  </body>
</html>

