{% load static i18n compress%}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}FPbase - Fluorescent Protein Database{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <meta name="author" content="Talley Lambert">
    <meta name="copyright" content="Talley Lambert" />

    <!-- remove in production -->
    <meta name="robots" content="noindex"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block vendorcss %}{% endblock vendorcss %}

    {% compress css %}
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    {% endcompress %}
    {% endblock %}

    {% block extrahead %}
    {% endblock extrahead %}
  </head>

  <body>
    {% block body %}

    <div class="mb-4">
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
          {% block navcontainer %}
              {% include "_nav.html" %}
          {% endblock navcontainer %}
        </nav>
    </div>


    <div class="container {% block container-class %}{% endblock %}">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% endblock body %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

      <!-- Required by Bootstrap v4 beta -->
      <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      {% compress js %}
      <script src="{% static 'js/project.js' %}"></script>
      {% endcompress %}

      <script type="text/javascript">
          $(document).ready(function() {
              {% block jquery-docready %}{% endblock %}
          });
          $(window).on('load', function() {
              {% block jquery-winload %}{% endblock %}
          });
      </script>

      {% block js-onpage %}{% endblock %}

  </body>
</html>

