.node {
  cursor: pointer;
  circle {
    stroke: #222;
  }

  text {
    font-size: 0.73rem;
  }
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.tooltip {
  &.lineage-tooltip{
    background: rgba(0,0,0,.85);
    color: #ddd;
    padding: .6rem 0.4rem;
    text-align: center;
  }
}

#mutation-search-input::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.lineage-wrapper {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  svg {
    width: 100%;
  }
}
