{% load i18n %}
  {% if authenticated %}
  <div class="favit" data-toggle="tooltip" data-placement="top" title="Add to favorites" >
  	<a class="btn favorite" id="add_remove_favorite" href="" data-action-url="{% url 'favit:add_or_remove' %}" data-model="{{ target_model }}" data-target="target_{{ target_object_id }}">
  	  <i class="fa{% if not undo %}r{% else %}s{% endif %} fa-heart"></i>
  	</a>
  	<span class="fav-count badge badge-warning" >{{ fav_count }}</span>
  {% else %}
  <div class="favit" data-toggle="tooltip" data-placement="top" title="Log in to add favorites" >
  	<a class="btn favorite" href="{% url 'account_login' %}?next={% firstof path '/' %}">
  	  <i class="far fa-heart"></i>
  	</a>
  	<span class="fav-count badge badge-warning" >{{ fav_count }}</span>
  {% endif %}
</div>

{% comment %}
    <div class="favit" data-toggle="tooltip" data-placement="top" title="Add to Collection" >
  <a class="btn favorite" href="" data-action-url="{% url 'favit:add_or_remove' %}" model="{{ target_model }}" id="target_{{ target_object_id }}">
    <i class="fas fa-book"></i>
  </a>
</div>
{% endcomment %}
