{% load i18n %}
{% if authenticated %}
  <div class="favit" data-toggle="tooltip" data-placement="top" title="Add to favorites" >
  	<a class="btn favorite" id="add_remove_favorite" href="" data-action-url="{% url 'favit:add_or_remove' %}" data-model="{{ target_model }}" data-target="target_{{ target_object_id }}">
  	  <i class="fa{% if not undo %}r{% else %}s{% endif %} fa-heart d-none d-sm-inline"></i>
      <button type="button" class="btn btn-info btn-block d-block d-sm-none">
          <i class="fa{% if not undo %}r{% else %}s{% endif %} fa-heart"></i>
          <span>{% if not undo %}Add to{% else %}Remove from{% endif %} favorites</span>
      </button>
  	</a>
  	<span class="fav-count badge badge-warning d-none d-sm-inline" >{{ fav_count }}</span>
  </div>

{% else %}
  <div class="favit" data-toggle="tooltip" data-placement="top" title="Log in to add favorites" >
  	<a class="btn favorite" href="{% url 'account_login' %}?next={% firstof path '/' %}">
  	  <i class="far fa-heart d-none d-sm-inline"></i>
      <button type="button" class="btn btn-info btn-block d-block d-sm-none mt-2">
          <i class="fa{% if not undo %}r{% else %}s{% endif %} fa-heart"></i>
          <span>{% if not undo %}Add to{% else %}Remove from{% endif %} favorites</span>
      </button>
  	</a>
  	<span class="fav-count badge badge-warning d-none d-sm-inline" >{{ fav_count }}</span>
  </div>

{% endif %}
