#report_chart {
    margin: 0px;
    padding: 0px;
    height: 750px;
    width: 100%;
}

#status {
  margin: auto;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  color:#666;
}


#request-report {
  width: 80px;
}
#update-progress {
  margin: 5px;
  margin-left: 20px;
  height: 8px;
  width: calc(100% - 110px);
}


#report_table_info, #report_table_paginate {
  font-size: small;
  color: #888 !important;
}

.json-button {
  @include button-variant($primary, transparent, darken($primary, 5));
}
