
.tablecontainer{
  padding: 5px;
  @include media-breakpoint-up(sm){
    padding: 15px;
  }
  @include media-breakpoint-up(lg){
    padding: 25px;
  }
	@include media-breakpoint-up(xl){
		max-width: 1400px;
		margin: auto;
	}
	//@include media-breakpoint-down(lg){max-width: map-get($container-max-widths, md);}
}

.DTFC_LeftBodyWrapper {
  //border-bottom: 1px solid black;
  border-right: 1px solid #eee; // Mobile-first default

  @include media-breakpoint-up(sm) {
    border-right: none;
  }
}

.DTFC_LeftBodyLiner table.DTFC_Cloned thead th{
  &.sorting, &.sorting_desc, &.sorting_asc {
    &::before, &::after {
      display: none;
    }
  }
}


.dataTable {
  &.table-sm{
    font-size: 0.75rem;
    th {
      font-weight: 500;
      &.sorting, &.sorting_desc, &.sorting_asc {
        &::after, &::before{
          font-size: .70rem;
          top: 8px !important;
        }
        &::after{
          right: 0.22rem;
        }
      }
    }
  }
}

.flip-scroll {
  td, th {
    @include media-breakpoint-up(md) { padding-top: 0.35rem; padding-bottom: 0.35rem;}
  }
  @include media-breakpoint-down(lg) {
    thead {
      padding-left: 1rem;
    }
  }
}

#fret_report_wrapper {
  label {
    display: inline-flex !important;
    select, input {
      margin-left: .8rem;
      margin-right: .8rem;
      margin-top: -3px;
    }
    input {
      margin-right: 0rem;
    }
  }

  #fret_report_info {
    font-size: 0.7rem;
  }


  .table tbody td {
    vertical-align: middle;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  .paginate_button {
    font-size: 0.7rem;
  }
  thead th { white-space: nowrap !important; }

}

#fret_report{
  .load-button {
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  width: 100% !important;
  tbody{ font-size: 0.8rem; }
  thead, tfoot{
    th {
      text-align: center;
    }
    font-size: 0.8rem;
  }

}
