@import "_options.scss"; // custom bootstrap overrides


@import "_variables.scss"; // my overrides
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Restore BS4 .text-muted color
.text-muted {
  --bs-text-opacity: 1;
  color: #889199 !important;
}

// project specific CSS goes here

@import "_main.scss";
@import "_home.scss";
@import "_nav.scss";
@import "_protein.scss";
@import "_reference.scss";
@import "_spectra.scss";
@import "_table.scss";
@import "_ichart.scss";
@import "_forms.scss";
@import "_social.scss";
@import "_spectra.scss";
@import "_blockquotes.scss";
@import "_litemol.scss";
@import "_lineage.scss";
@import "_scope_report.scss";
@import "_comparison.scss";
@import "_algoliasearch.scss";

////////////////////////////////
//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

:root {
  --bs-tertiary-bg: #E9EBEE;
}

.btn {
  --bs-btn-box-shadow: none !important;
}
