<div class="chartaxis-options">
  <h4> {{ axis|upper }} Axis </h2>
  <div class="btn-group-vertical" data-toggle="buttons" id="{{ axis|upper }}radio">
    <label class='btn btn-secondary {% if axis == "X" %} active {% endif %}'>
      <input type="radio" name="{{ axis|upper }}radio" autocomplete="off" id="{{ axis|upper }}lambda_em" value="lambda_ex" {% if axis == "X" %} checked {% endif %}>Excitation &lambda;
    </label>
    <label class='btn btn-secondary {% if axis == "Y" %} active {% endif %}'>
      <input type="radio" name="{{ axis|upper }}radio" autocomplete="off" id="{{ axis|upper }}lambda_em" value="lambda_em" {% if axis == "Y" %} checked {% endif %}>Emission &lambda;
    </label>
    <label class="btn btn-secondary"><input type="radio" name="{{ axis|upper }}radio" autocomplete="off" id="{{ axis|upper }}stokes" value="stokes">Stokes Shift</label>
    <label class="btn btn-secondary"><input type="radio" name="{{ axis|upper }}radio" autocomplete="off" id="{{ axis|upper }}EC" value="E">EC</label>
    <label class="btn btn-secondary"><input type="radio" name="{{ axis|upper }}radio" autocomplete="off" id="{{ axis|upper }}QY" value="QY">QY</label>
    <label class="btn btn-secondary"><input type="radio" name="{{ axis|upper }}radio" autocomplete="off" id="{{ axis|upper }}brightness" value="brightness">Brightness</label>
    <label class="btn btn-secondary"><input type="radio" name="{{ axis|upper }}radio" autocomplete="off" id="{{ axis|upper }}pka" value="pka">pKa</label>
    <label class="btn btn-secondary"><input type="radio" name="{{ axis|upper }}radio" autocomplete="off" id="{{ axis|upper }}bleach" value="bleach">Stability</label>
    <label class="btn btn-secondary"><input type="radio" name="{{ axis|upper }}radio" autocomplete="off" id="{{ axis|upper }}mature" value="mature">Maturation</label>
    <label class="btn btn-secondary"><input type="radio" name="{{ axis|upper }}radio" autocomplete="off" id="{{ axis|upper }}lifetime" value="lifetime">Lifetime</label>
  </div>
</div>