{% load humanize %}
{% comment %}
	variables:
		showbleach [Bool]: whether to show the bleach column,
		removebutton [Bool]: whether to include the remove button column
		proteins [List, Queryset]: List or queryset of proteins to show in the table
    comparison [Bool]: whether to show comparison button
{% endcomment %}


<table class="table" id="{{ id|default:'proteinTable' }}">
	<thead>
		<tr class="table-header">
			{% if removebutton %}<th class='remove-button'>Remove</th>{% endif %}
			<th class="protein">Name</th>
			<th>&lambda;<sub>ex</sub></th>
  			<th>&lambda;<sub>em</sub></th>
  			<th>Stokes</th>
  			<th>EC</th>
  			<th>QY</th>
  			<th>Bright</th>
  			<!-- <th data-sortable="true" >&#1642;EGFP</th> -->
  			{% if showbleach %}<th>Bleach</th>{% endif %}
  			<th>pKa</th>
  			<th class='agg_type'>Agg</th>
  			<th>Mat</th>
  			<th>Lifetime</th>
  			<th class='hidden switch_type'>type</th>

		</tr>
	</thead>
	<tbody>
		{% for protein in proteins  %}
			{% for state in protein.states.all %}
				{% if not state.is_dark %}
					<tr class="data">
						{% if removebutton %}
						{% load protein_tags %}
							<td class="remove-button">{% collection_remove_button protein %}</td>
						{% endif %}
						<td class="protein">
							<a href="{{ protein.get_absolute_url }}">
								{{ protein | safe }}
								{% if not 'default' in state.name %} <small>({{ state.name }})</small>{% endif %}
							</a>
              {% if comparison %}
              <form method='post' action="{% url 'proteins:add-comparison' slug=protein.slug %}" class='comparison-form d-inline float-left align-text-top' data-flash='1'>
                {% csrf_token %}
                <button class="btn btn-outline-info mr-2 btn-circle" type='submit'><i class="fas fa-plus"></i></button>
              </form>
              {% endif %}
						</td>
						<td class="numeric exmax">{{ state.ex_max | default_if_none:"-" }}</td>
						<td class="numeric">{{ state.em_max | default_if_none:"-" }}</td>
						<td class="numeric">{{ state.stokes | default:"-" }}</td>
						<td class="numeric">{% if state.ext_coeff %}{{ state.ext_coeff|intcomma}}{%else%}-{%endif%}</td>
						<td class="numeric">{{ state.qy | default_if_none:"-" }}</td>
						<td class="numeric">{{ state.brightness | default:"-" }}</td>
						<!-- <td class="numeric">{{ state.bright_rel_egfp | default:"-" }}</td> -->
						{% if showbleach %}<td class="numeric">{{ state.bleach_measurements.all.0.rate | default_if_none:"-" }}</td>{% endif %}
						<td class="numeric">{{ state.pka | default_if_none:"-" }}</td>
						<td class="numeric">{% if protein.agg %}{{ protein.agg }}{%else%}-{%endif%}</td>
						<td class="numeric">{{ state.maturation | default_if_none:"-" }}</td>
						<td class="numeric">{{ state.lifetime | default_if_none:"-" }}</td>
						<td class='hidden'>{{ state.protein.switch_type }}</td>

					</tr>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</tbody>
</table>
