{% load humanize %}

{% if protein.states.count %}
	<table class="table table-striped" id='flip-scroll'>
		<thead>
			<tr class="table-header">
				{% if protein.states.count > 1 %}<th>State</th>{% endif %}
				<th>Ex &lambda;</th>
	  			<th>Em &lambda;</th>
	  			<th>EC</th>
	  			<th>QY</th>
	  			<th>Brightness</th>
{# 	  			<th>Stability</th> #}
	  			<th>pKa</th>
	  			<th>Maturation</th>
	  			<th>Lifetime</th>
			</tr>
		</thead>
		<tbody>
		{% for state in protein.states.all %}
			<tr >
				{% if protein.states.count > 1 %}
				<td>{{ state.name }}</td>
				{% endif %}
				<td>{{ state.ex_max | default:"&nbsp;" }}</td>
	  			<td>{{ state.em_max | default:"&nbsp;"}}</td>
	  			<td>{% if state.ext_coeff %}{{ state.ext_coeff|intcomma }}{% endif%}</td>
	  			<td>{{ state.qy | default:"&nbsp;"}}</td>
	  			<td>{{ state.brightness | default:"&nbsp;"}}</td>
{# 	  			<td>{{ state.bleach_measurements.all.0.rate | default:"&nbsp;"}}</td> #}
	  			<td>{{ state.pka | default:"&nbsp;"}}</td>
	  			<td>{{ state.maturation | default:"&nbsp;"}}</td>
	  			<td>{{ state.lifetime | default:"&nbsp;"}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<div class="align-self-end text-sm-right mt-1">
		<a href="{% url 'proteins:update' slug=protein.slug %}" class='text-info'>
			<small class="d-none d-sm-inline">Edit States&sol;Attributes</small>
			<button type="button" class="btn btn-info btn-block mt-3 d-block d-sm-none"><i class="fas fa-sun mr-2"></i>Edit States&sol;Attributes</button>
		</a>
	</div>
	{% if protein.states.count > 1 and protein.transitions.count == 0 %}
		<div class="align-self-end text-sm-right mt-1">
			<a href="#" class='text-info' data-toggle="modal" id='show_transition_modal'>
				<small class="d-none d-sm-inline">Edit state transitions</small>
				<button type="button" class="btn btn-info btn-block mt-3 d-block d-sm-none"><i class="fas fa-exchange-alt mr-2"></i>Edit state transitions</button>
			</a>
		</div>
	{% endif %}


{% else %}
	<p>This protein does not yet have any states assigned. <a href="{% url 'proteins:update' slug=protein.slug %}" class='text-secondary'>Submit a change.</a></p>
{% endif %}