{% extends "base.html" %}
{% load static i18n compress favit_tags %}

{% block title %}FPbase FRET Calculator{% endblock %}
{% block meta-description %}An interactive fluorescence spectra viewer to calculate fluorescence overlap and Forster distance for Förster Resonance Energy Transfer (FRET) between fluorescent proteins.{% endblock %}

{% block vendorcss %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock vendorcss %}

{% block extrahead %}

{% endblock extrahead %}

{% block container-class %}container-fluid spectrumpage fretpage{% endblock %}

{% block content %}

<h2 class='text-center'>FPbase FRET Calculator</h2>
<div class="spectra-wrapper mt-2">
  <div class="spectra container clearfix">
    <div id="spectra">
      <div class="svg-container">
        <svg id="spectrasvg"></svg>
      </div>
  <!--
      <div class="focusnote">click and drag to zoom</div>
      <div class="btn-group btn-group-xs btn-group-toggle scale-btns" data-toggle="buttons">
        <label class="btn btn-info active">
          <input type="radio" id="setLinearScale" autocomplete="off" checked value='linear'> linear
        </label>
        <label class="btn btn-info">
          <input type="radio" id="setLogScale" autocomplete="off" value='log'> log
        </label>
      </div>
      <div class="float-right mr-2"><button class='btn btn-xs btn-info resetXdomain'>Reset Zoom</button></div> -->

    </div>
  </div>
</div>

<div class="container" style="padding-top:3rem">
  <div class="row">
    <div class="input-group input-group mb-3 col-12 col-md-4 col-sm-6">
      <div class="input-group-prepend">
        <label class="input-group-text text-white bg-info" for="donor-select">Donor</label>
      </div>
      <select class="custom-select data-selector fluor-selector" id="donor-select" tabindex="-1" aria-hidden="true">
        <option value="">-----</option>
        {% for probe in probeslugs %}
        <option value="{{ probe.slug }}">{{ probe.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-group input-group mb-3 col-12 col-md-4 col-sm-6">
      <div class="input-group-prepend">
        <label class="input-group-text text-white bg-info" for="acceptor-select">Acceptor</label>
      </div>
      <select class="custom-select data-selector fluor-selector" id="acceptor-select" tabindex="-1" aria-hidden="true">
        <option value="">-----</option>
        {% for probe in probeslugs %}
        <option value="{{ probe.slug }}">{{ probe.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="input-group input-group mb-3 col-12 col-md-2 col-sm-6">
      <div class="input-group-prepend">
        <label class="input-group-text text-white bg-info font-italic" for="acceptor-select">𝓃</label>
      </div>
      <input type="text" class="form-control" id="ni-input" value=1.33>
    </div>

    <div class="input-group input-group mb-3 col-12 col-md-2 col-sm-6">
      <div class="input-group-prepend">
        <label class="input-group-text text-white bg-info font-italic" for="acceptor-select">&kappa;<sup>2</sup></label>
      </div>
      <input type="text" class="form-control" id="k2-input" value=0.6667>
    </div>


  </div>
  <div class="row">

  </div>
</div>


<div class="container table-wrapper" hidden>
  <table class="table table-bordered" id='flip-scroll'>
    <thead>
      <tr class="table-header">
        <th>QY<sub class='small'>Donor</sub></th>
        <th>EC<sub class='small'>Acc.</sub> <span class='small'>(M<sup>-1</sup> cm<sup>-1</sup>)</span></th>
        <th>QY<sub class='small'>Acc.</sub></th>
        <th>J(&lambda;) <span class='small'>(*1e15 M<sup>-1</sup> cm<sup>-1</sup> nm<sup>4</sup>)</span> </th>
        <th>R<sub>0</sub><span class='small'>(Å)</span></th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td id='QYD'></td>
        <td id='ECA'></td>
        <td id='QYA'></td>
        <td id='overlapIntgrl'></td>
        <td id='r0'></td>
      </tr>
    </tbody>
  </table>

</div>
<p class='text-muted  text-center mt-2'>
<small class='font-italic'>QY = Quantum Yield, EC = Extinction Coefficient, J(&lambda;) = Overlap Integral, R<sub>0</sub> = Förster Radius, 𝓃 = refractive index, &kappa;<sup>2</sup> = orientation factor<br><a class='text-info' href="https://doi.org/10.1006/abio.1994.1134">Wu &amp; Brand (1994). Resonance Energy Transfer: Methods and Applications. <em>Analytical Biochem. </em><strong>218</strong></a></small>
<br><img class="mt-2 mb-2 mx-4" src="{% static 'images/equation_r0.png' %}" style="opacity: 0.7">&amp;<img class="mt-2 mb-2 mx-4" src="{% static 'images/equation_Jlambda.png' %}" style="opacity: 0.7">
</p>

<div class="container">
  <h5 class='text-center mt-4 mb-2' style='font-weight: 300;'>Förster Radii for all FP pairs in the database</h5>
  <table id="fret_report" class="display table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Show</th>
        <th>Donor</th>
        <th>Acceptor</th>
        <th>&lambda;max<sub class='small'>D</sub></th>
        <th>&lambda;max<sub class='small'>A</sub></th>
        <th>QY<sub class='small'>D</sub></th>
        <th>EC<sub class='small'>A</sub></th>
        <th>QY<sub class='small'>A</sub></th>
        <th>J(&lambda;)</th>
        <th>R<sub>0</sub> <span class='small'>(Å)</span></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Show</th>
        <th>Donor</th>
        <th>Acceptor</th>
        <th>&lambda;max<sub class='small'>D</sub></th>
        <th>&lambda;max<sub class='small'>A</sub></th>
        <th>QY<sub class='small'>D</sub></th>
        <th>EC<sub class='small'>A</sub></th>
        <th>QY<sub class='small'>A</sub></th>
        <th>J(&lambda;)</th>
        <th>R<sub>0</sub></th>
      </tr>
    </tfoot>
  </table>
</div>

<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1"> <defs> <pattern id="diagonal-stripe-r" patternUnits="userSpaceOnUse" width="10" height="10"> <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSdibGFjaycvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J3doaXRlJyBzdHJva2Utd2lkdGg9JzMnLz4KPC9zdmc+" x="0" y="0" width="10" height="10"> </image> </pattern> </defs> </svg>


{% endblock content %}


{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

{% compress js %}
<script src="{% static 'js/fret.js' %}"></script>
{% endcompress %}


{% endblock javascript %}
