{% extends "base.html" %}
{% load static compress%}

{% block vendorcss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.css" integrity="sha256-2K003H0jZA9S0f2CtcQ0zIYD65lfKdAA00qtDCPIMV0=" crossorigin="anonymous" />
{% endblock %}

{% block title %}Interactive Fluorescent Protein Properties{% endblock %}

{% block container-class %}container-fluid{% endblock %}
{% block content %}
<div class="d3-container">
	<div class="row">
		<div class="col-md-8">

			<div id="graph" class="svg-container mt-4">
				<img width=151 height=100 class="loadinggif" src="{% static 'images/loading.gif' %}">
			</div>
			<div id="tooltip" class="hidden">
			        <h3>FPname</h3>
			        <p>Ex: <span id="exvalue"></span>nm</p>
			        <p>Em: <span id="emvalue"></span>nm</p>
			        <p>EC: <span id="ecvalue"></span></p>
			        <p>QY: <span id="qyvalue"></span></p>
			        <p>Brightness: <span id="brightnessvalue"></span></p>
			</div>  <!-- end div#tooltip -->
		</div>  <!-- end col -->

		<div class="col-md-4">

			<div class="row">
				<div class="col">
					<div id="sliders"></div>
				</div>
			</div>

			<div class="row">
				<div class="col text-center">
					{% include "_chartaxis_button_group.html" with axis="Y"  %}
				</div>
				<div class="col text-center">
					{% include "_chartaxis_button_group.html" with axis="X"  %}
				</div>
			</div> <!-- end div.cf -->

		</div>  <!-- end col -->

	</div> <!-- end div.cf -->
</div> <!-- end div.container -->



<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Shoot.</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        We're sorry, there appears to be a problem retreiving protein data!  We've been notified and are working on it.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block vendorjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.js" integrity="sha256-R9uiXmQekNb8r352uyt9EW3yRd3VZL3NyU8N0Z5fMo0=" crossorigin="anonymous"></script>
{% compress js %}
<script src="{% static 'js/ichart.js' %}"></script>
{% endcompress %}
{% endblock vendorjs %}


{% block js-onpage %}
<script>
	// load the csv file and plot it
	//d3.csv("https://raw.githubusercontent.com/FPvisualization/fpvisualization.github.io/master/FPs_processed.csv",
	d3.json("{% url 'proteins:basic-protein-api' %}",
	 function (data) {
	 	if (data == null){
	 		$('.loadinggif').hide()
	 		//$('#errorModal').modal()
	 		$('#errorModal').modal('show')

	 		return;
	 	}
		data.forEach(function(d){
			d.lambda_em = +d.lambda_em;		// typing these variables here for simplicity of code later on
			d.lambda_ex = +d.lambda_ex;
			d.E = +d.E;
			d.QY = +d.QY;
			d.brightness = +d.brightness;
		})

		FPdata = data;

		//Only update max of saturation scale, so that gray corresponds to 0 brightness
		//Use 80th percentile as max saturation so that not everything is muddy gray
		saturationScale.domain([0,
			d3.quantile(FPdata.map(function(a) {return (+a.brightness)}).sort(function(a,b){return a-b}),0.8)
		]);

		plot();
		$('.loadinggif').hide()
	});

</script>
{% endblock	%}



