{% extends "base.html" %}
{% load static %}


{% block content %}

  <div class="container">
    <p>Hover over any circle to see mutations relative to the parental protein. Click on a circle to go to its page. Right click on a circle to collapse its descendent tree.</p>
    <p>Use the search bar to search for a specific mutation, or a combination of mutations (using the "any/all" buttons to modify your search).  To search for mutations relative to the root protein, click relative to "root".  Use the arrows to compress/expand the tree, or group clusters tightly or losely</p>
  </div>
  <div class="lineage"></div>


{% endblock content %}

{% block javascript %}

<script>


$('.lineage').each(function(i, el){
  $.getJSON("/ajax" + window.location.pathname, function(data){
    var chart = LineageChart().data(data)
                          .withSearch(true)
                          .withToolbar(true);
    chart.heightScalar(32);
    var lineage = d3.select(el)
    lineage.call(chart);

    var resizeTimer;
    $(window).on('resize', function(e) {
      clearTimeout(resizeTimer);
      resizeTimer = setTimeout(function() {
        lineage.call(chart);
      }, 100);
    });
  })
});


</script>


{% endblock javascript %}
