{% extends "base.html" %}
{% load mptt_tags %}

{% block content %}

<ul>
    {% recursetree lineages %}
        <li>
            <a href="{{node.protein.get_absolute_url}}">{{ node.protein }}</a>
            {% if node.mutation %}
                <small class='text-muted ml-2'>({{node.display_mutation}})</small>
            {% endif %}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

{% endblock content %}
