{% extends "base.html" %}

{% block content %}

  <div class="container">
    <p>Hover over any circle to see mutations relative to the parental protein. Click on a circle to go to its page. Right click on a circle to collapse its descendent tree.</p>
    <p>Use the search bar to search for a specific mutation, or a combination of mutations (using the "any/all" buttons to modify your search).  To search for mutations relative to the root protein, click relative to "root".  Use the arrows to compress/expand the tree, or group clusters tightly or losely</p>
  </div>
  <div class="lineage"></div>


{% endblock content %}

{% block javascript %}

<script>


$('.lineage').each(function(i, el){
  $.getJSON("/ajax" + window.location.pathname, function(data){
    var chart = LineageChart({
      withSearch: true,
      withToolbar: true,
    }).data(data);
    d3.select(el).call(chart);

    var resizeTimer;
    $(window).on('resize', function(e) {
      clearTimeout(resizeTimer);
      resizeTimer = setTimeout(function() {
        d3.select(el).call(chart);
      }, 50);
    });
    chart.duration(100);
  })
});


</script>


{% endblock javascript %}
