{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h2>Search</h2>

        {% crispy form %}


            <h3>Results</h3>

            <div class="container protein_results">
                <ul class="row" style="list-style: none">
                {% for protein in proteins %}
                    <a href="{{ protein.get_absolute_url }}" class="protein_result_item" style="background-color:
                        {% if protein.default_state %}
                            {{ protein.default_state.emhex }}
                        {% else %}
                            #000
                        {% endif %};">
                        <li class="col-sm">
                            <h4 style="color:
                            {% if  protein.default_state.em_max > 477 and protein.default_state.em_max < 620 %}
                                #222
                            {% else %}
                                #eee
                            {% endif %}
                            ;">
                            {{ protein.name }}
                            </h4>
                            <span class='attributes' style="color:
                                {% if  protein.default_state.em_max > 477 and protein.default_state.em_max < 620 %}
                                    #222
                                {% else %}
                                    #eee
                                {% endif %}
                                ;">
                                {{ protein.default_state.ex_max }} / {{ protein.default_state.em_max }}
                            </span>
                        </li>
                    </a>
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
                </ul>
            </div>

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}



</div>
{% endblock %}