{% extends "base.html" %}
{% load static i18n compress favit_tags %}

{% block title %} {% endblock %}
{% block meta-description %}{% endblock %}

{% block vendorcss %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" rel="stylesheet">
{% endblock vendorcss %}

{% block extrahead %}
<style type="text/css">
    #spectra .tick line{
        opacity: .35;
    }
</style>
{% endblock extrahead %}

{% block container-class %}container protein{% endblock %}

{% block content %}

    <h2 class='text-center'>FPbase Spectra Viewer</h2>

  	<div class="spectra mb-4">
        <div id="spectra"></div>
    </div>


    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" href="#proteintab" data-toggle="tab">Proteins</a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="#extab" data-toggle="tab">Excitation</a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="#emtab" data-toggle="tab">Emission</a>
        </li>
    </ul>

    <div class="tab-content ">
        <div class="tab-pane active" id="proteintab">
            <table class='table spectra-form' id='protein-table'>
                <tbody>
                </tbody>
            </table>
            <button type="button" class="btn btn-info btn-sm" id="addproteinbutton">Add protein</button>
        </div>

        <div class="tab-pane" id="extab">

            <table class='table spectra-form' id='excitation-table'>
                <tbody>
                </tbody>
            </table>
            <p>not yet implemented... coming soon</p>

        <button type="button" class="btn btn-info btn-sm" id="addexcitationbutton">Add excitation</button>

        </div>

        <div class="tab-pane" id="emtab">
            <table class='table spectra-form' id='emission-table'>
                <tbody>
                </tbody>
            </table>
            <p>not yet implemented... coming soon</p>
        <button type="button" class="btn btn-info btn-sm" id="addemissionbutton">Add emission filter</button>
        </div>
    </div>


<div class="hidden" id='widg'>
    {{protein_widget}}
</div>

{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"> </script>

    <script type="text/javascript">

    	var chart = nv.models.lineChart();
        var spectraData = {};

        var widg = $("#widg").html();
        var proteinrow = '\
        <tr class="protein-row">\
          <td><button type="button" class="btn btn-danger btn-sm remove-row" ><strong>&times;</strong></button></td>\
          <td>' + widg + '</td>\
          <td>\
            <input class="form-check-input big-checkbox excheck" type="checkbox" checked>\
            <label class="form-check-label ml-2">ex</label>\
          </td>\
          <td>\
            <input class="form-check-input big-checkbox emcheck" type="checkbox" checked>\
            <label class="form-check-label ml-2">em</label>\
          </td>\
        </tr>\
        '


    	$(function() {

            $(proteinrow).appendTo($('#protein-table').find('tbody'));

    		//initialize chart
    		var myData = [];
    		svg = d3.select('#spectra').append('svg');
    		//chart.xDomain([300,800]);
    		chart.yDomain([0,1]);
    		chart.yAxis.axisLabelDistance(25);
    		chart.options({
    			noData: "Please select a fluorophore ...",
    			showLegend: true,
    			showXAxis: true,
    			showYAxis: true,
    			clipEdge: true,
                margin: {left:40},
                transitionDuration: 200,
                useInteractiveGuideline: !window.mobilecheck(),
                forceY: [0,1.04],
                //forceX: [350, 750],

    		});

    		/*These lines are all chart setup.  Pick and choose which chart features you want to utilize. */
    		nv.addGraph(function() {
    			chart.xAxis     //Chart x-axis settings
    			  .axisLabel('Wavelength (nm)')
    			  .tickFormat(d3.format(',r'));

    			chart.yAxis     //Chart y-axis settings
    			  .axisLabel('Normalized Ex/Em/Transmission')
    			  .tickFormat(d3.format('1%'));

    		   	svg.datum(myData)         //Populate the <svg> element with chart data...
    			      .call(chart);	       //Finally, render the chart!

    		  //Update the chart when window resizes.
    		  nv.utils.windowResize(function() { chart.update() });
    		  return chart;
    		});

            $("#addproteinbutton").click(function(e) {
                $(proteinrow).appendTo($('#protein-table').find('tbody'));
            });

    	});


        function refreshChart(){
            var currentData = []
            $('.protein-row').each(function(){

                var slug = $(this).find('.protein-spectra-select').val();
                if(!slug){
                    return true;
                }
                var ex = $(this).find('.excheck').prop('checked');
                var em = $(this).find('.emcheck').prop('checked');
                for (var i = 0; i < spectraData[slug].length; i++) {
                    d = spectraData[slug][i];
                    if (d.type == 'ex' && ex){
                        currentData.push(d);
                    }
                    else if (d.type == 'em' && em){
                        currentData.push(d);
                    }

                }
            });
            svg.datum(currentData);
            chart.update();
        }

        $("body").on('change', '.protein-spectra-select', function (e) {
          var slug = $(this).val();
          if (!(slug in spectraData)){
            $.ajax({
                type: "GET",
                url: slug,
                data: {},
                dataType: 'json',
                success: function(data) {
                    spectraData[slug] = JSON.parse(data.spectra);
                    refreshChart()
                },
            });
          } else{
                refreshChart()
          }
        })

        $("body").on('click', '.remove-row', function (e) {
            $(this).closest('tr').remove()
            refreshChart()
        })

        $("body").on('click', '.emcheck', function (e) {
            refreshChart()
        })

        $("body").on('click', '.excheck', function (e) {
            refreshChart()
        })

    </script>
{% endblock javascript %}