{% extends "base.html" %}
{% load static i18n compress favit_tags %}

{% block title %} {% endblock %}
{% block meta-description %}{% endblock %}

{% block vendorcss %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" rel="stylesheet">
{% endblock vendorcss %}

{% block extrahead %}
<style type="text/css">
    #spectra .tick line{
        opacity: .5;
    }
</style>
{% endblock extrahead %}

{% block container-class %}container spectrumpage{% endblock %}

{% block content %}

<h2 class='text-center'>FPbase Spectra Viewer</h2>
<div class="spectra clearfix">
  <div id="spectra">
    <svg id="spectrasvg"></svg>
    <div class="focusnote">click and drag to zoom</div>
    <div class="btn-group btn-group-xs tn-group-toggle scale-btns" data-toggle="buttons">
      <label class="btn btn-info active">
        <input type="radio" id="setLinearScale" autocomplete="off" checked value='linear'> linear
      </label>
      <label class="btn btn-info">
        <input type="radio" id="setLogScale" autocomplete="off" value='log'> log
      </label>
    </div>
  </div>
</div>

<div class="container spectra-tabs ">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#proteintab" data-toggle="tab">Proteins</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#extab" data-toggle="tab">Ex<span class="d-none d-md-inline">citation</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#dichroictab" data-toggle="tab">Dichroic</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#emtab" data-toggle="tab">Em<span class="d-none d-md-inline">ission</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#efftab" data-toggle="tab"><span class="d-none d-md-inline">Collection </span>Efficiency</a>
    </li>
  </ul>
  <div class="tab-content ">
    <div class="tab-pane active" id="proteintab">
      <h6 class='pt-3 text-info'>Proteins <button type="button" class="btn btn-info btn-xs addFormItem ml-2" value='p'><i class="fas fa-plus mr-2"></i>Add protein</button></h6>
      <table class='table spectra-form' id='protein-table'>
        <tbody>
        </tbody>
      </table>
      <h6 class='text-info'>Organic Dyes <button type="button" class="btn btn-info btn-xs addFormItem ml-2" value='d'><i class="fas fa-plus mr-2"></i>Add dye</button></h6>
      <table class='table spectra-form' id='dye-table'>
        <tbody>
        </tbody>
      </table>
      <div class="float-right hidden" id='toggle_alls'>
        <input type="checkbox" id="toggle_all_ex" class="big-checkbox toggleall" data-checktype='ex' checked>
        <label for="toggle_all_em" class='mr-2 pr-1'>all ex</label>
        <input type="checkbox" id="toggle_all_em" class="big-checkbox toggleall" data-checktype='em' checked>
        <label for="toggle_all_em" class='mr-2 pr-1'>all em</label>
        <input type="checkbox" id="toggle_all_2p" class="big-checkbox toggleall" data-checktype='2p'>
        <label for="toggle_all_em" class='mr-2 pr-1'>all 2p</label>
      </div>
    </div>
    <div class="tab-pane" id="extab">
      <h6 class='pt-3 text-info'>Light Sources <button type="button" class="btn btn-info btn-xs addFormItem ml-2" value='l' data-stype='pd'><i class="fas fa-lightbulb mr-2"></i>Add Light Source</button></h6>
      <table class='table spectra-form' id='light-table'>
        <tbody>
        </tbody>
      </table>
      <h6 class='text-info'>Excitation Filters <button type="button" class="btn btn-info btn-xs addFormItem ml-2" value='f' data-stype='bx'><i class="fas fa-filter mr-2"></i>Add Excitation Filter</button></h6>
      <table class='table spectra-form' id='exfilter-table'>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="dichroictab">
      <table class='table spectra-form' id='dichroic-table'>
        <tbody>
        </tbody>
      </table>
      <p>not yet implemented...</p>
      <button type="button" class="btn btn-info btn-xs" id="addexcitationbutton"><i class="far fa-square mr-2"></i>Add dichroic</button>
    </div>
    <div class="tab-pane" id="emtab">
      <h6 class='text-info pt-3'>Emission Filters <button type="button" class="btn btn-info btn-xs addFormItem ml-2" value='f' data-stype='bm'><i class="fas fa-filter mr-2"></i>Add Emission Filter</button></h6>
      <table class='table spectra-form' id='emfilter-table'>
        <tbody>
        </tbody>
      </table>
      <h6 class='text-info pt-3'>Camera QE <button type="button" class="btn btn-info btn-xs addFormItem ml-2" value='c' data-stype='qe'><i class="fas fa-camera mr-2"></i>Add Camera QE</button></h6>
      <table class='table spectra-form' id='camqe-table'>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="efftab">
      <p id='efftab_blurb' class='mt-2 ml-3'>Use this tab to evaluate the collection efficiency across multiple protein spectra and emission filters. First, select one or more proteins on the protein tab, then create one or more emission filters on the emission tab. This tab will then be populated with a table showing the collection efficiency for each fluorophore/filter pairing.</p>
      <table class='table' id='efficiency-table'>
        <thead>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container pt-2 text-center">
  <a href="#" class='text-primary' data-toggle="modal" data-target="#importModal"><button class='btn btn-sm btn-primary mt-1'><i class="fas fa-download mr-2"></i>Import Spectrum</button></a>
</div>



<div class="hidden" id='eyeball'>
  <button class="btn btn-info btn-sm mr-1 effbutton d-none d-sm-none d-md-inline"><i class="fas fa-eye"></i></button>
</div>

<!-- Modals -->
{% include 'proteins/modals/_import_spectrum_modal.html' with user=user %}

{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js" integrity="sha256-FPJJt8nA+xL4RU6/gsriA8p8xAeLGatoyTjldvQKGdE=" crossorigin="anonymous"></script>

<script type="text/javascript">
  var spectra_options = {{ spectra_options|safe }};
</script>

<script src="{% static 'js/spectra.js' %}"></script>

{% endblock javascript %}
