{% extends "base.html" %}
{% load static %}


{% block title %}FPbase :: Table of Fluorescent Protein Properties{% endblock %}
{% block meta-description %}A comprehensive, sortable, searchable table of all the fluorescent proteins in the fluorescent protein database.{% endblock %}



{% block container-class %}tablecontainer{% endblock %}

{% block content %}

<h2 class="text-center">Fluorescent Protein Table</h2>
<div class="table-responsive">

	<form class='form-inline'>
	<div class="form-group">
	  <label for="switch_filter" class='pr-2'>Switch Type: </label>
	  <select class="form-control table-filter" id='switch_filter' data-col='switch_type'>
	  	<option value=''>All</option>
	  	{% for choice in proteins.0.SWITCHING_CHOICES %}
	    <option value='{{ choice.0 }}'>{{ choice.1 }}</option>
	    {% endfor %}
	  </select>
	</div>
	<div class="form-group">
	  <label for="agg_filter" class='pr-2'>Aggregation Type: </label>
	  <select class="form-control table-filter" id='agg_filter' data-col='agg_type'>
	  	<option value=''>All</option>
	  	{% for choice in proteins.0.AGG_CHOICES %}
	    <option value='{{ choice.0 }}'>{{ choice.1 }}</option>
	    {% endfor %}
	  </select>
	</div>
	<form class='form-inline'>


	{% with showbleach=True %}{% include '_proteintable.html' %}{% endwith %}
</div>
{% endblock %}




