{% extends "base.html" %}


{% block title %}FPbase :: Table of Fluorescent Protein Properties{% endblock %}
{% block meta-description %}A comprehensive, sortable, searchable table of all the fluorescent proteins in the fluorescent protein database.{% endblock %}



{% block container-class %}tablecontainer{% endblock %}

{% block bodyopen %}
    {% include '_comparetab.html' %}
{% endblock bodyopen %}

{% block content %}

<h2 class="text-center">Fluorescent Protein Table</h2>
<div class="table-responsive">

  <div class="container-fluid">
    <span class='small mb-3 font-italic'>
    <strong>tip:</strong> click the <button class="btn btn-outline-info btn-circle pl-0 mr-1 ml-1"><i class="fas fa-plus"></i></button> button to add a protein to the comparison slider on right
    </span>
  </div>
	<form class='form-inline'>
	<div class="form-group">
	  <label for="switch_filter" class='pr-2'>Switch Type: </label>
	  <select class="form-control table-filter custom-select" id='switch_filter' data-col='switch_type'>
	  	<option value=''>All</option>
	  	{% for choice in proteins.0.SWITCHING_CHOICES %}
	    <option value='{{ choice.0 }}'>{{ choice.1 }}</option>
	    {% endfor %}
	  </select>
	</div>
	<div class="form-group">
	  <label for="agg_filter" class='pr-2'>Aggregation Type: </label>
	  <select class="form-control table-filter custom-select" id='agg_filter' data-col='agg_type'>
	  	<option value=''>All</option>
	  	{% for choice in proteins.0.AGG_CHOICES %}
	    <option value='{{ choice.0 }}'>{{ choice.1 }}</option>
	    {% endfor %}
	  </select>
	</div>
  </form>

  {% include '_proteintable.html' with comparison=1 showbleach=1 %}
</div>
{% endblock %}




