{% extends "base.html" %}


{% block content %}
      <div id="container" style="height: 350px;"></div>
{% endblock content %}


{% block javascript %}

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
<script>
var chart;

var my_array = [];
for (var i=31; i <= 38; i++){
  my_array.push($.get('http://localhost:8000/api/spectrum/' + i))
}


(function (H) {
    // Pass error messages
    H.Axis.prototype.allowNegativeLog = true;

    // Override conversions
    H.Axis.prototype.log2lin = function (num) {
        var isNegative = num < 0,
            adjustedNum = Math.abs(num),
            result;
        if (adjustedNum < 10) {
            adjustedNum += (10 - adjustedNum) / 10;
        }
        result = Math.log(adjustedNum) / Math.LN10;
        return isNegative ? -result : result;
    };
    H.Axis.prototype.lin2log = function (num) {
        var isNegative = num < 0,
            absNum = Math.abs(num),
            result = Math.pow(10, absNum);
        if (result < 10) {
            result = (10 * (result - 1)) / (10 - 1);
        }
        return isNegative ? -result : result;
    };
}(Highcharts));

$.when(...my_array).done(function(...args) {
  var series = args.map(function(v) {
    return {
      name: v[0].name,
      data: v[0].data,
      color: v[0].color,
      className: 'sub-' + v[0].subtype + ' cat-' + v[0].category,
    }
  })

  chart = Highcharts.chart('container', {
    chart: {
      zoomType: 'x',
      type: 'areaspline',
      animation: {duration: 200}
    },
    navigation: {
        buttonOptions: {
            theme: {
                'stroke-width': 0,
                opacity: 0.35,
                states: {
                    hover: {
                        fill: null,
                        opacity: 0.9,
                    },
                    select: {
                        fill: '#EEEEEE',
                        opacity: 0.9,
                    }
                }
            }
        }
    },
    credits: false,
    legend: {
      verticalAlign: 'top',
      align: 'right',
      x: -20,
    },
    tooltip: {
      useHTML: true,
      backgroundColor: "#FFFFFFCC",
      borderColor: "#999",
      crosshairs: true,
      shared: true,
      valueDecimals: 3,
      positioner: function(labelWidth, labelHeight, point) {
        var chartwidth = this.chart.chartWidth;
        var y = Math.min(Math.max(point.plotY, 60),
          this.chart.chartHeight - labelHeight - 40);
        if (40 + point.plotX + labelWidth < chartwidth) {
          return {
            x: point.plotX + 35,
            y: y
          };
        } else {
          return {
            x: point.plotX - labelWidth - 20,
            y: y
          };
        }

      },
      shadow: false,
      style: {
          color: '#333',
          fontFamily: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";',
          fontSize: '0.8rem',
      }
    },
    title: false,
    xAxis: {
      tickLength: 0,
      labels: {
        y: 15,
      }
    },
    yAxis: {
      min: 0,
      max: 1,
      gridLineWidth: 0,
      labels: false,
      title: false,
    },
    plotOptions: {
      series: {
        fillOpacity: .45,
        animation: false,
        lineWidth: 0,
        marker: {
          enabled: false,
          symbol: 'circle',
        },
        states: {
            hover: {
              halo: false,
              lineWidthPlus: 0,
            }
        }
      },
    },
    series,
    exporting: {
            sourceWidth: 1200,
            scale: 1,
            chartOptions: {
                chart:{
                    height: this.chartHeight,
                },
                title: false,
            }
        }
  });




});


</script>

</html>


{% endblock javascript %}
