{% load static %}
{% load webp_picture from protein_tags %}

{% if object.description %}
<div class="container font-italic text-muted text-center">
    {{object.description}}
</div>
{% endif %}

<div class="microscope-wrapper mt-2">
  <div class="spectra container clearfix mb-2">
    <div id="spectra">
      <div class="svg-container mb-2">
        <div id="y-zoom-slider"></div>
        <svg id="spectrasvg" style="width:100%"></svg>
        <div class="focusnote">click and drag to zoom</div>
      </div>
      <div id="scope-settings-buttons">
        {% if embeddable %}
        <span class='text-info' id="settings-button" data-toggle="tooltip" data-placement="right" title="Settings"><i class="fa fa-cog" data-toggle="modal" data-target="#settingsModal"></i></span>
        {% endif %}
        <span class='text-info' id="share-button" data-toggle="tooltip" data-placement="right" title="Share current configuration" data-toggle="modal" data-target="#shareModal"><i class="fa fa-share-square"></i></span>
        <span class="pin-wrapper rotate-90" id="stickyPin" data-toggle="tooltip" data-placement="right" title="Keep spectra graph on top when scrolling"><span class="fas fa-thumbtack"></span></span>
      </div>
      <div class="btn-group btn-group-xs btn-group-toggle scale-btns" data-toggle="buttons">
        <label class="btn btn-info active">
          <input type="radio" id="setLinearScale" autocomplete="off" checked value='linear'> linear
        </label>
        <label class="btn btn-info">
          <input type="radio" id="setLogScale" autocomplete="off" value='log'> log
        </label>
      </div>
      <div class="float-right mr-2"><button class='btn btn-xs btn-info resetXdomain'>Reset Zoom</button></div>
    </div>
  </div>
</div>
<!-- ids class names are used for styling by iframe.  do not change -->
<div class="container microscope-controls">
  <div id="fluorophoreSelector" class="row">
    <div class="input-group mb-3 col-12 col-md-6">
      <div class="input-group-prepend">
        <label class="input-group-text text-white bg-info" for="inputGroupSelect01">Fluor<span class="d-none d-lg-inline">ophore</span></label>
      </div>
      <select class="custom-select data-selector fluor-selector" id="fluor-select" tabindex="-1" aria-hidden="true">
        <option value="">-----</option>
        {% for probe in probeslugs %}
        <option value="{{ probe.slug }}">{{ probe.name }}</option>
        {% endfor %}
      </select>
      <div class="input-group-append">
        <div class="input-group-text">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input 2pcheck" id="2pcheck" value="2p">
            <label class="custom-control-label" for="2pcheck">2<span class="d-none d-sm-inline">p</span></label>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-6'>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Brightness:</span>
        </div>
        <input type="text" disabled class="form-control" id="efficiency-text" placeholder="Select a fluor and config..." aria-label="Efficiency Info" aria-describedby="efficiency-text">
        <div class="input-group-append">
          <a href="{{ HELP_URL }}tools/microscopes/efficiency" target="_blank" ><button class="btn btn-outline-info" type="button"><i class="fas fa-info"></i></button></a>
        </div>
      </div>
    </div>
  </div>
  <div id="configSelector", class="row">
    <div class="col-12">
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <label class="input-group-text text-white bg-info" for="inputGroupSelect01"><i class="fas fa-list mr-1 mr-sm-2 mr-md-3"></i>Config<span class="d-none d-md-inline">urations</span></label>
        </div>
        <select class="custom-select" id="config-select">
          <option value="">-----</option>
          {% for config in microscope.optical_configs.all %}
            <option
                value='{{config.name}}'
                data-filters='[{% for fp in config.filterplacement_set.all %}[{{fp.filter.id}}, "{{fp.path}}", {{fp.reflects|lower}}]{% if not forloop.last %},{% endif %}{% endfor %}]'
                data-laser="{{config.laser|default_if_none:''}}"
                data-light='{% if config.light %}{{config.light.id}}{% endif %}'
                data-camera='{% if config.camera %}{{config.camera.id}}{% endif %}'
                data-comments='{{config.comments}}' >{{config}}
            </option>
          {% endfor %}
        </select>
      </div>
      <small id="config_comments" class="form-text text-muted mt-0 pt-0 mb-3 text-right font-italic"></small>
    </div>
  </div>
  <div id="lightSourceDetectorsSelector" class="row">
    <div class="col-12 col-sm-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text text-white bg-info" for="inputGroupSelect01"><i class="fas fa-lightbulb"></i><span class="d-none d-lg-inline ml-2">Light Source</span></label>
        </div>
        <select class="custom-select data-selector" id="light-select">
          <option value="">-----</option>
          {% for laser in microscope.lasers %}
            <option value='laser-{{laser}}' data-type='laser'>{{laser}} laser</option>
          {% endfor %}
          {% if lights %}
              {% for light in lights %}
              <option value='{{light.slug}}' data-type='light' data-id='{{light.id}}'>{{light}}</option>
              {% endfor %}
          {% else %}
              {% for light in microscope.lights.all %}
              <option value='{{light.slug}}' data-type='light' data-id='{{light.id}}'>{{light}}</option>
              {% endfor %}
          {% endif %}

          {% if not microscope.lasers and not microscope.extra_lasers%}
              <option value='disabled' disabled>No lasers added to this config</option>
          {% endif %}

          {% if microscope.extra_lasers or microscope.extra_lights.exists %}
              <option value='disabled' disabled>Extra (may not be present on scope)</option>
              {% for laser in microscope.extra_lasers %}
                <option value='laser-{{laser}}' data-type='laser' class='extra'>{{laser}} laser</option>
              {% endfor %}
              {% for light in microscope.extra_lights.all %}
                <option value='{{light.slug}}' data-type='light' data-id='{{light.id}}'>{{light}}</option>
              {% endfor %}
          {% endif %}

        </select>
        <span id="laserBlocking"></span>
        <div class="input-group-append">
          <div class="input-group-text" data-toggle="tooltip" data-placement="top" title="Merge light source and excitation filter spectra">
            <div class="custom-checkbox">
              <input type="checkbox" id="merge-light-exfilter" checked>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text text-white bg-info" for="inputGroupSelect01"><i class="fas fa-camera"></i><span class="d-none d-lg-inline ml-2">Detector</span></label>
        </div>
        <select class="custom-select data-selector" id="camera-select">
          <option value="">-----</option>
          {% if cameras %}
              {% for camera in cameras %}
              <option value='{{camera.slug}}' data-id='{{camera.id}}'>{{camera}}</option>
              {% endfor %}
          {% else %}
              {% for camera in microscope.cameras.all %}
              <option value='{{camera.slug}}' data-id='{{camera.id}}'>{{camera}}</option>
              {% endfor %}
          {% endif %}

          {% if microscope.extra_cameras.exists %}
              <option value='disabled' disabled>Extra (may not be present on scope)</option>
              {% for camera in microscope.extra_cameras.all %}
                <option value='{{camera.slug}}' data-id='{{camera.id}}'>{{camera}}</option>
              {% endfor %}
          {% endif %}


        </select>
        <div class="input-group-append">
          <div class="input-group-text" data-toggle="tooltip" data-placement="top" title="Include detector in efficiency calculation">
            <div class="custom-checkbox">
              <input type="checkbox" id="scale-camera" checked>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="filterSelectors" class="row filters">
    <div id="excitationFilterSelectors" class="col-12 col-sm-6 col-md-4 order-sm-2 order-md-1 mb-3">
      <div class="card">
        <div class="card-header text-white bg-info">
          Excitation Filters
        </div>
        <div class="list-group list-group-flush">
          {% for filt in microscope.ex_filters.all %}
          <li class="list-group-item">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input filter-selector ex-filter" id="filter-ex-{{filt.id}}" value="{{filt.slug}}">
              <label class="custom-control-label filter-label" for="filter-ex-{{filt.id}}">
                {{ filt.name }}

                {% if filt.url %}
                  <a href="{{ filt.url }}" class='external-link' target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i></a>
                {% endif %}
              </label>
            </div>
          </li>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="dichroicFilterSelectors" class="col-12 col-md-4 order-sm-1 order-md-2 mb-3">
      <div class="card">
        <div class="card-header text-white bg-info">
          Dichroic<span class="d-inline d-md-none d-lg-inline"> Mirror</span>s
          <span class='float-right'><small>invert</small></span>
        </div>
        <div class="list-group list-group-flush">
          {% for filt in microscope.bs_filters.all %}
          <li class="list-group-item">

            <div class="row dichroic-row">
              <div class="col-10">
                <div class="custom-control custom-checkbox mr-sm-3">
                  <input type="checkbox" class="custom-control-input filter-selector bs-filter" id="filter-bs-{{filt.id}}" value="{{filt.slug}}">

                  <label class="custom-control-label filter-label" for="filter-bs-{{filt.id}}">
                    {{ filt.name }}

                    {% if filt.url %}
                      <a href="{{ filt.url }}" class='external-link' target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i></a>
                    {% endif %}
                  </label>

                </div>
              </div>
              <div class="col-2">
                <span class="switch">
                  <input type="checkbox" class="switch-sm invswitch" id="invswitch-filter-{{filt.id}}" value="{{filt.slug}}">
                  <label for="invswitch-filter-{{filt.id}}"></label>
                </span>
              </div>
            </div>

          </li>

          {% endfor %}
        </div>
      </div>
    </div>
    <div id="emissionFilterSelectors" class="col-12 col-sm-6 col-md-4 order-sm-3 order-md-3 mb-2">
      <div class="card">
        <div class="card-header text-white bg-info">
          Emission Filters
          {% if object.has_reflective_emfilters %}
          <span class='float-right'><small>reflect</small></span>
          {% endif %}
        </div>
        <div class="list-group list-group-flush">
          {% for filt in microscope.em_filters.all %}
          <li class="list-group-item">

              {% if object.has_reflective_emfilters %}
              <div class="row">
                <div class="col-10">
                  <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input filter-selector em-filter" id="filter-em-{{filt.id}}" value="{{filt.slug}}">

                    <label class="custom-control-label filter-label" for="filter-em-{{filt.id}}">
                      {{ filt.name }}
                      {% if filt.url %}
                        <a href="{{ filt.url }}" class='external-link' target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i></a>
                      {% endif %}
                    </label>

                  </div>
                </div>
                <div class="col-2">
                  <span class="switch">
                    <input type="checkbox" class="switch-sm invswitch" id="invswitch-filter-{{filt.id}}" value="{{filt.slug}}">
                    <label for="invswitch-filter-{{filt.id}}"></label>
                  </span>
                </div>
              </div>
              {% else %}
              <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input filter-selector em-filter" id="filter-em-{{filt.id}}" value="{{filt.slug}}">

                <label class="custom-control-label filter-label" for="filter-em-{{filt.id}}">
                  {{ filt.name }}

                  {% if filt.url %}
                    <a href="{{ filt.url }}" class='external-link' target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i></a>
                  {% endif %}
                </label>

              </div>
              {% endif %}

          </li>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% if embeddable %}
    <div class="text-center">
      <a href="#" class='text-muted small'><span data-toggle="modal" data-target="#embedModal">Embed this microscope page on your website</span></a><br>
      <a href="{% url 'contact' %}" class='text-info small'>Feedback welcome!</a> <span class='text-muted'>-</span>
      <a href="{% url 'contact' %}" class='text-info small'>Need help? Just ask!</a>
    </div>
{% endif %}

<div id="efficiencyRow" class="text-center mt-2" id="efflink"><a class="btn btn-secondary" href="{% url 'proteins:microscope-report' object.id %}" role="button"><i class="fas fa-table mr-2"></i>Fluorophore Efficiency Report</a></div>

<div class="hidden" id='linkSVG'><i class="fas fa-external-link-alt"></i></div>
<svg height="8" width="8" xmlns="http://www.w3.org/2000/svg" version="1.1"> <defs> <pattern id="crosshatch" patternUnits="userSpaceOnUse" width="8" height="8"> <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPgogIDxyZWN0IHdpZHRoPSc4JyBoZWlnaHQ9JzgnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDggOFpNOCAwTDAgOFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg==" x="0" y="0" width="8" height="8"> </image> </pattern> </defs> </svg>
<svg height="5" width="5" xmlns="http://www.w3.org/2000/svg" version="1.1"> <defs> <pattern id="lightstripe" patternUnits="userSpaceOnUse" width="5" height="5"> <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==" x="0" y="0" width="5" height="5"> </image> </pattern> </defs> </svg>
<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1"> <defs> <pattern id="diagonal-stripe-r" patternUnits="userSpaceOnUse" width="10" height="10"> <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSdibGFjaycvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J3doaXRlJyBzdHJva2Utd2lkdGg9JzMnLz4KPC9zdmc+" x="0" y="0" width="10" height="10"> </image> </pattern> </defs> </svg>

<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1"> <defs> <pattern id="diagonal-stripe-l" patternUnits="userSpaceOnUse" width="10" height="10" patternTransform="rotate(90)"> <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSdibGFjaycvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J3doaXRlJyBzdHJva2Utd2lkdGg9JzMnLz4KPC9zdmc+" x="0" y="0" width="10" height="10"> </image> </pattern> </defs> </svg>


<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingsModalLongTitle"><strong>Settings</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="optionstab">
        <form id='options-form'>
        </form>
        <p class="text-muted small"><em>Note: When scaling to EC or QY, dyes/probes lacking EC/QY values in the database will disappear on the graph!</em></p>
        {% if embeddable %}
        <a href="" class='text-secondary font-weight-bold small switchmodal'>Embed this page in your website!</a>
        {% endif %}
      </div>
      {% if object.owner.id == request.user.id or request.user.email in object.managers %}
      <div class="modal-footer">
            <a href="{% url 'proteins:updatemicroscope' object.id %}"><button class='btn btn-info btn-sm'>Edit Configurations</button></a>
            {% if object.owner.id == request.user.id %}
            <a href="{% url 'proteins:deletemicroscope' object.id %}"><button class='btn btn-danger btn-sm'>DELETE MICROSCOPE</button></a>
            {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <label for="shareLink">This link will reconstruct your current configuration:</label>
            <textarea id="shareLink" type="text" class="form-control text-muted text-center small px-4 pt-4 pb-4" rows=4 style="resize: none; cursor: text; vertical-align: middle;" disabled></textarea>
        </div>
        <div class="float-right">
          <button type="button" id="copyButton" class='btn btn-secondary ml-1 px-3' data-dismiss="modal">Copy</button>
          <a id="mailLink" href="" data-mailinfo='mailto:?subject={{object.name}} configuration&amp;body='><button type="button" class='btn btn-primary ml-1 px-3'>Email</button></a>
          <button type="button" class="btn btn-danger ml-1 px-3" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<!---
<div class="modal " id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLongTitle"><strong>Brightness &amp; Efficiency Calculations</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="optionstab">
        <p><strong>Caution!</strong><br>These calculations cannot take many critical parameters into account (such as expression level, photobleaching, filter delamination, etc... )!  As such, they are merely intended as theoretical predictions, and may not reflect the actual comparative brightness of two fluorophores on your system.</p>
        <p>The first number in this field (11.71 below) provides a rough estimate of the apparent brightness for a given fluorophore/filter-set combination (when extinction coefficient and quantum yield are availble for the fluorophore).  The numbers in parentheses give the excitation efficiency and collection efficiency with the current filter combination.</p>
        <div class="">
          <div class="input-group mb-3" style="width: 320px; margin: auto">
            <div class="input-group-prepend">
              <span class="input-group-text">Brightness:</span>
            </div>
            <input type="text" disabled class="form-control" id="dummy-text" placeholder="11.71 (Ex: 70.2%, Em: 49.7%)" aria-label="Dummy Efficiency Info" aria-describedby="dummy-text">
          </div>
        </div>
        <h5 class="font-weight-bold">Brightness</h5>
        <p>Brightness is calculated as the product of the excitation and collection efficiencies (described below) and the extinction coefficient and quantum yield of the selected fluorophore, all divided by 1000.  If the EC and QY are not available for a given probe, then only excitation and collection efficiencies will be shown.  The absolute value of this number is not particularly meaningful, but it can be used to compare the relative brightness of different fluorophore/filter arrangements.</p>

        <h5 class="font-weight-bold">Excitation Efficiency</h5>
        <p>Excitation efficiency is the percentage of light incident upon the sample that can be absorbed by the fluorophore.  It is calculated as the area under the curve for the combined light + excitation filters (and dichroics) + fluorophore excitation spectra, divided by the area under the curve of the light + excitation filters alone.  For example, a (narrow band) laser at the peak absorption wavelength of a fluorophore would have near 100% efficiency;  but a very broadband excitation spectrum, even if it overlaps the peak absorption wavelength, can have relatively poor excitation efficiency if it contains excess off-peak energy.  Even though the 460/80x filter shown in the first image below covers much of the EGFP excitation spectrum, it has lower excitation efficiency (58%, represented by the area with diagonal lines) than a 488nm laser right at the peak excitation wavelength of EGFP (99.8% efficiency):</p>
        <div class="row mb-3 mt-2">
          <div class='col-12 col-md-6'>
            <img src="{% static 'images/bad_ex_efficiency.gif' %}" class="img-fluid mx-auto d-block mb-2" alt='poor excitation efficiency'>
          </div>
          <div class='col-12 col-md-6'>
            <img src="{% static 'images/good_ex_efficiency.gif' %}" class="img-fluid mx-auto d-block mb-2" alt='poor excitation efficiency'>
          </div>
        </div>
        <p><strong>Caution!</strong><br>One potentially confusing thing is that we cannot make any assumptions about the power of the light source (it is assumed to be "as high as you need it").  So, for example, a laser at peak absorption wavelength will <em>still</em> have excellent excitation efficiency even if a poorly matched excitation filter is added to the light path (since one could theoretically just turn up the laser infinitely).</p>

        <h5 class="font-weight-bold">Emission (Collection) Efficiency</h5>
        <p>Excitation efficiency is the percentage of emission photons that can be collected given the emission path.  It is calculated as the area under the curve for the combined emission filters (and dichroics) + camera QE + fluorophore emission spectra, divided by the area under the full fluorophore emission spectrum.  In the image below, the EGFP emission spectrum is relatively well matched to the 525/50m filter, and the collection efficiency, represented by the area with diagonal lines, is about 58% the area of the full fluorophore emission spectrum.</p>
        {% webp_picture 'images/good_em_efficiency.png' 'img-fluid mx-auto d-block mb-3' 'decent emission collection efficiency' %}

      </div>
    </div>
  </div>>
</div>
-->

<!-- Modal -->
<div class="modal" id="embedModal" tabindex="-1" role="dialog" aria-labelledby="embedModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="embedModalLongTitle"><strong>Embed this microscope</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center" id="optionstab">
        <p>Include this page in your website by pasting the following code wherever you'd like the page to appear:
          <div class="card mb-3">
          <code style="font-size: large; padding: 5px 15px;"><xmp style="white-space: pre-wrap"><iframe src="{{ request.scheme }}://{{ request.get_host }}{% url 'proteins:microscope-embed' object.id %}" frameborder="0" style="position: relative; height: 100%; width: 100%;"></iframe></xmp></code>
          </div>
        <p class='mr-2 ml-2'><small><em>Note: pay attention to the height/width of the parent element.  In some cases, the iframe may appear truncated if inserted into a div with smaller height. You may need to adjust the height parameter to match the content of the microscope page (i.e. increase height until the iframe scroll bar disappears)</em></small></p>
        </p>
      </div>
    </div>
  </div>
</div>
