{% load fpbase_tags %}
<h3>Structure</h3>
<div class='row'
     id="protein-structure"
     data-fpbase-init="litemol"
     data-pdb-ids='{{pdb_ids_json|safe}}'>
  <div class="col-12 col-md-6 order-2 order-md-1">
    <div style="height: 400px; background: white;">
      <div id="litemol-viewer"></div>
    </div>
  </div>
  <div class='col-12 col-md-6 mt-2 order-1 order-md-2'>
    <div class="form-group mb-2">
      <div class="input-group mb-0">
        <div class="input-group-prepend">
          <label class="input-group-text" for="pdb_select">PDB ID</label>
        </div>
        <select class="custom-select" id="pdb_select">
        </select>
        <div class="input-group-append">
          <a href="https://www.rcsb.org/structure/{{protein.pdb.0}}" target="_blank" rel="noopener" id="pdb-out-link"><button class="btn btn-outline-info" type="button">{% icon "external-link" %}</button></a>
        </div>
      </div>
    </div>
    <h5 class='mb-0' id="chem-title"></h5>
    <div class='row'>
        <div class='col-12'>
          <div class="text-muted" id="pdb-info" style="position: absolute; top:8px">
            Deposited: <span id="chem-date"></span>, <span id="chem-authors"></span>
            <a href="" id="chem-pubmed" target="_blank" >{% icon "external-link" class_="ml-2 text-secondary" style='font-size: 0.8rem;' %}</a><br>
            Chromophore{% if protein.chromophore %} ({{protein.chromophore}}){% endif %}: <span id='chem-id'></span><br>
            <span id='chem-form' class="small"></span><br>
          </div>
          <div id="smilesDrawing" class="mt-4">
            <div class="card-img-top" style="maxHeight: 300px;">
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
