{% extends "base.html" %}

{% block title %}Recent Activity on FPbase{% endblock %}
{% block meta-description %}Find the most recently published fluorescent proteins on FPbase, or those that have been recently added to the datbase.  Also: see which protein searches are trending and what are the most favorited proteins.{% endblock %}

{% block extrahead %}
<style>
/*   .dot {
    height: 17px;
    width: 17px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 8px;
  } */
  h2, h4 {font-weight: 300;}
  .card a:first-child:hover {text-decoration: none !important;}
  .card-body {padding: .8rem 1rem;}
  .protein-stats span.badge { float:right; background-color: #e5e5e5; color: #555; margin-top: 3px; margin-right: 2.3rem; font-size:0.8rem}
  .protein-stats li { padding: 0.4rem 0.5rem; border-bottom: 1px solid #e5e5e5;}
  @media only screen and (max-width: 768px) {
    .protein-stats span.badge { margin-right: .2rem;}
  }

  .protein-stats h5 {font-weight: 400; font-size:1.1rem; display: inline;}
</style>
{% endblock extrahead %}

{% block content %}

<h2 class="mb-3">Recent FPbase Activity</h2>

{% if most_viewed %}
<div class="row">
  <h4 class="text-info col-12 col-sm-9 mx-sm-0 my-2">Most Viewed Proteins</h4>
  <small class="text-muted col-12 col-sm-9 mx-sm-0 my-2">As a percentage of total protein page views.</small>
  <div class="float-sm-right col-12 col-sm-3 my-2">
    <select class='custom-select custom-select-sm' name="ga_range_selector" id="ga_range_selector">
      <option value="day">today</option>
      <option value="week" selected>this week</option>
      <option value="month">this month</option>
      <option value="year">this year</option>
    </select>
  </div>
</div>
<div class="col-12 hidden container ga-stats day">
  <ol class="row protein-stats">
    {% for slug, protein, perc in most_viewed.day  %}
    <li class="list-item col-12 col-md-6 col-lg-4">
      <h5><a href="{% url 'proteins:protein-detail' slug %}">{{ protein }}</a> <span class="badge">{{perc |floatformat}}%</span></h5>
    </li>
    {% endfor %}
  </ol>
</div>
<div class="col-12 container ga-stats week">
  <ol class="row protein-stats">
    {% for slug, protein, perc in most_viewed.week  %}
    <li class="list-item col-12 col-md-6 col-lg-4">
      <h5><a href="{% url 'proteins:protein-detail' slug %}">{{ protein }}</a> <span class="badge">{{perc |floatformat}}%</span></h5>
    </li>
    {% endfor %}
  </ol>
</div>
<div class="col-12 hidden container ga-stats month">
  <ol class="row protein-stats">
    {% for slug, protein, perc in most_viewed.month  %}
    <li class="list-item col-12 col-md-6 col-lg-4">
      <h5><a href="{% url 'proteins:protein-detail' slug %}">{{ protein }}</a> <span class="badge">{{perc |floatformat}}%</span></h5>
    </li>
    {% endfor %}
  </ol>
</div>
<div class="col-12 hidden container ga-stats year">
  <ol class="row protein-stats">
    {% for slug, protein, perc in most_viewed.year  %}
    <li class="list-item col-12 col-md-6 col-lg-4">
      <h5><a href="{% url 'proteins:protein-detail' slug %}">{{ protein }}</a> <span class="badge">{{perc |floatformat}}%</span></h5>
    </li>
    {% endfor %}
  </ol>
</div>
{% endif %}


<h4 class="mb-3 mt-4 text-info">Most Favorited Proteins</h4>

<div class="col-12 container">
  <ol class="row protein-stats">
    {% for prot in most_favorited.values  %}
    <li class="list-item col-12 col-md-6 col-lg-4">
      <h5><a href="{% url 'proteins:protein-detail' prot.slug %}">{{ prot.name }}</a> <span class="badge">{{prot.count}}</span></h5>

    </li>
    {% endfor %}
  </ol>
</div>


<div class="row">

  <div class="col-12 col-md-6 mt-4">
    <h4 class="mb-3 text-info">Recently Published</h4>

        {% for protein in proteins_by_date  %}
          <div class="card mb-2">
                {% if protein.has_spectra %}
                    <img class="card-img-top px-2 pt-1" src="{% url 'proteins:spectra-img' protein.slug %}.svg?xlim=400,750" alt="{{protein.name|safe}} spectrum">
                {% endif %}

              <div class='card-body'>
                  <h4 class="d-inline" style="font-weight: 400; font-size:1.3rem"><a href="{{protein.get_absolute_url}}">{{protein.name}}</a></h4><span class="text-muted small ml-3 float-right">published: {{protein.primary_reference.date |date:"M j, Y"}}</span>
              {% if protein.primary_reference %}
                {% with ref=protein.primary_reference %}
                  <p class='small mt-1 mb-0'>
                    {{ref.citation}} {{ref.title}}.

                   <span style="font-size: 0.7rem;"><em>{{ ref.journal }}</em>. doi:{{ ref.doi | lower }}. <a href="https://doi.org/{{ ref.doi }}" target="_blank" rel="noopener" class="text-secondary"><i class="fas fa-external-link-alt mr-2 ml-1"></i>Article</a>
                    {% if ref.pmid %}&nbsp;&nbsp;<a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ ref.pmid }}" target="_blank" rel="noopener" class="text-secondary"><i class="fas fa-external-link-alt mr-2"></i>Pubmed</a>{% endif %}</span>
                  </p>
                {% endwith %}
              {% endif %}
              </div>
          </div>
        {% endfor %}
  </div>


  <div class="col-12 col-md-6 mb-3 mt-4">
    <h4 class="mb-3 text-info">Recently Added to FPbase</h4>

      {% for protein in object_list  %}
        <div class="card mb-2">
            {% if protein.has_spectra %}
                <img class="card-img-top px-2 pt-1" src="{% url 'proteins:spectra-img' protein.slug %}.svg?xlim=400,750" alt="{{protein.name|safe}} spectrum">
            {% endif %}

            <div class='card-body'>
                <h4 class="d-inline" style="font-weight: 400; font-size:1.3rem"><a href="{{protein.get_absolute_url}}">{{protein.name}}</a></h4><span class="text-muted small ml-3 float-right">added: {{protein.created |date:"M j, Y"}}</span>
            {% if protein.primary_reference %}
              {% with ref=protein.primary_reference %}
                <p class='small mt-1 mb-0'>
                  {{ref.citation}} {{ref.title}}.

                 <span style="font-size: 0.7rem;"><em>{{ ref.journal }}</em>. doi:{{ ref.doi | lower }}. <a href="https://doi.org/{{ ref.doi }}" target="_blank" rel="noopener" class="text-secondary"><i class="fas fa-external-link-alt mr-2 ml-1"></i>Article</a>
                  {% if ref.pmid %}&nbsp;&nbsp;<a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ ref.pmid }}" target="_blank" rel="noopener" class="text-secondary"><i class="fas fa-external-link-alt mr-2"></i>Pubmed</a>{% endif %}</span>
                </p>
              {% endwith %}
            {% endif %}
            </div>
        </div>
      {% endfor %}
  </div>

</div>


{% endblock content %}

{% block javascript %}
    <script>
      $(function(){
        $('#ga_range_selector').change(function(d){
          $('.ga-stats').hide()
          $('.ga-stats.' + this.value).show()
        })
      })
    </script>
{% endblock javascript %}
