{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}FPbase Fluorescent Protein Sequence BLAST{% endblock %}
{% block meta-description %}Search the database at FPbase for fluorescent protein sequences similar to a query amino acid or nucleotide sequence.{% endblock %}

{% block twitter_card_type %}summary_large_image{% endblock twitter_card_type %}
{% block twitter_title %}FPbase Fluorescent Protein Sequence BLAST{% endblock twitter_title %}
{% block twitter_description %}Search the database at FPbase for fluorescent protein sequences similar to a query amino acid or nucleotide sequence.{% endblock twitter_description %}
{% block twitter_image %}{{ABSOLUTE_ROOT_URL}}{% static 'images/blast_twitter_card.png' %}{% endblock twitter_image %}


{% block content %}
<h2>Fluorescent Protein BLAST</h2>
<p>
  Use this tool to search for fluorescent protein sequences in the database that
  are similar to one or more query sequences. <br /><span
    class="small text-muted"
    ><strong>Note:</strong> Many sequences have been contributed by the
    community and not all sequences in the database are guaranteed to be correct
    or "official". Additionally, there may be variants of a given FP with
    "silent" (inconsequential) mutations that result in a slight mismatch
    between your plasmid and the sequence in FPbase.</span
  >
</p>

<div id="blast-app" class="mt-3"></div>
{% render_bundle 'blast' %}

{% endblock content %}
