{% extends "base.html" %}
{% load static i18n %}
{% load django_vite %}

{% block extrahead %}
<!-- Legacy d3 v3 + nvd3 for microscope charts (isolated from main bundle) -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.css" rel="stylesheet">
{% endblock extrahead %}

{% block title %}{{ microscope.name }} on FPbase{% endblock %}
{% block meta-description %}A collection of spectra representing the microscope {{microscope.name}} on FPbase.{% endblock %}

{% block twitter_title %}FPbase microscope: {{ microscope.name }}{% endblock twitter_title %}
{% block twitter_description %}A custom collection of spectra representing the microscope {{microscope.name}} on FPbase.{% endblock twitter_description %}

{% block container-class %}container-fluid spectrumpage microscopepage{% endblock %}

{% block content %}

<h2 class='text-center'>{{microscope}}</h2>

{% include 'proteins/_microscope_include.html' with embeddable=True %}

{% endblock content %}

{% block extrafooter %}
    {% if request.user.is_staff %}
      {% load admin_urls %}
      <a href="{% url 'admin:proteins_microscope_change' microscope.id %}">{{ microscope.name }} on admin</a><br>
    {% endif %}
{% endblock extrafooter %}


{% block javascript %}
{{ block.super }}

<!-- Legacy d3 v3 + nvd3 + noUiSlider for microscope charts (isolated from main bundle) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.js"></script>

<!-- microscope.js loaded via Vite, initialized via data-fpbase-init pattern -->
{% vite_asset 'src/microscope.js' %}

{% endblock javascript %}
