<!DOCTYPE html>
{% load render_bundle from webpack_loader %}

<html lang="en">
  <head>
    {% block ga %}
      {% if not debug %}
        {% include "_ga.html" with ga_tracking_id=ga_tracking_id %}
      {% endif %}
    {% endblock ga %}
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ microscope.name }} - An FPbase Microscope</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A collection of spectra representing the microscope {{microscope.name}} on FPbase. ">
  <meta name="author" content="Talley Lambert">
  <meta name="copyright" content="Talley Lambert" />

  {% render_bundle 'main' %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.css" integrity="sha256-2K003H0jZA9S0f2CtcQ0zIYD65lfKdAA00qtDCPIMV0=" crossorigin="anonymous" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/css/select2.min.css" rel="stylesheet" />

  <style>#logolink {opacity: 0.6;}#logolink:hover {opacity: 1;}#logolink a:hover {text-decoration: none;}</style>
</head>
<body>
  <div class="container spectrumpage microscopepage">
    <div id="logolink" class='mt-2 d-flex justify-content-end'><a href="{{ request.scheme }}://{{ request.get_host }}" target="_blank">{% include "_logo_prestyled.html" %}</a><br></div>
    <h4 class='text-center mb-3' style="font-weight: 500;">{{microscope}}</h4>
    {% include 'proteins/_microscope_include.html' with embeddable=False %}
  </div>

  {% render_bundle 'embedscope' 'js' %}

  <script>$('#efflink a').attr('target', '_blank').append('<i class="small ml-2 fas fa-external-link-alt"></i>');</script>

</body>
<script type="text/javascript">
  var scopespectra = {{ scopespectra|safe }};
  var scopecfg = {
    calcEff: {{ microscope.cfg_calc_efficiency|yesno:"true,false" }},
    minwave: {{ microscope.cfg_min_wave }},
    maxwave: {{ microscope.cfg_max_wave }},
    focusEnable: {{ microscope.cfg_enable_pan_zoom|yesno:"true,false" }},
    showArea: {{ microscope.cfg_fill_area|yesno:"true,false" }},
  }
</script>
</html>
