<!DOCTYPE html>
{% load static %}
{% load django_vite %}

<html lang="en">
  <head>
    {% block ga %}
      {% if not debug %}
        {% include "_ga.html" %}
      {% endif %}
    {% endblock ga %}
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ microscope.name }} - An FPbase Microscope</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A collection of spectra representing the microscope {{microscope.name}} on FPbase. ">
  <meta name="author" content="Talley Lambert">
  <meta name="copyright" content="Talley Lambert" />

  <!-- FontAwesome 7 Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {# Load only CSS from main bundle (not JS which includes D3 v7) #}
  {% vite_asset 'src/index.js' %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/css/select2.min.css" rel="stylesheet" />

  <!-- jQuery and plugins from CDN - required for microscope.js and inline scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Legacy d3 v3 + nvd3 + noUiSlider for microscope charts (isolated from main bundle) -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.js"></script>

  <style>#logolink {opacity: 0.6;}#logolink:hover {opacity: 1;}#logolink a:hover {text-decoration: none;}</style>
</head>
<body>
  <div class="container spectrumpage microscopepage">
    <div id="logolink" class='mt-2 d-flex justify-content-end'><a href="{{ request.scheme }}://{{ request.get_host }}" target="_blank">{% include "_logo_prestyled.html" %}</a><br></div>
    <h4 class='text-center mb-3' style="font-weight: 500;">{{microscope}}</h4>
    {% include 'proteins/_microscope_include.html' with embeddable=False %}
  </div>

  {% vite_asset 'src/embedscope.js' %}

</body>
<script type="text/javascript">
  var scopespectra = {{ scopespectra|safe }};
  var scopecfg = {
    calcEff: {{ microscope.cfg_calc_efficiency|yesno:"true,false" }},
    minwave: {{ microscope.cfg_min_wave }},
    maxwave: {{ microscope.cfg_max_wave }},
    focusEnable: {{ microscope.cfg_enable_pan_zoom|yesno:"true,false" }},
    showArea: {{ microscope.cfg_fill_area|yesno:"true,false" }},
  }
</script>
<script src="{% static 'js/microscope.js' %}"></script>
</html>
