{% extends "base.html" %}
{% load static i18n %}
{% load django_vite %}

{% block extrahead %}
<!-- Legacy d3 v3 + nvd3 for microscope charts (isolated from main bundle) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" integrity="sha512-5HktH3p+qBNLzxpOLnpICH2uwArYE/Fi7fdKCQee15piDqN3X3Q1iqo8D43oc8DJgYP4xxA7sdEjNCfmeLLYeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.css" integrity="sha512-GO0Bt4SUuPhCKOeRbcJW07aHXw1bmQyFr6FQKN/48yZweIL0AYqeshxEmxtkxTpB0QJO+blGT9SUSF3X8untPg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock extrahead %}

{% block title %}{{ microscope.name }} on FPbase{% endblock %}
{% block meta-description %}A collection of spectra representing the microscope {{microscope.name}} on FPbase.{% endblock %}

{% block twitter_title %}FPbase microscope: {{ microscope.name }}{% endblock twitter_title %}
{% block twitter_description %}A custom collection of spectra representing the microscope {{microscope.name}} on FPbase.{% endblock twitter_description %}

{% block container-class %}container-fluid spectrumpage microscopepage{% endblock %}

{% block content %}

<h2 class='text-center'>{{microscope}}</h2>

{% include 'proteins/_microscope_include.html' with embeddable=True %}

{% endblock content %}

{% block extrafooter %}
    {% if request.user.is_staff %}
      {% load admin_urls %}
      <a href="{% url 'admin:proteins_microscope_change' microscope.id %}">{{ microscope.name }} on admin</a><br>
    {% endif %}
{% endblock extrafooter %}


{% block javascript %}
{{ block.super }}

<!-- Legacy d3 v3 + nvd3 + noUiSlider for microscope charts (isolated from main bundle) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" integrity="sha512-oJp0DdQuQQrRsKVly+Ww6fAN1GwJN7d1bi8UubpEbzDUh84WrJ2CFPBnT4LqBCcfqTcHR5OGXFFhaPe3g1/bzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js" integrity="sha512-ldXL88WIgBA+vAsJu2PepKp3VUvwuyqmXKEbcf8rKeAI56K8GZMb2jfKSm1a36m5AfUzyDp3TIY0iVKY8ciqSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.js" integrity="sha512-jxfybZkJ95fmiIpwLlN3XNLmZjrpcXUTFlsidyVS+G7XuaTFUH163q9Sp6qSA75Ptt3zSTnq28isT7B9Et/Rig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- microscope.js loaded via Vite, initialized via data-fpbase-init pattern -->
{% vite_asset 'src/microscope.js' %}

{% endblock javascript %}
