{% extends "base.html" %}
{% load fpbase_tags %}
{% load i18n favit_tags %}
{% load flag_object from protein_tags %}
{% load django_vite %}

{% block title %}{{ protein.name|safe  }} :: Fluorescent Protein Database {% endblock %}
{% block meta-description %}{{ protein.description }}{% endblock %}

{% block twitter_card_type %}summary_large_image{% endblock twitter_card_type %}
{% block twitter_title %}{{protein.name|safe}} at FPbase{% endblock twitter_title %}
{% block twitter_description %}{{ protein.description }}{% endblock twitter_description %}
{% block twitter_image %}{{ABSOLUTE_ROOT}}{% url 'proteins:spectra-img' slug=protein.slug %}.png?twitter=1{% endblock twitter_image %}


{% block extrahead %}
{% include 'proteins/_structured_data.html' with protein=protein %}
{% if protein.pdb %}
  {# Preconnect to PDB data sources for faster loading #}
  <link rel="preconnect" href="https://files.wwpdb.org">
  <link rel="preconnect" href="https://data.rcsb.org">
  <link rel="preconnect" href="https://www.ebi.ac.uk">
{% endif %}
{% endblock extrahead %}


{% block container-class %}container protein{% endblock %}

{% block bodyopen %}
    {% include '_comparetab.html' %}
{% endblock bodyopen %}


{% block content %}
			<h1 class="name display-4 {% if protein.aliases %}pb-0{%endif%}">{{ protein.name | safe }}</h1>
			{% if protein.aliases %}
				<p class='text-center aliases pb-2'>
					a.k.a.
				{% for alias in protein.aliases  %}
					{{alias}}{% if not forloop.last %},{% endif %}
				{% endfor %}
				</p>
			{% endif %}

			{% if similar.exists %}
				<p class='text-center text-muted'>
					similar:
				{% for p in similar.all  %}
					<a href="{{p.get_absolute_url}}">{{p}}</a>{% if not forloop.last %},{% endif %}
				{% endfor %}
				</p>
			{% endif %}


			{% if version %}
				<div class="alert alert-warning clearfix" role="alert">
					<strong>{% icon "warning" class_="mr-2" aria_hidden="true" %}</strong>You are viewing an older revision of this protein, from {{ version.revision.date_created|date:"M j, Y H:i:s"}}.  <a href="{{ protein.get_absolute_url }}" class="alert-link">Click here</a> to view the current version.

				    {% if request.user.is_staff %}
					<form id="adminRevert" class='float-sm-right' data-action-url="{% url 'proteins:admin_revert_version' ver=version.id %}" data-success="{{ protein.get_absolute_url }}">
					{% csrf_token %}
				    <button type="submit" class="btn btn-danger btn-sm btn-block-xs">Revert</button>
					</form>
				    {% endif %}
				</div>
			{% endif %}

			{% if not protein.status == 'approved' %}
				<div class="alert alert-info clearfix" role="alert">
          {% if protein.status == 'hidden'  %}

            <div class="d-inline-block align-middle">
              <strong>{% icon "info" class_="mr-2" aria_hidden="true" %}</strong>This protein page is not visible to the public.  Only the creator of this protein and FPbase staff can view or edit this protein.
            </div>

          {% else %}

            <div class="d-inline-block align-middle">
              <strong>{% icon "info" class_="mr-2" aria_hidden="true" %}</strong>This protein has unmoderated changes.
              {% if last_approved %}
                 <a href="{% url 'proteins:protein-detail' slug=protein.slug ver=last_approved.id %}" class="alert-link">Click here</a>
                 to view the last moderated version of this protein from {{ last_approved.revision.date_created|date:"M j, Y H:i:s" }}.
                 Or view the full <a href="{% url 'proteins:protein-history' slug=protein.slug %}" class="alert-link">change history</a>
              {% endif %}
            </div>
            {% if request.user.is_staff %}
              <form id="adminApprove" class='float-sm-right' data-action-url="{% url 'proteins:admin_approve_protein' slug=protein.slug %}" data-success="{{ protein.get_absolute_url }}">{% csrf_token %}
                  <button type="submit" class="btn btn-info btn-sm btn-block-xs">Approve</button>
              </form>
            {% endif %}

          {% endif %}

				</div>
			{% endif %}

		<div class="clearfix">
			<div class="like_buttons float-sm-right">
				<div class="container-button" data-toggle="tooltip" data-placement="top" title="Add to collection">
					<a class="btn collection-add-button" href="#" data-action-url="{% url 'proteins:add_to_collection' %}?id={{ protein.id }}" data-toggle="modal" data-target="#collectionModal">
					  {% icon "collection" class_="d-none d-sm-inline" %}
					  	<a class='collection-add-button d-block d-sm-none' href="#" data-action-url="{% url 'proteins:add_to_collection' %}?id={{ protein.id }}" data-toggle="modal" data-target="#collectionModal" style="text-decoration: none;"><button type="button" class="btn btn-info btn-block">{% icon "collection" class_="mr-2" %}Add to collection</button>
					  	</a>
					</a>
				</div>
				{% favorite_button protein %}
			</div>

			<div class='protein-blurb'>
        {% if  protein.blurb %}
          {{ protein.blurb | safe }}
        {% else %}
          {{ protein.description | safe }}
        {% endif %}
      </div>
		</div>

    {% if protein.lineage %}
       <div class="lineage mb-0" data-slug='{{protein.slug}}'></div>
    {% endif %}

		<div class="spectra">
		  {% if protein.has_spectra %}
		  <div id="spectra">
		    <div class="spectra-overlay-div">
		      <span data-toggle="tooltip" data-placement="top" title="Download spectra as csv"><a
		          href="{% url 'proteins:spectra_csv' %}?q={{spectra_ids}}" class='text-secondary spectra-overlay-link'>{% icon "download" %}</a></span>
		      <span data-toggle="tooltip" data-placement="top" title="Generate spectra image/url" class='ml-2'><a href="#"
		          class='text-secondary spectra-overlay-link' data-toggle="modal" data-target="#spectraURLModal">{% icon "link" %}</a></span>
		      <span data-toggle="tooltip" data-placement="top" title="Add another spectrum" class='ml-2'><a
		          href="{% url 'proteins:submit-spectra' slug=protein.slug %}" class='text-secondary spectra-overlay-link'>{% icon "chart" %}<sup>+</sup></a></span>
		    </div>

		    <div id="spectra-viewer" data-spectra='[{{spectra_ids}}]' data-hidden='[{{hidden_spectra}}]'
		      data-options='{"height": 0.6, "simpleMode": true}'>
          {# This div is for accessibility, and will be replaced by highcharts #}
		      <svg id="simple_spectrasvg" role='img' aria-labelledby='svgTitle svgDesc' style="width:100%;">
		        <title id="svgTitle">{{protein.name|safe}} Spectrum</title>
		        <desc id="svgDesc">Fluorescent protein {{protein.name|safe}} excitation and emission spectra</desc>
		      </svg>
		    </div>
		  </div>
		  {% else %}
		  {% if protein.states.count %}
		  <p class='mt-4'>No spectrum has been submitted ... <a href="{% url 'proteins:submit-spectra' slug=protein.slug %}"
		      class='text-secondary'>add a spectrum!</a></p>
		  {% else %}
		  <p class='mt-4'>No spectrum has been submitted ... but a protein must have at least one state first. <a
		      href="{% url 'proteins:update' slug=protein.slug %}" class='text-secondary d-none d-sm-inline'>Add a state.</a>
		  </p>
		  {% endif %}
		  {% endif %}
		</div>


    <div class="table mt-3">
      <table class="table mobile flip-scroll">
        <thead>
          <tr class="table-header ">
            <th><a class="help-link" target="_blank" href="{{ HELP_URL }}glossary#oligomerization">Oligomerization</a></th>
            <th><a class="help-link" target="_blank" href="{{ HELP_URL }}glossary#organism">Organism</a></th>
            <th><a class="help-link" target="_blank" href="{{ HELP_URL }}glossary#molecular-weight">Molecular Weight</a></th>
            <th><a class="help-link" target="_blank" href="{{ HELP_URL }}glossary#cofactor">Cofactor</a></th>
          </tr>
        </thead>
        <tbody>

          <tr >
            <td {% if not protein.agg %}class='text-muted'{% endif %}>{{protein.get_agg_display|default:'?'}}</td>
            <td>
              {% if protein.parent_organism %}
              <a href="{{protein.parent_organism.get_absolute_url}}">{{protein.parent_organism}}</a>
              {% else %}
              <a href="{% url 'proteins:update' slug=protein.slug %}" class='text-secondary'>&lt;add one&gt;</a>
              {% endif %}</td>
            <td>{% if protein.seq %}{{ protein.seq.weight|floatformat:"1" }} kDa{% else %}-{% endif %}</td>
            <td>{{protein.get_cofactor_display|default:'-' }}</td>
          </tr>

        </tbody>
      </table>
    </div>

    <h3 class="fpbase-id">
      <button type="button" class="btn btn-link p-0" tabindex="0" data-toggle="popover"
        data-trigger="focus" data-placement="right"
        data-content="The FPbase ID is a unique, immutable identifier assigned to each protein in the database.  When linking to this protein, it is best to link to the FPbase ID instead of the slug: <a href='{{ ABSOLUTE_ROOT }}{% url 'proteins:protein-detail' protein.uuid %}'>{{ ABSOLUTE_ROOT }}{% url 'proteins:protein-detail' protein.uuid %}</a>">
          {% icon "info" class_="ml-1 mr-2 text-muted" style='font-size: 1rem; position: relative; top: -1px; cursor: pointer;' %}
      </button>
      FPbase ID: <span style="font-weight:400;">
      <a href='{{ ABSOLUTE_ROOT }}{% url 'proteins:protein-detail' protein.uuid %}' class="text-muted">{{ protein.uuid }}</a></span></h3>


		<div class="attributes">
			<h3>Attributes</h3>
			{% include '_states_table.html' %}
		</div>

		{% if protein.transitions.count > 0 %}
		<div class="attributes mt-2">
			<h3>Transitions</h3>
			<div class="table">
				<table class="table table-sm table-striped mobile">
					<thead>
						<tr class="table-header">
							<th>From</th>
				  			<th>To</th>
				  			<th>Switch &lambda;</th>
						</tr>
					</thead>
					<tbody>
					{% for t in protein.transitions.all|dictsort:"trans_wave" %}
						<tr >
							<td data-title="From State">{{ t.from_state.name | default:"&nbsp;"}}</td>
							<td data-title="To State">{{ t.to_state.name | default:"&nbsp;"}}</td>
							<td data-title="Switch &lambda;">{{ t.trans_wave | default:"&nbsp;" }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="align-self-end text-sm-right mt-1">
				<div class="align-self-end text-sm-right mt-1">
					<a href="#" class='text-info' data-toggle="modal" id='show_transition_modal' data-action-url="{% url 'proteins:update_transitions' slug=protein.slug %}">
						<small class="d-none d-sm-inline">Edit state transitions</small>
						<button type="button" class="btn btn-info btn-block mt-3 d-block d-sm-none">{% icon "exchange" class_="mr-2" %}Edit state transitions</button>
					</a>
				</div>
			</div>
		</div>
		{% endif %}
    {% if protein.states.count > 1 and protein.transitions.count == 0 %}
      <div class="align-self-end text-sm-right mt-1">
        <a href="#" class='text-info' data-toggle="modal" id='show_transition_modal' data-action-url="{% url 'proteins:update_transitions' slug=protein.slug %}">
          <small class="d-none d-sm-inline">Edit state transitions</small>
          <button type="button" class="btn btn-info btn-block mt-3 d-block d-sm-none">{% icon "exchange" class_="mr-2" %}Edit state transitions</button>
        </a>
      </div>
    {% endif %}


    {% if protein.oser_measurements.count %}
    <div class="attributes mt-1">
      <h3>{{protein.name | safe}} OSER Measurements <a href="{{ HELP_URL }}glossary#oser" target="_blank">{% icon "info" class_="ml-2 text-muted" style='font-size: 1rem; position: relative; top: -1px; cursor: pointer;' %}</a></h3>
        <table class="table table-striped flip-scroll">
          <thead>
            <tr class="table-header">
              <th>&percnt; Normal Cells</th>
              <th>OSER/NE ratio</th>
              <th>Cell Type</th>
              <th>Reference</th>
            </tr>
          </thead>
          <tbody>
            {% for oserm in protein.oser_measurements.all  %}
              <tr>
                <td>{{oserm.percent|default:'-'}} {% if oserm.percent_stddev %} ± {{oserm.percent_stddev}}{% endif %}
                {% if oserm.percent_ncells %} <span class='small text-muted'>({{oserm.percent_ncells}} cells)</span>{% endif %}</td>
                <td>{{oserm.oserne|default:'-'}} {% if oserm.oserne_stddev %} ± {{oserm.oserne_stddev}}{% endif %}
                {% if oserm.oserne_ncells %} <span class='small text-muted'>({{oserm.oserne_ncells}} cells)</span>{% endif %}</td>
                <td>{{oserm.celltype|default:'-'}}</td>
                <td class='small'>
                  {% if oserm.reference %}
                    <a href="{{oserm.reference.get_absolute_url}}">{{oserm.reference}}</a>
                    <a href="https://doi.org/{{ oserm.reference.doi }}" target="_blank" rel="noopener">{% icon "external-link" class_="text-info" %}</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

	    <div class="attributes mt-1">
	    	<h3>Photostability</h3>
	    	{% if protein.has_bleach_measurements %}
	    	    {% include '_bleach_table.html' %}
	    	{% else %}
	    		<p>No photostability measurements available ... <a href="{% url 'proteins:protein-bleach-form' slug=protein.slug %}" class='text-secondary'>add one!</a></p>
	    	{% endif %}
	    </div>


		<div class="sequence mt-3">
			<div class="row">
			  	<div class="col">
				  <h3 class='d-inline'>{{ protein.name | safe }} Sequence</h3>
            {% if protein.seq %}
              {% if protein.seq_validated %}
                <span id='seq-badge' data-toggle="tooltip" data-placement="right" title="This sequence has been moderated, and matches the original publication">{% icon "check" title="sequence validated" %}</span>
              {% else %}
                <button type="button" class="btn btn-link p-0" tabindex="0" data-toggle="popover" data-trigger="focus" title="Warning" data-placement="right" data-content="Note: We cannot guarantee that all sequences are 100% accurate.  Please validate externally before cloning, and consider <a href='{% url 'proteins:update' slug=protein.slug %}' class='text-secondary'>updating this page</a> if you find an error.">{% icon "alert" class_="ml-2 text-muted" style='font-size: 0.75rem; position: relative; top: -2px; cursor: pointer;' %}</button>
              {% endif %}
            {% endif %}
        </div>
      </div>
      {% if protein.seq %}
      <div class="float-sm-right text-info"><a href="{% url 'proteins:blast' %}?query={{protein.seq}}">BLAST</a></div>
      {% endif %}
      {% if protein.lineage and protein.lineage.parent %}
      <p class="text-muted">{{protein.name | safe}} was derived from
          <a href="{{protein.lineage.parent.protein.get_absolute_url}}">{{protein.lineage.parent.protein}}</a>
          with the following mutations:
          <span class="mut-rel-parent hidden">{{protein.lineage.mutation}}</span>
          <span class="mut-rel-root">{{protein.lineage.rootmut}}</span><br>
          {% if protein.lineage.root_node != protein.lineage.parent and protein.lineage.mutation != protein.lineage.rootmut %}
          <span class="small">
            amino acid numbers relative to
            <span class="mut-rel-parent hidden">{{protein.lineage.parent.protein}}</span>
            <span class="mut-rel-root">{{protein.lineage.root_node}}</span>.
            <span style="cursor: pointer;" onclick="toggleMutationDisplay(event)" class="mut-rel-parent hidden text-secondary">show relative to {{protein.lineage.root_node}}</span>
            <span style="cursor: pointer;" onclick="toggleMutationDisplay(event)" class="mut-rel-root text-secondary">show relative to {{protein.lineage.parent.protein}}</span>
          </span>
          {% endif %}
          </p>
      {% endif %}

      {% if protein.seq %}

        <div class="mt-2">
          {% if protein.seq_comment %}
          <p class='text-info small mb-1'><span class='font-weight-bold'>Note</span>: {{ protein.seq_comment | safe}}</p>
          {% endif %}
          <div class='aminosequence container'>{{ protein.seq }}</div>
        </div>
      {% else %}
          <p>no sequence available ... <a href="{% url 'proteins:update' slug=protein.slug %}" class='text-secondary'>add one!</a></p>
      {% endif %}

			{% if protein.genbank or protein.uniprot or protein.ipg_id %}
			<div class="row text-right justify-content-end">
					{% if protein.genbank %}
					<div class="col-md-3 col-sm-6">
					<small>GenBank: <a href="https://www.ncbi.nlm.nih.gov/protein/{{ protein.genbank }}" target="_blank" rel="noopener">{{ protein.genbank | default:''}}</a></small>
					</div>
					{% endif %}

					{% if protein.uniprot %}
					<div class="col-md-3 col-sm-6">
					<small>UniProtKB: <a href="https://www.uniprot.org/uniprot/{{ protein.uniprot }}" target="_blank" rel="noopener">{{ protein.uniprot | default:''}}</a></small>
					</div>
					{% endif %}

					{% if protein.ipg_id %}
					<div class="col-md-3 col-sm-6">
					<small>IPG: <a href="https://www.ncbi.nlm.nih.gov/ipg/?term={{ protein.ipg_id }}[uid]" target="_blank" rel="noopener">{{ protein.ipg_id | default:''}}</a></small>
					</div>
					{% endif %}

			</div>
			{% endif %}
		</div>

    {% if protein.pdb %}
      {% include "proteins/_structure_section.html" with protein=protein %}
    {% endif %}

    <div class="excerpts">
      <h3>Excerpts <button type="button" class="btn btn-link p-0" tabindex="0" data-toggle="popover" data-trigger="focus" title="Excerpts" data-placement="right" data-content="Excerpts are snippets from publications that capture <strong>key</strong> information about this protein that does not easily fit into one of the existing fields (such as a summary, motivation, or observation).<hr>If you believe an excerpt is inappropriate or taken out of context, you may flag it for review if you are logged in.">{% icon "info" class_="ml-2 text-muted" style='font-size: 1rem; position: relative; top: -1px; cursor: pointer;' %}</button></h3>
      {% if excerpts %}
        {% for excerpt in excerpts  %}
          {% if excerpt.status != 'rejected' %}
          <blockquote class="gray">
            <div class='flag'>
              {% flag_object excerpt %}
            </div>
            <p class='excerpt-content'>{{excerpt.content}}</p>
            {% if excerpt.reference %}
              <h4>
                <a href="{{excerpt.reference.get_absolute_url}}">{{excerpt.reference.citation}}</a>
                <a href="https://doi.org/{{ excerpt.reference.doi }}" target="_blank" rel="noopener">
                  {% icon "external-link" class_="text-info ml-2" style='font-size: 0.8rem;' %}
                </a>
              </h4>
            {% endif %}
          </blockquote>
          {% endif %}
        {% endfor %}
      {% else %}

        <p class='text-muted'>No excerpts have been added for {{protein.name | safe }}<br><em class='text-muted small'>Excerpts are snippets from publications that capture key information about this protein that does not easily fit into one of the existing fields (such as a summary, motivation, or observation).</em></p>

      {% endif %}
      <button type="button" class='btn btn-sm btn-secondary mt-1' data-toggle="modal" data-target="#excerptModal">{% icon "quote" class_="mr-2" %}Add an excerpt</button>
    </div>


		<div class="primary-ref references mt-2">
			<h3>Primary Reference</h3>
			{% if protein.primary_reference %}
				{% include "_reference.html" with ref=protein.primary_reference %}
			{% endif %}
		</div>

		<div class="additional-ref references">
			<h3>Additional References</h3>
			<ol>
				{% if protein.additional_references %}
				{% for ref in protein.additional_references %}
					<li class="mt-2 mb-2">{% include "_reference.html" %}</li>
				{% endfor %}
				{% else %}
				    <p style='color: #888;'>No additional references have been added.<p>
				{% endif %}
				<button type="button" class='btn btn-sm btn-secondary mt-1' data-toggle="modal" data-target="#referenceModal">{% icon "collection" class_="mr-2" %}Add a reference</button>
			</ol>
		</div>


    <div class="external-resources">
      <h3>External Resources</h3>
      <ul>
      {#             <li>Search <a href="https://bionumbers.hms.harvard.edu/search.aspx?task=searchbytrmorg&trm={{ protein.name | urlencode }}" target="_blank" rel="noopener">BioNumbers</a> for {{ protein.name }}</li> #}
        <li>Search <a href="https://www.addgene.org/search/advanced/?q={{ protein.name | urlencode }}" target="_blank" rel="noopener">Addgene</a> for {{ protein.name | safe}}</li>
        <li>Search <a href="https://knowledge.brc.riken.jp/resource/dna/list?query={{ protein.name | urlencode }}" target="_blank" rel="noopener">RIKEN BRC</a> for {{ protein.name | safe}}</li>
        {% if country_code == 'CN' %}
          <li>Search <a href="https://wekwikgene.wllsb.edu.cn/plasmids?search={{ protein.name | urlencode }}" target="_blank" rel="noopener">WeKwikGene</a> for {{ protein.name | safe}}</li>
        {% endif %}
      </ul>
    </div>


		<div class="text-left text-md-right mt-3">
      <a href="{% url 'proteins:protein-history' slug=protein.slug %}" class="text-muted">Change history</a>
			 <p>Something missing or incorrect?
        <a href="{% url 'proteins:update' slug=protein.slug %}" class='text-secondary d-none d-sm-inline'>Submit a change</a>
        <a role="button" href="{% url 'proteins:update' slug=protein.slug %}" class="btn btn-info btn-block mt-2 mb-3 d-block d-sm-none text-white">{% icon "upload" class_="mr-2" %}Submit a change</a>
       </p>
		</div>

<!--
		<h3>Comments</h3>
		<p class='small text-muted'><em>We welcome relevant and respectful comments. Off-topic comments may be removed.</em></p>
		<div id="disqus_thread"></div>
-->



{# {% include '_disqus.html' %} #}


{% endblock content %}

{% block modal %}

<!-- Modals -->
{% include 'proteins/modals/_excerpt_modal.html' with user=user protein=protein %}
{% include 'proteins/modals/_reference_modal.html' with user=user protein=protein %}
{% include 'proteins/modals/_add_to_collection_modal.html' with user=user protein=protein %}
{% if protein.has_spectra %}

<div class="modal fade" id="spectraURLModal" role="dialog" aria-labelledby="spectraURLModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="spectraURLModalLongTitle"><strong>Spectrum Image URL Builder</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          {% include 'proteins/modals/_spectra_url_modal.html' with protein=protein %}
        </div>
      </form>
    </div>
  </div>
</div>

{% endif %}

{% if protein.states.count > 1 %}
  {% include 'proteins/modals/_state_transition_modal.html' with transition_form=transition_form %}
{% endif %}

{% endblock modal %}


{% block extrafooter %}
    {% if debug %}
      <a href="https://www.fpbase.org{{protein.get_absolute_url}}">on FPbase</a><br/>
    {% endif %}
    {% if request.user.is_staff %}
      {% load admin_urls %}
      <a href="{% url 'admin:proteins_protein_change' protein.id %}">{{ protein.name | safe}} on admin</a><br>
    {% endif %}
{% endblock extrafooter %}


{% block javascript %}

  <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

  {% if protein.has_spectra %}
  {% vite_asset 'src/simple-spectra-viewer.js' %}
  {% endif %}

  <script type="text/javascript">
    $(function () {
      initSnapGene("{{protein.name|safe}}", '.external-resources ul');
      {% if protein.lineage %}
      initLineageChart('{{protein.slug}}');
      {% endif %}
    });
  </script>
{% endblock javascript %}
