{% extends 'base.html' %}
{% load crispy_forms_tags static %}
{% load static %}

{% block title %}{% if object %}Update {{ object.name }}{% else %}Submit a protein to FPbase{% endif %}{% endblock %}

{% block meta-description %}{% if object %}This page allows users with an account at FPbase to update information relating to the protein {{ object.name}}{% else %}This page allows users with an account at FPbase to add a new protein to the database{% endif %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{% endblock extrahead %}

{% block content %}

  <div>
    {% if object %} {% comment %} object means this is an update form {% endcomment %}
        <h1>Update {{ object.name }}</h1>
    {% else %}
        <h1>Submit a new protein</h1>
    {% endif %}

	<div class="small alert alert-info fade show mt-4" role="alert">
		<div class='h5 text-info'><i class="fas fa-eye mr-2 "></i> <strong>Thank you for contributing to FPbase!</strong></div>
		<p>You are about to suggest changes for the <em>public</em> database (not your private collection).</p>

		{% if not object %}
		<p>The only strictly required fields are name and DOI.  You may enter some fields now, and update with additional info later.</p>
		{% endif %}

		<p><strong>Once submitted, data cannot be edited or deleted without contacting FPbase.  Please double check your submission for accuracy</strong></p>
		<p>If you think there is an error or wish to make a correction, please <a href="{% url 'contact' %}">contact us</a></p>
	</div>

	{% if states.non_form_errors %}
		<h5>There were errors in the form...</h5>
		<div class="alert alert-danger" role="alert">
		  {{ states.non_form_errors }}
		</div>
	{% endif %}

	<div>
	    <form id="proteinform" action="" method="post" data-validate-proteinname-url="{% url 'proteins:validate_proteinname' %}">
	    	{% csrf_token %}
	    	<input type="hidden" name="slug" id="id_slug" value='{% if protein.slug %}{{ protein.slug }}{% endif %}'>
	        <div class='row'>
	        	<div class='col'>
	        		{% crispy form %}
				    </div>
			    </div>

        {% if lineage.non_form_errors %}
          <div class="alert alert-danger" role="alert">
            {{ lineage.non_form_errors }}
          </div>
        {% endif %}
        {{ lineage.management_form|crispy }}
        {% for lineageform in lineage.forms %}
          {% for hidden in lineageform.hidden_fields %}
                {{ hidden }}
            {% endfor %}
      <div class="row">
        <div class='col lineage-col'>
          {% crispy lineageform lineageform.helper %}
        </div>
          </div>
        {% endfor %}  <!-- end formset loop  -->

			<div class="small alert alert-info alert-dismissible fade show mt-4" role="alert">
			  <div class='h5 text-info'><i class="fas fa-info-circle mr-2 "></i> <strong>States</strong></div>
			  FPbase uses <strong>states</strong> to encapsulate the various fluorescence characteristics that a protein can have.  Even a constitutively active "basic" protein is given a (single) state.  Rather than directly specifying the "type" of protein, FPbase uses the number of states and transitions between them to determine the type of fluorescent protein.<br><br>

			  For <span style='color: green'>photo</span><span style='color: red'>chromic</span> proteins, first declare all states on this form (including dark states), then add state transitions on the main protein page.<br>More info available on the <a href="{% url 'schema' %}" class="alert-link">database model</a> info page.
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			      <span aria-hidden="true">&times;</span>
			    </button>
			</div>

	        {{ states.management_form|crispy }}
	        {% for stateform in states.forms %}
		        {% for hidden in stateform.hidden_fields %}
	                {{ hidden }}
	            {% endfor %}
				<div class="row formset_div">
					<div class='col state-col'>
						{% if stateform.instance.pk %}{{ stateform.DELETE }}{% endif %}
						{% crispy stateform stateform.helper %}
					</div>
		        </div>
	        {% endfor %}  <!-- end formset loop  -->

	        {% if object %}
	            <input type="submit" class='btn btn-primary mb-4' value="Submit" />
	            <a href="{{ protein.get_absolute_url }}"><input type="button" class='btn btn-danger mb-4' value="Cancel" /></a>
	        {% else %}
	            <input type="submit" class='btn btn-primary mb-4' value="Save Protein"/>
	        {% endif %}
	        <p style='color: gray; font-size: 0.8rem;' class='hidden transition-note'><em><i class='fas fa-exchange-alt mr-2'></i>For <span style='color: green'>photo</span><span style='color: red'>chromic</span> proteins, first declare all states on this form (including dark states), then add state transitions on the main protein page.</em></p>
	    </form>
	</div>

{% include 'proteins/modals/_organism_modal.html'  %}

{% endblock %}


{% block javascript %}

	<script type="text/javascript">

		$(function () {

			var deleteclass = 'state-delete-button'

			$('.formset_div').formset({
				addText: 'Add State',
				addCssClass: 'btn btn-info mb-4',
				deleteCssClass: deleteclass,
				deleteText: '&times;',
				processHidden: true,
				prefix: 'states' 	 // it's important that this match the string used for the
									 // related_name attribute in the "protein" foreign key field
									 // in the State model

			});

			if ($("#id_ipg_id").val()){
				//$("#id_seq").prop('disabled', true);
				//$("#hint_id_seq").html('Sequence input disabled when IPG ID provided');
			}

			// if this is an update view without post data, remove the last (empty) state
			{% if object %}
				{% if not request.POST %}
				$('.dynamic-form').last().find('.' + deleteclass).click()
				{% endif %}
			{% endif %}


			$('#id_states-TOTAL_FORMS').change(function(){
				if (this.value > 1){
					$('.transition-note').show()
				} else {
					$('.transition-note').hide()
				}
			});

			$("form").submit(function (e) {
			   if ($("#id_name").hasClass('is-invalid')) {
			      e.preventDefault();
			      $("html, body").animate({ scrollTop: 0 }, "slow");
			      return false;
			   }
			});

		})

	</script>

{% endblock javascript%}
