{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}FPbase: Advanced Fluorescent Protein Search{% endblock %}
{% block meta-description %}Build complex queries to search for fluorescent proteins in FPbase using multiple filters.{% endblock %}

{% block twitter_title %}FPbase: Advanced Fluorescent Protein Search{% endblock twitter_title %}
{% block twitter_description %}Build complex queries to search for fluorescent proteins in FPbase using multiple filters.{% endblock twitter_description %}




{% block extrahead %}
    <link rel="preload" href="{% static 'images/GFP_spinner.gif' %}" as="image">
{% endblock extrahead %}


{% block content %}

<h2>Advanced Protein Search</h2>

<p class="text-muted">Add additional rows to refine your search.  Each row is considered as an 'AND' clause in the search.  If a given search parameter is unknown for a protein in the database, that protein will be excluded from the results. If you find that you are not getting results, relax your query.</p>
<p class='text-muted'>Note: organic dyes are not yet searchable in the database, but spectra for a selection of organic dyes are available on the <a href="{% url 'proteins:spectra' %}">spectra page</a>.</p>

<div class="hidden" id="crispy-form">
 {{ filter.form |crispy }}
</div>

<form action="" method="get" class="mb-2">
    <div id="query_builder">Building form... <img width=60 src="{% static 'images/GFP_spinner.gif' %}"></i></div>
    <div class='clearfix button-row'>
    <button type="submit" class="btn btn-sm btn-primary form-group"><i class="fas fa-search"></i> Search</button>
    <button type="button" class="btn btn-sm btn-info form-group" id="add-row-btn"><i class="fas fa-filter"></i> Add Filter</button>

    {% if request.GET %}
    <div class="btn-group float-sm-right displaybuttons btn-group-toggle mb-3" data-toggle="buttons" >
      <label class="btn btn-info btn-sm btn-secondary active">
        <input type="radio" name="display" id="lbutton" autocomplete="off" checked value='l'><i class="fas fa-th"></i> display blocks
      </label>
      <label class="btn btn-info btn-sm btn-secondary">
        <input type="radio" name="display" id="tbutton" autocomplete="off" value='t'><i class="fas fa-table"></i> display table
      </label>
    </div>
    </div>
    {% endif %}
</form>


    {% if request.GET %}
        <div class="d-flex flex-column-reverse flex-sm-row justify-content-between">
            <div class="">
                <h3 style="font-weight: 300">Search Results</h3>
            </div>
            <div class="">
                <form action='{% url 'proteins:newcollection' %}' method='post' class='float-sm-right'>
                    {% csrf_token %}
                    {%for p in filter.qs %}
                        <input type="hidden" name="protein" value="{{ p.pk }}">
                    {%endfor%}
                    <button class='btn btn-info btn-sm btn-block-xs mb-3' type='submit'>Create collection from results</button>
                </form>
            </div>
        </div>

        <div class="container protein_results pl-0 pr-0">
            {% if filter.qs %}
                <div id="ldisplay" {% if request.GET.display == 't' %}class="hidden"{% endif %}>
                {% with proteins=filter.qs %}
                    {% include '_proteinlozenges.html' %}
                {% endwith %}
                </div>
                <div id="tdisplay" class="{% if request.GET.display == 'l' or not request.GET.display %}hidden{% endif %}">
                {% with proteins=filter.qs %}
                    <div class="table-responsive">
                      {% include '_proteintable.html' %}
                    </div>
                {% endwith %}
                </div>
            {% else %}
                {% if filter.recs %}
                    <p>There were no exact results, but the following proteins were similar to your query:</p>

                    <div id="ldisplay" {% if request.GET.display == 't' %}class="hidden"{% endif %}>
                    {% with proteins=filter.recs %}
                        {% include '_proteinlozenges.html' %}
                    {% endwith %}
                    </div>
                    <div id="tdisplay" class="{% if request.GET.display == 'l' or not request.GET.display %}hidden{% endif %}">
                    {% with proteins=filter.recs %}
                        <div class="table-responsive">
                          {% include '_proteintable.html' %}
                        </div>
                    {% endwith %}
                    </div>

                {% else %}
                <div>
                <p>No results found... consider adding it!</p>
                <a href="{% url 'proteins:submit' %}"><button type='button' class="btn btn-primary">Submit a new protein</button></a>
                </div>
                {% endif %}
            {% endif %}
        </div>
        {{proteins}}
    {% endif %}
{% endblock %}

{% block javascript %}

<script>
  $(function(){
    initSearch(JSON.parse('{{filter_fields|safe}}'), JSON.parse('{{filter_operators|safe}}'), JSON.parse('{{filter_labels|safe}}'))
  });
</script>

{% endblock javascript %}
