{% extends "base.html" %}
{% load static %}

{% block title %}FPbase efficiency report for {{object}}{% endblock %}
{% block meta-description %}Graphical and tabular representation of excitation and collection efficiency for each optical configuration on the scope, with each fluorophore in the database {% endblock %}

{% block twitter_card_type %}summary_large_image{% endblock twitter_card_type %}
{% block twitter_title %}FPbase efficiency report for {{object}}{% endblock twitter_title %}
{% block twitter_description %}Excitation and collection efficiency calculated for every fluorophore in the database with each optical configuration on this microscop.{% endblock twitter_description %}
{% block twitter_image %}{{ABSOLUTE_ROOT_URL}}{% static 'images/twitter_card_report.png' %}{% endblock twitter_image %}


{% block extrahead %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/fc-3.2.5/datatables.min.css"/>
{% endblock extrahead %}

{% block container-class %}
container-fluid
{% endblock container-class %}


{% block body-class %}report-body{% endblock body-class %}

{% block content %}
<div class="container">
  <h3 style="font-weight:200">Microscope efficiency report for {{object}}</h3>
  <p>This page calculates excitation efficiency and collection efficiency for every probe in the database with each optical configuration saved on this microscope. This info is combined with probe brightness to calculate a "predicted" brightness metric for each fluorophore/optical configuration pair (indicated by the size of the points on the chart).  The table below the chart can be used to explore the data more selectively.  For more information on how each efficiency metric is calculated, see the <a href="{{ HELP_URL }}tools/microscopes/efficiency">documentation</a>.</p>
  {% if needs_update or request.user.is_staff %}
  <div class="alert alert-info hidden" role="alert" id="update-alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="alert-heading" style="font-weight:400">{% if not needs_update%}(NO) {%endif%}Updates Available!</h4>
    {% if outdated|length %}
    <p>There are {{outdated | length}} outdated items in this chart. Click the "update" button below to update the report.</p>
    {% else %}
    <p id="alert-msg">Click the "update" button below to generate an efficiency report for all fluorophores in the database, matched to each optical configuration on this microscope. The initial calculation may be a minute or longer, but subsequent updates (e.g. if you change an optical config, or an FP is updated) will be faster.</p>
    {% endif %}
    <div class="row px-3">
      <div style="width: 80px">
        <form>
          <input id="request-report" class="btn btn-info" type="submit" value="Update">
        </form>
      </div>
      <div id="update-progress" class="float-left"></div>
    </div>
  </div>
  {% endif %}
  <p id="status">loading scope report... <img src="{% static 'images/GFP_spinner.gif' %}"></p>
  <div id="report_chart" class="mb-4">
    <span class="float-right needs-data hidden small text-info mr-5">&darr; click or double-click to hide/show configs</span>
    <svg></svg>
  </div>
</div>

<div class='px-5 needs-data hidden'>
    <form class='form-inline mb-3'>
      <div class="form-group mt-2 mr-3">
        <label for="probe_filter" class='pr-2 text-muted font-weight-bold'>Protein collection: </label>
        <select class="form-control form-control-sm table-filter custom-select" id='probe_filter' data-col='uuid'>
          <option value="">-----</option>
          {% for col in collections %}
            <option value="{{col.id}}" data-ids='{{col.uuids}}'>{{col.name}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group mt-2 mr-3">
        <label for="switch_filter" class='pr-2 text-muted font-weight-bold'>Switch Type: </label>
        <select class="form-control form-control-sm table-filter custom-select" id='switch_filter' data-col='switch_type'>
          <option value="">All</option>
          <option value="b">Basic</option>
          <option value="pa">Photoactivatable</option>
          <option value="ps">Photoswitchable</option>
          <option value="pc">Photoconvertible</option>
        </select>
      </div>
      <div class="form-group mt-2">
        <label for="agg_filter" class='pr-2 text-muted font-weight-bold'>Oligomerization Type: </label>
        <select class="form-control form-control-sm table-filter custom-select" id='agg_filter' data-col='agg'>
          <option value="">All</option>
          <option value="m">Monomers</option>
          <option value="d">Dimers</option>
          <option value="td">Tandem Dimers</option>
          <option value="t">Tetramers</option>
        </select>
      </div>

    </form>

  <form class='mb-3 ml-1'>
    <div class="form-row"><span class="text-muted font-weight-bold">Select Configs: </span><span id='oc-toggles' class="form-row"></span></div>
    <div class="form-row"><span class="text-muted font-weight-bold mt-3">Select Measurement: </span>
      <span id='meas-toggles' class="form-row mt-3"></span>
    </div>
  </form>

  <div class="text-right d-none d-md-block text-muted" style="font-size: 0.7rem; margin-bottom: 2px">accepts comma separated list</div>
  <table id="report_table" class="table table-striped table-bordered table-sm" width="100%"></table>
</div>

<div class="container small">
  <h5 style="font-weight:300" class="mt-4">Efficiency considerations</h5>
  <p>This report only includes probes in the database for which spectra are available. Effective brightess is only calculated for probes whose extinction coefficients and quantum yields are known. "Brightess" on this page refers to the product of excitation efficiency, collection efficiency, extinction coefficient, and quantum yield.</p>
  <p>In addition to the efficiency calculation notes in the <a href="{{ HELP_URL }}tools/microscopes/efficiency">documentation</a>, here are some things to keep in mind when evaluating this information.</p>
  <ul>
    <li><strong>Emission efficiency is often more important than excitation efficiency.</strong> Fluorophores emit a limited number of photons before bleaching, so it's important to collect as many as possible.  While we can sometimes compensate for poor excitation efficiency simply by increasing the illumination light power (at the potential cost of phototoxicity), the same cannot be said for poor collection efficiency: those lost emission photons are gone forever.  Therefore, if the "brightest" probe for a given channel has much lower collection efficiency ("em eff") than other probes, you may have better practical success with the other probes.</li>
    <li><strong>Do not forget about expression level, and FP maturation.</strong>. <em>These numbers are theoretical!</em> "Brightness" here only considers the relative compatibility of a dye with an optical configuration, and "molecular brightness" of the probe (EC * QY).  However, a rapidly maturing (or over-expressing) FP may be <em>practically</em> brighter than a poorly maturing FP, even if the rapidly maturing FP was predicted to be dimmer on this page.</li>
    <li><strong>However, for single molecule imaging...</strong> Poor FP maturation will manifest not as decreased intensity, but rather as decreased "labeling efficiency".  For single molecule experiments, you may wish to maximize collection efficiency and quantum yield.</li>
    <li><strong>Consider bleedthrough.</strong> If you are designing a multi-color experiment, note the predicted brightness for your candidate probes in <em>all</em> of optical configurations you will be using.  For example, if your brightest "green" probe has a much higher predicted brightness in your "red" channel than a slightly less-bright alternative green probe, you may experience more bleedthrough (cross-talk) with the brightest green probe than the alternative; and it might be worth trying the slightly dimmer one as well.</li>
    <li><strong>These numbers are only as accurate as the underlying spectral data.</strong>. If the spectral data for one of the probes is inaccurate, the resulting efficiency calculation will also be inaccurate.  For instance, if the spectrum for a given probe is heavily truncated, then it will (falsely) appear to have a very narrow excitation/emission spectrum and may yield an artificially high or low efficiency prediction.</li>
  </ul>
</div>

{% endblock content %}

{% block javascript %}

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/fc-3.2.5/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/absolute.js"></script>

<script type="text/javascript">
  $(function() {
      $.fn.scopeReport({
          csrfToken: "{{ csrf_token }}",
          scopeID: "{{ object.id }}",
          interval: 3000,
          outdated: JSON.parse("{{outdated}}"),
          scopeURL: "{% url 'proteins:microscope-detail' object.id %}"
      })
  });

  // In your Javascript (external .js resource or <script> tag)
  $(document).ready(function() {
      $('#probe_filter').select2({theme: 'bootstrap', width: '300px'});
  });

</script>
{% endblock javascript %}
