{% load i18n fpbase_tags %}
{% if authenticated %}
  <div class="favit{% if undo %} is-favorited{% endif %}" data-bs-toggle="tooltip" data-placement="top" title="{% if undo %}Remove from{% else %}Add to{% endif %} favorites" >
  	<a class="btn favorite" id="add_remove_favorite" href="" data-action-url="{% url 'favit:add_or_remove' %}" data-model="{{ target_model }}" data-bs-target="target_{{ target_object_id }}">
  	  <span class="icon-toggle d-none d-sm-inline">
        {% icon "heart" class_="icon-filled" %}
        {% icon "heart-outline" class_="icon-outline" %}
      </span>
      <button type="button" class="btn btn-info w-100 d-block d-sm-none">
          <span class="icon-toggle">
            {% icon "heart" class_="icon-filled" %}
            {% icon "heart-outline" class_="icon-outline" %}
          </span>
          <span class="favorite-text">{% if not undo %}Add to{% else %}Remove from{% endif %} favorites</span>
      </button>
  	</a>
  	<span class="fav-count badge badge text-bg-warning d-none d-sm-inline" >{{ fav_count }}</span>
  </div>

{% else %}
  <div class="favit" data-bs-toggle="tooltip" data-placement="top" title="Log in to add favorites" >
  	<a class="btn favorite" href="{% url 'account_login' %}?next={% firstof path '/' %}">
  	  <span class="icon-toggle d-none d-sm-inline">
        {% icon "heart" class_="icon-filled" %}
        {% icon "heart-outline" class_="icon-outline" %}
      </span>
      <button type="button" class="btn btn-info w-100 d-block d-sm-none mt-2">
          <span class="icon-toggle">
            {% icon "heart" class_="icon-filled" %}
            {% icon "heart-outline" class_="icon-outline" %}
          </span>
          <span class="favorite-text">Add to favorites</span>
      </button>
  	</a>
  	<span class="fav-count badge badge text-bg-warning d-none d-sm-inline" >{{ fav_count }}</span>
  </div>

{% endif %}
