body{
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	padding-bottom: 2rem;
	&.home-body {
		padding-bottom: 0;
	}
}


footer {
	font-size: 0.8rem;
	margin-top: 3.2rem;
	padding-top: 1.8rem;
	padding-bottom: 0rem;
	background: $footer-background;
	color: $footer-color;
    box-shadow: 0px 700px 0px 700px $footer-background;
    a {
    	color: $footer-color;
    	&:hover {
    		color: lighten($footer-color,5);
    	}
    }
    #licenselink{
    	img{opacity: 0.6;
    		&:hover{opacity: 0.9;}}
    }
}




.home-body .twitter-share-button{
	position: absolute;
	bottom: 0;
	right: 1rem;
}

.twitter-share-button {
	.fa-twitter {
		color: rgba(white, 0.7);
		&:hover {
			color: rgba(white, 0.9);
		}
	}
}


// for definition lists, like on the schema page
.description-list {
	h1,h2,h3,h4,h5{
		&.strong{
			font-weight: 600;
			color: $primary;
			margin-top: 1.5rem;
		}
	}
	//@include media-breakpoint-down(xs) { font-size: 0.9rem;}
	dd{
		dt{
			color: darken($primary, 15%);
			@include media-breakpoint-up(xs) { font-size: 0.85rem;}
			@include media-breakpoint-up(sm) { font-size: 1rem;}
		}
	}
}

.btn.active, .btn:active{
	box-shadow: 0px 1px 5px rgba($info, 0.8) !important;
}


@include media-breakpoint-down(xs) {
  .btn-block-xs {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
  }
}

@include media-breakpoint-down(sm) {
  .btn-block-sm {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
  }
}

.modal-lg {
    max-width: 85%;
    .container{
    	padding: 0 2.5rem 0 2rem;
    }
    @include media-breakpoint-down(xs) { max-width: 100%; }
}

.example-like-button {
	padding:0;
	svg {
		color: $yellow;
		&:hover{
			color: orange;
			box-shadow:none !important;
		}
	}
}


.like_buttons{
	padding-left: 1rem;
	div {
		display: inline;
	}
	a, a.active {
		color: $yellow;
		font-size:1.4rem;
		padding: 0;
		box-shadow:none !important;
		&:hover{
			color: orange;
		}
	}

	.favit{
		// fix slight shift when clicking icon
		svg[data-prefix='fas']{
			margin-right: 0.1rem;
		}
		.favorite, .favorite:active{
			box-shadow:none !important;
			padding: 0;
		}
		.badge {
			position: relative;
			bottom: -0.7rem;
			right: 0.7rem;
			font-size: 0.4rem;
			background: rgba($warning, 0.6);
			color: $gray-700;
		}
	}
}

.tooltip {
	.tooltip-inner, {
		color: $tooltip-text;
   		background-color: $tooltip-color;
	}
	&.bs-tooltip-top .arrow:before {
		border-top-color: $tooltip-color !important;
	}
	&.bs-tooltip-right .arrow:before {
		border-right-color: $tooltip-color !important;
	}
	&.bs-tooltip-left .arrow:before {
		border-left-color: $tooltip-color !important;
	}
	&.bs-tooltip-bottom .arrow:before {
		border-bottom-color: $tooltip-color !important;
	}
}

html.fa-events-icons-loading .brand,
html.fa-events-typefaces-orbitron-loading .brand {
  visibility: hidden;
}

.fontawesome-i2svg-pending body {
  display: none;
}