// single protein pages
// ------------------------

.protein-blurb {
	font-style:italic;
	color: #999;
	font-weight: 400;
	margin-top: 2rem;
	margin-bottom: 1rem;
	padding-bottom:0;
}

.protein {
	font-size: 0.9rem;

	.name {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		color: lighten($primary,10%);
		text-align: center;
	//	font-weight: 500;
	}

	h3{
    color: lighten($primary,10%);
		font-weight: 400;
    font-size: 1.3rem;
    padding-top: 1rem;
	}

  h4{
    color: $gray-700;
    font-size: 1.0rem;
  }

	.attributes {

		.table {
		margin-bottom: 0;
		font-weight: 100;
		}

		.table-header th{
		background-color: $secondary;
		border-color: rgba($white, 0.05);
		color: white;
		text-align: center;
		// 	line-height: 2em;
		}
		td{
		// 	line-height: 2em;
		text-align: center;
		}
	}

	.sequence {
		word-wrap: break-word;
	}
}

.protein_results ul {
//padding-left: 0;
}

.protein_result_item {
	&:hover{
		text-decoration: none;
	}
	div {
		&:hover{
			opacity: 1;
			box-shadow: inset 0rem 0rem 3rem rgba($black,0.1);
		}
		opacity: 0.75;
	    text-align: center;
	    color: black;
	    border-radius: .4rem;
	    margin: .2rem 0;
	    padding: 0.6rem 0.6rem;
	    height:90%;
	    h4{
	    	font-weight: 500;
	    	font-size: 1rem;
	    	color: black;
	    	margin: 0;
	    	word-wrap: break-word;
	    }
	}
}


.aminosequence{
	//
	//border: 1px dashed $gray-400;
	box-shadow: inset 0 0 2rem $gray-300;
	border-radius: 5px;
	font-size: 1.2rem;
	font-family: monospace;
	color: $gray-700;
	padding: 1rem;
	.formatted_aminosquence {
		padding: 0;
		margin: 0;
		position: relative;
		left: 2.7rem;
		margin-right: 2rem;
	}
	.sequence_count {
		float: left;
		text-align: right;
		color: red;
		position: absolute;
		margin: 0;
		padding: 0;
	}
}

#flip-scroll table { margin-bottom: 0rem !important;}

@include media-breakpoint-down(sm) {
	#flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	#flip-scroll * html .cf { zoom: 1; }
	#flip-scroll *:first-child+html .cf { zoom: 1; }

	#flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0;}
	#flip-scroll th,
	#flip-scroll td { margin: 0; vertical-align: top; line-height: 1.2em;}
	#flip-scroll th { text-align: left; }

	#flip-scroll table { display: block; position: relative; width: 100%; }
	#flip-scroll thead { display: block; float: left; }
	#flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	#flip-scroll thead tr { display: block; }
	#flip-scroll th { display: block; text-align: right; }
	#flip-scroll tbody tr { display: inline-block; vertical-align: top; }
	#flip-scroll td { display: block; min-height: 1.25em; text-align: left; }


	/* sort out borders */

	#flip-scroll th { border-bottom: 0; border-left: 0; }
	#flip-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
	#flip-scroll tbody tr { border-left: 0px solid #babcbf; }
	#flip-scroll th:last-child,
	#flip-scroll td:last-child { border-bottom: 0px solid #babcbf; }
}
