// single protein pages
// ------------------------

.protein {
	font-size: 0.9rem;

	.name {
		padding-top: 1.5rem;
		color: lighten($primary,10%);
		text-align: center;
	//	font-weight: 500;
	}

	h3{
    color: lighten($primary,10%);
		font-weight: 400;
    font-size: 1.3rem;
    padding-top: 1rem;
	}

  h4{
    color: $gray-700;
    font-size: 1.0rem;
  }

	.attributes {

		.table {
			margin-bottom: 0;
      font-weight: 100;
		}

		.table-header th{
			background-color: $secondary;
			border: none;
			color: white;
			text-align: center;
			line-height: 2em;
		}
		td{
			line-height: 2em;
			text-align: center;
		}
	}

	.sequence {
		word-wrap: break-word;
	}
}

.protein_results ul {
//padding-left: 0;
}

.protein_result_item {
	opacity: 0.75;
	&:hover{
		opacity: 1;
		text-decoration: none;
		box-shadow: inset 0rem 0rem 3rem rgba($black,0.1);
		color: white;
	}
	min-width: 260px;
	@include media-breakpoint-up(sm) {
		min-width: 160px;
		max-width: 160px;
	}
    text-align: center;
    color: black;
    border-radius: .6rem;
    margin:.2rem;
    padding: 0.6rem 0.3rem;
    h4{
    	font-weight: 500;
    	font-size: 1rem;
    	color: black;
    	margin: 0;
    }
}


.aminosequence{
	//
	//border: 1px dashed $gray-500;
	box-shadow: inset 0 0 1rem $gray-400;
	border-radius: 5px;
	font-size: 1.2rem;
	font-family: monospace;
	color: $gray-700;
	padding: 1rem;
	.formatted_aminosquence {
		padding: 0;
		margin: 0;
		position: relative;
		left: 2.7rem;
		margin-right: 2rem;
	}
	.sequence_count {
		float: left;
		text-align: right;
		color: red;
		position: absolute;
		margin: 0;
		padding: 0;
	}
}
