//Spectra page
//-----------------

path.nv-line {
  stroke-width: .06rem;
  opacity: .6;
  fill:none;
}

.nv-axis text {
    //font-family: sans-serif;
    font-size: 11px;
}

.nv-line, .nv-axis path {
    fill: none;
    //stroke: #000;
    //shape-rendering: crispEdges;
}

path.nv-area {
  opacity: 0.8;
}


/* hides NVD3 gridlines */
#spectra .tick line {display: none;}

/* change opacity of spectrum paths */

#spectra .nv-group {
  fill-opacity: .6 !important;
}

#spectra .nvd3 .nv-axis .nv-axisMaxMin text {
  font-weight: normal;
}


#spectra {
  height: 150px;
  @include media-breakpoint-up(xs){ height: 140px; }
  @include media-breakpoint-up(sm){ height: 190px; }
  @include media-breakpoint-up(md){ height: 240px; }
}

svg.nvd3-svg {
  width:100%;
  @include media-breakpoint-up(xs){ height: 170px; }
  @include media-breakpoint-up(sm){ height: 230px; }
  @include media-breakpoint-up(md){ height: 270px; }
}
