//Spectra page
//-----------------

h6 {
  margin-bottom: .6rem;
}

.spectrumpage{
  .spectra-tabs{
    font-size: small;
    margin-top: 0rem;
    padding-top: 0px;
    label.custom-control-label{ padding-top: 2px;}
    @include media-breakpoint-down(sm){
      label.custom-control-label{ padding-top: 4px;}
      font-size: 0.70rem; bottom: 15px;
    }
    @include media-breakpoint-down(xs){
      #toggle_alls p { padding-top: 1rem;}
    }
  }
  .form-inline label{
    display: inline;
  }
}


/* hides NVD3 gridlines */
#spectra, #spectrasvg {
  // spectra area fill and outline

  path {
    &.nv-line {
      stroke-width: .06rem;
      opacity: .5;
      fill:none;
    }
    &.nv-area {
      opacity: 0.8;
    }
  }

  // x axis numbers
  .tick{
    stroke: none;
    text-rendering: optimizeLegibility;
    line {
      opacity: 0;
    }
  }

  #spectrasvg .tick line{
    opacity: 0.3;
  }

  /* change opacity of spectrum paths */
  .nv-group {
    fill-opacity: .6 !important;
  }
  // prevent first and last numbers from being bold
  .nv-axisMaxMin text {
    font-weight: normal;
  }

  .nv-axis text {
      line{
        stroke: none;
        fill: none;
      }
      //font-family: sans-serif;
      font-size: 0.8rem;
      font-weight: 100;
  }

  .nv-line, .nv-axis path {
      fill: none;
      stroke: rgba($gray-700, 0.3);
      shape-rendering: geometricPrecision;
  }

  .scale-btns {
    float: right;
    margin-right: 1.25rem;
    //margin-top: -45px;
  }

}

.nvtooltip {
  border: 0.5px solid $gray-200;
  box-shadow: 0px 1px 2px 0px $gray-400;
}

.protein svg.nvd3-svg {
  width:100%;
  @include media-breakpoint-up(xs){ height: 170px; }
  @include media-breakpoint-up(sm){ height: 190px; }
  @include media-breakpoint-up(md){ height: 200px; }
  @include media-breakpoint-up(lg){ height: 230px; }
  @include media-breakpoint-up(xl){ height: 290px; }
}


.spectrumpage svg.nvd3-svg {
  width:100%;
  @include media-breakpoint-up(xs){ height: 210px; }
  @include media-breakpoint-up(sm){ height: 230px; }
  @include media-breakpoint-up(md){ height: 290px; }
  @include media-breakpoint-up(lg){ height: 360px; }
  @include media-breakpoint-up(xl){ height: 390px; }
  margin-bottom: -30px;
}

.focusnote {
  position: relative;
  bottom: 1rem;
  right: 42px;
  text-align: right;
  font-size: 0.93rem;
  font-weight: bold;
  color: #CDD;
  z-index: -1;
  @include media-breakpoint-down(sm){ font-size: 0.85rem; bottom: 15px; }
}

.nv-focusWrap.nvd3-svg{
  opacity: 0.55;
}

ul.spectra-tabs{
  a.nav-link{
    @include media-breakpoint-down(sm){ font-size: small;}
  }
}


@include media-breakpoint-up(sm){
  @supports (zoom:2) {
    .big-checkbox{
    zoom: 1.5;
    }
  }
  @supports not (zoom:2) {
    .big-checkbox{
      transform: scale(1.5);
      margin: 15px;
    }
  }
  .big-checkbox {
    margin: auto;
  }
}
.big-checkbox {
  margin-left: 0px;
}

.fluor-selector {
  max-width: 95%;
}


#efficiency-table {
  th { border-top: none;}
}

table.spectra-form {
  td {
    border-top: none;
  }
  tr.fluor-row{

  }
  tr.light-row{
    td:nth-child(1){ width: 5%; margin-right: 0; padding-right: 0;}
    td:nth-child(3){ width: 20%; padding-top: 12px;}
    td:nth-child(4){ width: 20%; padding-top: 18px;}
  }
  tr.filter-row{
    label{margin-right:0.5rem;}
    td:nth-child(1){ width: 5%; margin-right: 0; padding-right: 0;}
    td:nth-child(2){ width: 40%}
    td:nth-child(3){ padding: 0; padding-top: 12px;}
    td:nth-child(4){ padding: 0; padding-top: 12px;}
    td:nth-child(5){ padding: 0; padding-top: 12px;}
  }
  tr.emission-row{
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input {width:3rem;}
    td:nth-child(1){ width: 2%; margin-right: 0; padding-right: 0;}
    td:nth-child(3){ width: 110px; margin: 0 inherit; padding: 0 inherit;}
    td:nth-child(4){ width: 100px; margin: 0 inherit; padding: 0 inherit;}
    td:nth-child(5){ width: 7%; input {width:3.1rem;}}
  }
}


.efficiency-vgood {
  font-weight: 700;
  color: $gray-900;
}
.efficiency-good {
  font-weight: 500;
  color: $gray-800;
}
.efficiency-bad {
  font-weight: 300;
  color: $gray-700;
}
.efficiency-vbad {
  font-weight: 200;
  color: $gray-600;
}

.inline-td-link {
  margin-left: 0.8rem;
  color: $info;
  font-size: 0.8rem;
}

.svg-container{
  position: relative;
}

#y-zoom-slider{
  position: absolute;
  right: 1.1%;
  width: 8px;
  height: 90%;
  top: 50px;
  @include media-breakpoint-down(md){ width: 6px; top: 42px; }
  @include media-breakpoint-down(sm){ width: 5px; top: 38px; }

}
.noUi-vertical .noUi-handle {
  width: 20px;
  height: 28px;
  left: -7px;
  @include media-breakpoint-down(md){ height: 25px; left: -8px; }
  @include media-breakpoint-down(sm){ height: 20px;  left: -9px;}
}

.noUi-handle:after, .noUi-handle:before {
  display: none;
}

#optionstab {
  #options-form {
    font-size: 0.95rem;
    .form-row {
      margin-bottom: 0.4rem;
    }
  }
  button {
    margin-top: 0.5rem;
  }
}

.select2-selection {
  width:100% !important;
  font-size: 0.8rem;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, {
  box-shadow:none;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered{
  padding-left: 0.5rem;
}

.select2-dropdown {
  font-size: 0.8rem;
}

.btn-sm.remove-row {
  padding: 0 0.6rem 0 !important;
}

.item-link .btn-sm {
  font-size: 0.5rem !important;
  line-height: 1.33rem;
  &:focus{
    box-shadow: none;
  }
}

.nvd3 text.nv-legend-text {
  font-size: 0.7rem;
}

.spectra-form .row {
  padding-bottom: 5px;
  padding-top: 5px;
}
.spectra-form .row:nth-child(n+2) {
  @include media-breakpoint-down(xs){ border-top: 1px solid #ddd };
}

