


@import "options";  // custom bootstrap overrides


@import "variables"; // my overrides
@import "bootstrap";

// project specific CSS goes here


































@import "main";
@import "home";
@import "nav";
@import "protein";
@import "reference";
@import "spectra";
@import "table";
@import "ichart";
@import "forms";
@import "social";
@import "spectra";

////////////////////////////////
    //Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}

.modal-open .modal.modal-center {
    display: flex!important;
    align-items: center!important;
    .modal-dialog {
        flex-grow: 1;
    }
}

.btn-xs {
  @include button-size(.15rem, .45rem, ($font-size-base * .70), 1.1rem, $btn-border-radius-sm);
}

.btn-group-xs > .btn { @extend .btn-xs; }


i {border: none}


////////////////////////////////
    //Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
    //Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}
