{% extends "base.html" %}

{% block content %}
<h1><strong>FP</strong>base</h1>

<h3><strong>A database for users of fluorescent proteins</strong></h3>

<p>FPbase is designed to be a source of information for people using fluorescent proteins in their research (such as in fluorescence microscopy).  It is not (at least intially) designed to be a comprehensive source of information about all fluorescent proteins ever developed.  However, we welcome additions and suggestions!  If there is an aspect of fluorescent proteins that you think should be represented here, let us know!</p>

{% endblock content %}