{% extends "base.html" %}
{% load static i18n %}

{% block meta-description %}FPbase is a moderated, user-editable fluorescent protein database designed by microscopists.  Search, share, and organize information about fluorescent proteins and their characteristics.{% endblock %}


{% block extrahead %}
{% endblock extrahead %}

{% block body-class %}home-body{% endblock body-class %}
{% block body %}
<div class="cover-wrapper" style='background: url("/static/images/blurry_egfp.png") no-repeat center center'>
	<div class="cover-wrapper-inner">
		<nav class="navbar navbar-expand-sm navbar-dark bg-transparent fixed-top">
			{% block navcontainer %} {% include "_nav.html" %} {% endblock navcontainer %}
		</nav>
    <noscript>
        <div class="container text-center mt-0 bg-dark text-white pt-3 pb-4"><p><strong>Javascript is disabled!&nbsp;  Many pages and features of FPbase will not work properly</strong></p>
          <form class="input-group home-search" method="get" action="/search/">
            <input type="search" class="form-control" name="name__icontains" placeholder="protein name...">
            <span class="input-group-append">
              <button class="btn btn-secondary" type="submit">search</button>
            </span>
          </form>
        </div>
    </noscript>
		<main role="main" class="cover-container container">
			<div class="row">
				<div class="col-md-7 align-self-center text-center search-col order-sm-2 search-col" style="display: none;">
					<p class="cover-heading">Find a Protein</h1>
						<form class="input-group home-search" method="get" action="/search/">
							<input type="search" class="form-control" name="name__icontains" placeholder="protein name...">
							<span class="input-group-btn">
								<button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
							</span>
						</form>
					<p class="m-t-4 advanced-search"><a href="{% url 'proteins:search' %}">advanced search</a></p>
{# 					<p class='m-t-4' style="color:#ccc"><br><i class='fa fa-info-circle'></i>  <em><a href='{% url "beta" %}' style="color:#ccc">FPbase is in beta</a></em></p> #}
				</div>
				<div class="col-md-4 align-self-center order-sm-1" id="protein-image">
					<img src="{% static 'images/blurry_egfp.png' %}" style="position: absolute;" class="img-fluid no-glow" alt="EGFP image">
					<img src="{% static 'images/blurry_egfp_glow.png' %}" style="display: none; position: absolute;" class="img-fluid glow" alt="EGFP image">
				</div>
			</div>
		</main>
		{% include '_twittershare.html' %}
	</div>
	<!-- cover-wrapper-inner -->
</div>
<!-- cover-wrapper -->
{% endblock body %}

{% block javascript %}
	<script type="text/javascript">
	$(document).ready(function() {
		$(".search-col").fadeIn(600)
		$("#protein-image img.no-glow").fadeOut(2400)
		$("#protein-image img.glow").fadeIn(2400)
	});
	</script>
{% endblock javascript %}
