{% extends "base.html" %}


{% block extrahead %}
<script src="https://cdn.jsdelivr.net/npm/vega@4.3.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc8"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@3.20.0"></script>
{% endblock extrahead %}


{% block content %}
  <div id="vis"></div>
{% endblock content %}


{% block javascript %}

<script>

  $.get("http://localhost:8000/spectra/egfp_default", function(json){
    var data = {name: 'egfp', values: []}
    for (var i of json.spectra){
      for (var v of i.values){
        v.symbol = i.key;
        v.color = i.color;
        data.values.push(v)
      }
    }
    console.log(data)
    const spec =
      {
        "$schema": "https://vega.github.io/schema/vega-lite/v3.0.0-rc8.json",
        data,
        "width": 800,
        "height": 400,
        "layer": [
          {
            "encoding": {
              "x": {"field": "x", "type": "quantitative"},
              "y": {"field": "y", "type": "quantitative"},
              "color": {"field": "symbol", "type": "nominal"}
            },
            "layer": [{
              "mark": "area"
            },{
              "selection": {
                "tooltip": {
                  "type": "single",
                  "nearest": true,
                  "on": "mouseover",
                  "encodings": [
                    "x"
                  ],
                  "empty": "none"
                }
              },
              "mark": "point",
              "encoding": {
                "opacity": {
                  "condition": {
                    "selection": "tooltip",
                    "value": 1
                  },
                  "value": 0
                }
              }
            }]
          },
          {
            "transform": [
              {
                "filter": {
                  "selection": "tooltip"
                }
              }
            ],
            "layer": [{
              "mark": {
               "type": "rule",
               "color": "gray"
              },
              "encoding": {
                "x": {
                  "type": "quantitative",
                  "field": "x"
                }
              }
            }, {
              "mark": {
                "type": "text",
                "align": "left",
                "dx": 5,
                "dy": -5
              },
              "encoding": {
                "text": {
                  "type": "quantitative",
                  "field": "y"
                },
                "color": {
                  "type": "nominal",
                  "field": "symbol"
                },
                "x": {
                  "type": "quantitative",
                  "field": "x"
                },
                "y": {
                  "type": "quantitative",
                  "field": "y"
                }
              }
            }]
         }
       ]
      }


    vegaEmbed('#vis', spec, {defaultStyle: true});
  });
</script>

{% endblock javascript %}
